/**This is to test changes to the library side, any new classes or IDs etc will be added in a special section below**/

/***---Start of new library client side CSS---**/

#header.header-library {
	background-color: #a2aac4;
}

#main-left {
	width: 30%;
	padding: 1em;
	float: left;
	display: inline;
	margin-bottom: 1em;
}

#main-right {
	width: 65%;
	padding: 1em;
	float: right;
	display: inline;
	margin-bottom: 1em;
}

lib-nav-primary
{
  background-color: ;
  display: block;
  float: left;
  width: 100%;
  margin: 0em;
  font-size: 1.4em;
  border-bottom: #4363a1 solid 5px;
}

lib-nav-primary ul
{
  margin-top: .5em;
  padding: 0px;
}

lib-nav-primary ul li
{
  list-style-type: none;
  display: inline;
}

lib-nav-primary li a
{
  margin-right: .8em;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  display: block;
  float: left;
  padding: .2em .5em;
  text-decoration: none;
}


/* #lib-navigation link states */
/* unvisted link */
lib-nav-primary li a:link {
  background: #0f4072;/*main dark green colour*/
  text-decoration: none;
  color: #fff;
}
/* visited link */
lib-nav-primary li a:visited {
  background: #0f4072;
  color: #fff;
}
/* mouse over link */
lib-nav-primary li a:hover { 
  background: #4363a1; 
  color: #fff;
}
/*selected link */
lib-nav-primary li a:active {
  background: #4363a1;
  color: #fff;
}

/* focus over link */
lib-nav-primary li a:focus { 
  background: #4373a1; 
  color: #fff;
}

lib-nav-primary li a.current_tab {
  background: #4373a1; 
  color: #fff;
}

#csssubmenu 
{
  background-color: #6b99cc;
  display: block;
  float: left;
  width: 100%;
  margin: 0em;
  font-size: 1em;
}

#csssubmenu ul
{
  margin-top: .5em;
  padding: 0px;
}

#csssubmenu ul li
{
  list-style-type: none;
  display: inline;
}

#csssubmenu li a
{
  margin: 0em .4em;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  display: block;
  float: left;
  padding: .2em .5em;
  text-decoration: none;
}

/* #lib-Navigation link states */
/* unvisted link */
#csssubmenu li a:link {
  background: #4373a1;
  text-decoration: none;
  color: #fff;
}
/* visited link */
#csssubmenu li a:visited {
  background: #4373a1;
  color: #fff;
}
/* mouse over link */
#csssubmenu li a:hover { 
  background: #f3f3f3; 
  color: #505050;
}
/*selected link */
#csssubmenu li a:active {
  background: #4373a1;
  color: #fff;
}

/* focus over link */
#csssubmenu li a:focus { 
  background: #4373a1; 
  color: #fff;
}



#csssubmenu li.current_tab a
{
    color: #000 ;
    background-color: #f3f3f3 ;
}

#instructions {
    margin: 0em 1em 1em 1em;
    display: block;
    padding: 1.25em; 
}

/* Circle has been created to highlight alerts */

.circle {
  font-size: .8em;
  font-family: sans-serif;
  padding: .2em;
  margin: .2em;
  -moz-border-radius: 0px;
    -webkit-border-radius: .5em;
  border-radius: .5em;
  padding: 0px 4px;
  color: #fff;
  background-color: #ff0000;
  box-shadow: 2px 2px 2px #777;
}

#center {
  margin-top: 1em;
  display: block;
  clear: left;
}

.table-width-lib {
  width: 90%;
}

/***---End of new library client side CSS--**/


