

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1em;
}

/* unvisted link */
 a:link {
 	text-decoration: none;
	color: #183935;
}

/* visited link */
 a:visited {
	color: #183935;
}

/* mouse over link */
 a:hover {
 	text-decoration: none;
	color: #383;
}

/*selected link */
 a:active {
	color: #183935;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

img 
{
	height: auto;
	max-width: 100%;
}

h2 {
	display: inline;
	border-bottom: .5em;
	color: #383;
	font-size: 1.2em;
	text-transform: capitalize;
}

h3 {
	
	color: #486660;
	font-size: 1em;
	text-transform: ;
}

#container
{
	margin: auto;
	padding: ;
	width: 90%;
	height: auto;
	min-width: ;
	
}

header
{
	display: block;	
}

input {
	margin: 5px 0px 0px 0px;
	width: auto;
	height: 2em;
	font-size: 1em;
}

nav
{
	display: block;
	float: left;
	width: 100%;
	margin-bottom: .5em;
	min-width: 480px;
	font-size: 1.4em;
	border-bottom: #06a0ca solid 5px;
}

nav ul
{
	margin: 0px;
	padding: 0px;
}

nav ul li
{
	list-style-type: none;
	display: inline;
}

nav li a
{
	margin-right: 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	display: block;
	float: left;
	padding: 5px 10px;
	text-decoration: none;
}

/* Navigation link states */
/* unvisted link */
nav li a:link {
 	background: #183935;/*main dark green colour*/
 	text-decoration: none;
	color: #fff;
}
/* visited link */
nav li a:visited {
	background: #183935;
	color: #fff;
}
/* mouse over link */
nav li a:hover { 
	background: #06a0ca; 
	color: #fff;
}
/*selected link */
nav li a:active {
	background: #183935;
	color: #fff;
}

nav li a.current_tab {
	background: #06a0ca; 
	color: #fff;
}

#search-container {
	width: 100%;
	display: block;
}

#search
{
	float: left;
	width: 100%;
	height: ;
	display: inline;
  	min-width: 480px;
  	margin-bottom: 1.2em;
  	vertical-align: middle;
  	text-align: center;
	display: block;
  	padding: 1.25em; 
  	border-bottom: 5px solid #e3e3e3;
}

#main-container {	
	width: 100%;
	display: inline;
}

#main
{
	float: right;
	width: 80%; 
  	padding: 1.25em; 
}

#aside
{
	float: left;
	width: 18%;
	margin-bottom: 1.5em;
	display: inline;
  	padding: 1em; 
}

#aside img {
	padding: 0em;
}

#main-info-left
{
	float: left;
	width: 70%;
	margin-bottom: 1em;
	display: inline;
  	padding: 1.25em; 
  	min-width: 480px;
}

#main-info-right
{
	float: right;
	width: 70%;
	margin-bottom: 1em;
	display: inline;
  	padding: 1.25em; 
  	min-width: 480px;
}

#main-info-welcome 
{
	float: right;
	display: block;
	clear: right;
	width: 50%;
	height: auto;
	font-size: 1.5em;
	margin-bottom: ;
	margin-top: 1em;
  	padding: 1.25em; 
  	background: #e3e3e3;
	border: 1px solid  #c9c9c9;  
}

#aside-img-welcome {
	float: left;
	width: 40%;
	height: auto;
	margin-bottom: 1.5em;
	margin-top: 1em;
	display: inline;
  	padding: 0px; 
}


#aside-img-right
{
	float: right;
	width: 27%;
	min-width: 200px;
	margin-bottom: 1.5em;
	display: inline;
  	padding: 0px; 
  	font-size: 1.2em;
}

#aside-img-left
{
	float: left;
	width: 27%;
	min-width: 200px;
	margin-bottom: 1.5em;
	display: inline;
  	padding: 0px;
  	font-size: 1.2em; 
}

.tone-box 
{
	background: #e3e3e3;
	border-bottom: 3px solid  #b3b3b3;
}

.lighter-box {
	
}

.welcome-box {
	font-size: 1em;
	border: 0px;
 	float: right;
	display: block;
	clear: right;
	width: 50%;
	height: auto;
	padding: 1em;
	margin: 1em 0em;
}

.covers {
	height: 220px;
	width: 150px;
	border: 3px solid #e3e3e3;
	margin-top: 1em;
	margin: 3px;
}
.covers:hover {
	border: 3px outset #c0c0c0; 

}

footer
{
	clear: both;
	display: block;
	width: 100%;
	border-bottom: 3px solid #aabdba;
	background: #d9efec;
	text-align: center;
	padding: .5em;
	font-size: .8em;
	margin-top: 1em;
}

#butlink {
	padding: .5em;
	border: 1px solid #000;
	margin: 10px;
	background-color: #183935;
	color: #fff;!important
	font-size: 1.4em;
	text-transform: capitalize;
}

#butlink:link {
	background-color: #183935;
}

#butlink:visited {
	background-color: #183935;
}

#butlink:hover {
	background-color: #06a0ca;
	border: 1px solid #06a0ca;
}

#butlink:active {
	background-color: #183935;
	font-style: bold;
}

button {
	font-size: 1.4em;
	margin: .5em;
	padding: .3em;
}

.button-left {
	float: left;
	clear: right;
	font-size: 1.4em;
	margin: 1em;
	padding: .3em;
}

.button-right {
	float: right;
    font-size: 1.4em;
	margin: 1em;
	padding: .3em;
}

#fill-button
{
	font-size: 1.4em;
	margin: 1em;
	padding: .3em 1em;
	border: 1px solid black;
	background: #e3e3e3;
}

#fill-button:hover {
	background: #d3d3d3;
	color: #383;
}

#header_logo_div {
    float: left;
}

#logout_button_div {
    float: right;
}

#patron_header_info {
    display: block;
    clear: all;
    float: right;
    color: #505050;
    text-align: right;
    font-size: .8em;
    margin: 1em;
    padding: .3em;
}

}
.tone-box.button-left {
	float: left;
	margin-right: 1em;
}

.fill {
	color:#fff; 
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.fill-logo {
	display: inline;
	width: 200px;
	border: 0px;
}

.fill-tagline 
{
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 0px;
	color: #505050;
	text-transform: capitalize;
}

.fill-info 
{
	display: inline;
	float: right;
	text-align: right;
}

/*** FILL #fill-table STYLES **/

#fill-table {
  	border-collapse: collapse;
  	width: 70%;
  	margin: 1em;
	background: #f3f3f3;
	border: 2px solid #505050;
	color: #505050;
	padding: .5em;
}

#fill-table td {
	padding: 1em;
}

#fill-table th {
	font-weight: bold;
	font-size: 1.2em;
}

#fill-table td, #fill-table th {
  border: 1px solid #fff;
}
#fill-table tr:first-child th {
  border-top: 0;
}
#fill-table tr:last-child td {
  border-bottom: 0;
}
#fill-table tr td:first-child,
#fill-table tr th:first-child {
  border-left: 0;
}
#fill-table tr td:last-child,
#fill-table tr th:last-child {
  border-right: 0;
}

.bison 
{
	display: block;
	margin: auto;
	border: 0px;
}

#bison-container {
	background-color: #fff;
}

.note {
	font-size: .5em;
	color: #b3b3b3;
}

/*------------login styles---------------------------------*/

.login {
  width: 50%;
  margin: auto;
}

.login-content {
  display: block;
  clear: all;
  margin-top: 40px;
  border: 2px solid #505050;
  background-color: #f3f3f3;
  font-size: 1em;
  font-family: sans-serif;
}

.login p {
  padding: .8em;
}

.login-header {
  background-color: #183935;
  height: 3em;
}

.login-header-title {
  color: #fff;
  font-size: 2em;
  padding: .5em;
}

.login-footer {
  display: block;
  margin: auto;
}

fieldset input {
	vertical-align: middle;
}

fieldset input span {
	 vertical-align: middle;
}

div.login fieldset {
  margin: 1em 0em 0em 0em;
  padding: 5px;
  border: none;
  width: 100%;
  
}
div.login label {
  display: block;
  clear: left;
  float: left;
  text-align: center;
  padding: 0;
  width: 8em;
  font-size: 1em;
}

div.login input {
  margin-left: 10px;
}

/* image courtesy of http://www.famfamfam.com/lab/icons/silk/  */
#authen_loginfield {
  background-color: #fff;
  border-top: solid 1px #565656;
  border-left: solid 1px #565656;
  border-bottom: solid 1px #a2aac4;
  border-right: solid 1px #a2aac4;
  padding: 2px 0 2px 18px;
  margin: 0.3em 1.5em;
  width: 12em;
}
/* image courtesy of http://www.famfamfam.com/lab/icons/silk/  */
#authen_passwordfield {
  background-color: #fff;
  border-top: solid 1px #565656;
  border-left: solid 1px #565656;
  border-bottom: solid 1px #a2aac4;
  border-right: solid 1px #a2aac4;
  padding: 2px 0 2px 18px;
  margin: 0.3em 1.5em;
  width: 12em;
}

#divChangePass { 
	display: none;
	padding: .8em;
  	width: 70%;
  	margin: 1em;
	background: #f3f3f3;
	border: 2px solid #505050;
	color: #505050;
	padding: .5em;
}

/*-------SEARCH RESULTS STYLES-----------------*/

.record {
        margin-bottom: 1em;
}

#reqeust_form_div {
        float: left;
	clear: left;
}

.primary_info {
	width: 100%;
	margin: 1em;
	background-color: #e3e3e3;
	padding: .7em;
	border: 2px solid #b3b3b3;
	float: left;
	clear: left;
}

.details {
	border-top: 1px solid #b3b3b3; 
	border-bottom: 1px solid #ffffff;
	padding: 1em; 
	background-color: #f3f3f3; 
	margin: 5px;
}

.secondary_info {
	display: none; 
	width: 100%; 
	background-color: #f3f3f3; 
	font-size: .8em; 
	color: #505050;
}

#pager {
	color: #383;
}

/*------------------------------------------------------*/
/* from Ohio Web Library */
#progress_empty {
    float: left !important;
}
#progress_filler {
    float: left !important;
}
#stat {
    width: 250px;
}
/*------------------------------------------------------*/
