/**This is to test changes to the library side, any new classes or IDs etc will be added in a special section below**/

/***---Start of new library client side CSS---**/

#header.header-library {
	background-color: #a2aac4;
}

#main-left {
	width: 30%;
	padding: 1em;
	float: left;
	display: inline;
	margin-bottom: 1em;
}

#main-right {
	width: 65%;
	padding: 1em;
	float: right;
	display: inline;
	margin-bottom: 1em;
}

#lib-nav-primary
{
  background-color: ;
  display: block;
  float: left;
  width: 100%;
  margin: 0em;
  font-size: 1.4em;
  border-bottom: #6a99c9 solid 5px;
}

#lib-nav-primary ul
{
  margin-top: .5em;
  padding: 0px;
}

/* #lib-navigation link states */
/* unvisted link */
#lib-nav-primary li a:link {
  background: #0f4072;/*main dark blue colour*/
  text-decoration: none;
  color: #fff;
}
/* visited link */
#lib-nav-primary li a:visited {
  background: #0f4072;
  color: #fff;
}
/* mouse over link */
#lib-nav-primary li a:hover { 
  background: #6a99c9; 
  color: #fff;
}
/*selected link */
#lib-nav-primary li a:active {
  background: #6a99c9;
  color: #fff;
}

/* focus over link */
#lib-nav-primary li a:focus { 
  background: #6a99c9; 
  color: #fff;
}

#lib-nav-primary li a.current_tab {
  background: #6a99c9; 
  color: #fff;
}

#csssubmenu 
{
  background-color: #6b99cc;
  display: block;
  float: left;
  width: 100%;
  margin: 0em;
  font-size: 1em;
}

#csssubmenu ul
{
  margin-top: .5em;
  padding: 0px;
}

#csssubmenu ul li
{
  list-style-type: none;
  display: inline;
}

#csssubmenu li a
{
  margin: 0em .4em;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  display: block;
  float: left;
  padding: .2em .5em;
  text-decoration: none;
}

/* #lib-Navigation link states */
/* unvisted link */
#csssubmenu li a:link {
  background: #0f4072;
  text-decoration: none;
  color: #fff;
}
/* visited link */
#csssubmenu li a:visited {
  background: #0f4072;
  color: #fff;
}
/* mouse over link */
#csssubmenu li a:hover { 
  background: #f3f3f3; 
  color: #505050;
}
/*selected link */
#csssubmenu li a:active {
  background: #0f4072;
  color: #fff;
}

/* focus over link */
#csssubmenu li a:focus { 
  background: #0f4072; 
  color: #fff;
}

#csssubmenu li.current_tab a
{
    color: #000 ;
    background-color: #f3f3f3 ;
}

#instructions {
    margin: 1em 0em;
    display: block;
    padding: 1.25em; 
}

/* Circle has been created to highlight alerts */

.circle {
  font-size: .8em;
  font-family: sans-serif;
  padding: .2em;
  margin: .2em;
  -moz-border-radius: 0px;
    -webkit-border-radius: .5em;
  border-radius: .5em;
  padding: 0px 4px;
  color: #fff;
  background-color: #ff0000;
  box-shadow: 2px 2px 2px #000;
}

#center {
  margin-top: 1em;
  display: block;
  clear: left;
}

.table-width-lib {
  width: 90%;
}

/*-- specific to make_request.tmp --*/
#toptwo {
    width: 100%;
    float: left;
    background-color: #e3e3e3;  /* apply bg to containing div */
}

#midleft {
    width: 50%;
    padding: 1em;
    float: left;
    margin-bottom: 1em;
}

#midright {
    width: 45%;
    margin: .5em;
    padding: 1em;
    float: left;
    background-color: #d3d3d3;
}

#midfooter {
    width: 100%;
    padding: 1em;
    clear: both;
    margin-bottom: 1em;
}

#library-info {
  margin: 1em;
  background-color: #fff;
  border: #e3e3e3 2px solid;
  font-style: bold;
  font-size: 1.2em;
}

/***---End of new library client side CSS--**/


