/*------------- specific to chat ---------------*/
#chat-div {
    border: 1px solid;
}

#start-chat-button-div {
}

.channels {
    clear: both;
    width: 100%;
}

.single-channel {
    border:1px solid; 
    float:left; 
    width:300px;
    display:none;
}

.messages {
}

.chat-entry {
    display: block;
}
.chat-input {
    width: 100%;
}
