/*------------- specific to chat ---------------*/
#chat-div {
    /* border: 1px solid; */
    clear: both;
}

#start-chat-button-div {
}

.channels {
    clear: both;
    width: 100%;
}

.single-channel {
    border:1px solid; 
    float:left; 
    width:300px;
    display:none;
    background-color: #D7D7C4;
    font-size: 1em;
}

.messages {
    text-align: left;
    font-size: 1em;
}

.chat-entry {
    display: block;
}

/* need "input" to make this more specific than
   input[type="text"] in another css file... */
input.chat-input { 
    width: 85%;
    margin: .5em 1em;
    padding: .3em;
    font-size: 1.2em;
    padding-left:10px;
    
    background-color: #fff;
    border:solid 1px #505050;
    border: 2px #c3c3c3 solid;
}

.user_name, .user_message {
}