

*, *:before, *:after {
}

/* unvisted link */
 a:link {
	color: #000;
}

/* visited link */
 a:visited {
	color: #000;
}

/* mouse over link */
 a:hover {
	color: #959595;
}

/*focus over link*/
a:focus {
	color: #959595;
}

/*selected link */
 a:active {
	color: #000;
}

html, body {
    background: #fff;
}

img 
{
}

h1 {
	color: #000;
}

h2 {
	color: #000;
}

h3 {
	color: #000;
}

#container
{
}

/**HEADER STYLES**/

header {
}

#header-left {
}

#header-right {
}

#fill-logo {
}

#fill-tagline 
{
	color: #000;
}

#logout-button {
    color: #fff;
}

#patron-info {
    color: #000;
}

nav
{
}

nav ul
{
}

nav ul li
{
}

nav li a
{
}

#pub-nav-primary {
	border-bottom: #959595 solid 5px;
}

/* #pub-nav-primaryigation link states */
/* unvisted link */
#pub-nav-primary li a:link {
 	background: #000;
	color: #fff;
}
/* visited link */
#pub-nav-primary li a:visited {
	background: #000;
	color: #fff;
}
/* mouse over link */
#pub-nav-primary li a:hover { 
	background: #959595; 
	color: #fff;
}
/*selected link */
#pub-nav-primary li a:active {
	background: #000;
	color: #fff;
}

/* focus over link */
#pub-nav-primary li a:focus { 
	background: #959595; 
	color: #fff;
}

#pub-nav-primary li a.current_tab {
	background: #959595; 
	color: #fff;
}
#search-container {
}

#search
{
  	border-bottom: 5px solid #fff;
}

#main
{
}

#aside
{
}

#aside img {
}

#progress_empty {
	background-color:#fff;
	border:1px solid #959595;
}
#progress_filler {
	background-color:#959595;
}


#main-info-left
{
}

#main-info-right
{
}

#aside-img-welcome {
}

#main-info-welcome 
{
}

#aside-img-right
{
}

#aside-img-left
{
}

.tone-box 
{
	background: #efefef;
	border-bottom: 3px solid  #959595;
}

.lighter-box {
}

.covers {
	border: 3px solid #fff;
}
.covers:hover {
	border: 3px dashed #959595; 
}

.covers:focus {
	border: 3px dashed #959595; 
}

footer
{
	border-bottom: 3px solid #000;
	background: #fff;
}
/*--Button and input styles--*/

input[type=text]
{
    background-color: #fff;
    border: 2px #959595 solid;
}

input[type=password]
{
    background-color: #fff;
    border: 2px #959595 solid;
}

input[type=submit]
{
    color: #fff;
}

input[type=submit]:hover
{
	background-color: #959595;
	color: #fff;
}

input[type=button]
{
    color: #fff;
}

input[type=button]:hover
{
	background-color: #959595;
	color: #fff;
}

input[type=submit]:focus
{
	background-color: #959595;
	color: #fff;
}


input[type=text], input[type=password]
{
}

.public-style {
    background-color: #000;
    color: #fff;
}

.library-style {
    background-color: #000;
    color: #fff;
    border: 0px;
}

#fill-button {
    color: #fff;
}

#fill-button:hover {
    background: #959595;
}

#fill-button:focus {
    background: #959595;
}

#butlink {
	color: #fff !important;
}

#butlink:link {
	color: #fff;
}

#butlink:visited {
}

#butlink:hover {
	background-color: #959595;
	border: 1px solid #959595;
}

#butlink:focus {
	background-color: #959595;
	border: 1px solid #959595;
}

#butlink:active {
}

button {
	color: #fff !important;
}

.button-left:link {
	color: #fff !important;
}

.button-left:hover {
	background-color: #959595;

}

.button-left:focus {
	background-color: #959595;
}

.button-right {
	color: #fff !important;
}

.tone-box.button-left {
}

/*discontinued for text based fill logo
.fill {
	color:#fff; 
}*/

.fill-info 
{
	background: red;/*dev test remove later*/
}

/* Search page / search results */
div.termtitle {
}



/*** FILL #fill-table STYLES **/

#fill-table {
	background: #fff;
	border: 2px solid #959595;
	color: #000;
}

#fill-table td {
}

#fill-table th {
}

#fill-table td, #fill-table th {
  border: 1px solid #fff;
}
#fill-table tr:first-child th {
}
#fill-table tr:last-child td {
}
#fill-table tr td:first-child,
#fill-table tr th:first-child {
}
#fill-table tr td:last-child,
#fill-table tr th:last-child {
}

.table-width-pub {
}

.bison 
{
}

#bison-container {
    background-color: #fff;
}

.note {
    color: #959595;
}

.indent {
    color: #000;
}

#clear {
}

.fill-help {
}

/*------------login styles---------------------------------*/

.login {
}

.login-content {
  border-bottom: 5px solid #959595;
  background: #fff;
}

.login p {
}

.login-header {
  background-color: #000;
}

.login-header-title {
  color: #fff;
}

.login-footer {
}

fieldset input {
}

fieldset input span {
}

div.login fieldset {
}

div.login label {
}

div.login input {
}

#divChangePass { 
    background: #fff;
    border: 2px solid #000;
    color: #000;
}

/*-------SEARCH RESULTS STYLES-----------------*/

.record {
    margin-bottom: 1em;
}

#reqeust_form_div {
    float: left;
    clear: left;
}

.primary_info {
    background-color: #fff;
    border: 2px solid #959595;
}

.details {
    border-top: 1px solid #959595; 
    border-bottom: 1px solid #ffffff;
    background-color: #fff; 
}

.secondary_info {
    background-color: #fff; 
    color: #000;
}

#pager {
    color: #959595;
}

/*------------------------------------------------------*/
/* from Ohio Web Library */
#progress_empty {
}

#progress_filler {
}

#stat {
}
/*------------------------------------------------------*/
/*Mobile styles. The site is generally responsive, however not great on smaller phone screen. These styles will address this*/
@-ms-viewport {
    width: device-width;
}

@media screen 
and (max-width : 65em) 
{

    #container
    {
    }

    button {
    }	

    #header-left {
    }

    #header-right {
    }

    nav li a
    {
    }

    input[type=text]
    {
	background-color: #fff;
	border:solid 1px #000;
	border: 2px #959595 solid;
    }



    #search-container {
    }

    .login {
    }

    #main
    {
    }

    #aside
    {
    }

    #main-info-left
    {
    }

    #main-info-right
    {
    }

    #aside-img-welcome {
    }
    
    #main-info-welcome 
    {
    }

    #welcome-box {
    }

    #aside-img-right
    {
    }

    #aside-img-left
    {
    }

    footer {
    }

    .record {
    }
    .record
    .primary_info {
    }

    .secondary_info {
    }

} /* end of @media */


/*----------------------------------------------------------
  From fILL-library-accessible.1.0.css
----------------------------------------------------------*/
#header.header-library {
	background-color: #fff;
}

#main-left {
}

#main-right {
}

#lib-nav-primary
{
  border-bottom: #959595 solid 5px;
}

#lib-nav-primary ul
{
}

/* #lib-navigation link states */
/* unvisted link */
#lib-nav-primary li a:link {
  background: #000;
  color: #fff;
}
/* visited link */
#lib-nav-primary li a:visited {
  background: #000;
  color: #fff;
}
/* mouse over link */
#lib-nav-primary li a:hover { 
  background: #959595; 
  color: #fff;
}
/*selected link */
#lib-nav-primary li a:active {
  background: #959595;
  color: #fff;
}

/* focus over link */
#lib-nav-primary li a:focus { 
  background: #959595; 
  color: #fff;
}

#lib-nav-primary li a.current_tab {
  background: #959595; 
  color: #fff;
}

#csssubmenu 
{
  background-color: #959595;
}

#csssubmenu ul
{
}

#csssubmenu ul li
{
}

#csssubmenu li a
{
}

/* #lib-Navigation link states */
/* unvisted link */
#csssubmenu li a:link {
  background: #000;
  color: #fff;
}
/* visited link */
#csssubmenu li a:visited {
  background: #000;
  color: #fff;
}
/* mouse over link */
#csssubmenu li a:hover { 
  background: #fff; 
  color: #000;
}
/*selected link */
#csssubmenu li a:active {
  background: #000;
  color: #fff;
}

/* focus over link */
#csssubmenu li a:focus { 
  background: #000; 
  color: #fff;
}

#csssubmenu li.current_tab a
{
    color: #000 ;
    background-color: #fff ;
}

#instructions {
}

/* Circle has been created to highlight alerts */

.circle {
  color: #000;
  background-color: #fff;
  box-shadow: 2px 2px 2px #000;
}

#center {
}

.table-width-lib {
}

/*-- specific to make_request.tmp --*/
#toptwo {
    background-color: #fff;  /* apply bg to containing div */
}

#midleft {
}

#midright {
    background-color: #959595;
}

#midfooter {
}
/* end of "From fILL-library-accessible.1.0.css" */


/* action button styles for data table buttons */
input[type="button"].action-button {
    background-color: #000;
    color: #fff;
}
input[type="button"]:hover.action-button {
    background-color: #959595;
    color: #fff;
}
input[type="button"].action-button-highlighted {
    background-color: #424242;
    color: #fff;
}
input[type="button"]:hover.action-button-highlighted {
    background-color: #959595;
    color: #fff;
}

/* overrides button styles get overrun by jquery-ui styles... the background-image: none
   is important.... */
#overrides-list tbody tr td button.override-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    background-color: #000;
    color: #fff;
    background-image: none;
}
#overrides-list tbody tr td button:hover.override-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    background-color: #959595;
    color: #fff;
    background-image: none;
}
