<!-- Submenu: vendor -->

<div id="submenu">
  <ul>
    <li id="menu_vendor_test_zserver">
      <a href=/cgi-bin/vend.cgi?rm=vendortest_test_zserver_form>
      Test zServer
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_vendor");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

