<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_reports");
  //-->
</script>

<h1>Generate an ILL Requests Pie-Chart Report</h1>
<table border=1 cellpadding="10">
  <tr>
    <td>
      <a href="?rm=admin_reports_ILL_pie_form&gen=1&period=thisweek">This week</a>
    </td>
    <td>
      <a href="?rm=admin_reports_ILL_pie_form&gen=1&period=lastweek">Last week</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="?rm=admin_reports_ILL_pie_form&gen=1&period=thismonth">This month</a>
    </td>
    <td>
      <a href="?rm=admin_reports_ILL_pie_form&gen=1&period=lastmonth">Last month</a>
    </td>
  </tr>
</table>
<p />

<TMPL_INCLUDE NAME="footer.tmpl">
