<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_reports");
  //-->
</script>

<h1>ILL Statistics</h1>
<h4>Net usage</h4>
<table border=1>
  <tr>
    <td>Zserver</td>
    <td>ILL Requests<br>Received<br>by this<br>system</td>
    <td>ILL Requests<br>Sent by<br><em>users</em> of<br>this system</td>
    <td>Net<br>(rec - sent)</td>
  </tr>
  <TMPL_LOOP NAME="net">
    <tr>
      <td><TMPL_VAR NAME="zserver"></td>
      <td><TMPL_VAR NAME="received_by_this_system"></td>
      <td><TMPL_VAR NAME="sent_by_users_of_this_system"></td>
      <td><TMPL_VAR NAME="net"></td>
    </tr>
  </TMPL_LOOP>
</table>

<hr>

<h4>ILL Reqests Sent, by user:</h4>
<table>
  <tr>
    <td>User</td><td></td><td>Count</td><td>Home Zserver</td>
  </tr>
  <TMPL_LOOP NAME="by_user">
    <tr>
      <td><TMPL_VAR NAME="name"></td>
      <td><TMPL_VAR NAME="library"></td>
      <td><TMPL_VAR NAME="ILL_sent"></td>
      <td><TMPL_VAR NAME="home"></td>
    </tr>
  </TMPL_LOOP>
</table>
<br>Total:  <TMPL_VAR NAME="sent">
<p>
<hr>
<h4>ILL Requests Received, by zserver:</h4>
<table>
  <tr>
    <td>Zserver</td><td>Count</td>
  </tr>
  <TMPL_LOOP NAME="by_zserver">
    <tr>
      <!-- <TMPL_VAR NAME="id"> -->
      <td><TMPL_VAR NAME="name"></td>
      <td><TMPL_VAR NAME="ILL_received"></td>
    </tr>
  </TMPL_LOOP>
</table>
<br>Total:  <TMPL_VAR NAME="received">
<p>

<!--
<hr>
<h4>Received, by zserver/location:</h4>
<table>
  <tr>
    <td>Zserver</td><td>Zserver count</td><td>Location</td><td>Location count</td>
  </tr>
  <TMPL_LOOP NAME="by_location">
    <tr>
      <td><TMPL_VAR NAME="zserver"></td>
      <td><TMPL_VAR NAME="zserver_count"></td>
      <td><TMPL_VAR NAME="loc"></td>
      <td><TMPL_VAR NAME="loc_count"></td>
    </tr>
  </TMPL_LOOP>
</table>
<br>Total:  <TMPL_VAR NAME="received">
<p>
-->

<hr>
<h4>Received, by zserver/location:</h4>
<table>
  <TMPL_LOOP NAME="details">
    <tr>
      <td><strong><TMPL_VAR NAME="zserver"></strong></td>
      <td><em>Total: <TMPL_VAR NAME="zserver_count"></em></td>
    </tr>
    <tr>
      <td>
	<table>
	  <TMPL_LOOP NAME="locations">
	    <tr>
	      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	      <td><TMPL_VAR NAME="loc"></td>
	      <td><TMPL_VAR NAME="loc_count"></td>
	    </tr>
	  </TMPL_LOOP>
	</table>
      </td>
      <td></td>
    </tr>
  </TMPL_LOOP>
</table>

<TMPL_INCLUDE NAME="footer.tmpl">
