<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_reports");
  //-->
</script>

<h1>Generate an ILL Requests Graph Report</h1>
<table border=1 cellpadding="10">
  <tr>
    <td>Library</td>
    <td colspan=2>Week</td>
    <td colspan=2>Month</td>
  </tr>

  <TMPL_LOOP NAME=users>
    <tr>
      <td><TMPL_VAR NAME=user_library></td>
      <td>
	<a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=thisweek">This week</a>
	<br><a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=thisweek&cumulative=1">(Cumulative)</a>
      </td>
      <td>
	<a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=lastweek">Last week</a>
	<br><a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=lastweek&cumulative=1">(Cumulative)</a>
      </td>
      <td>
	<a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=thismonth">This month</a>
	<br><a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=thismonth&cumulative=1">(Cumulative)</a>
      </td>
      <td>
	<a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=lastmonth">Last month</a>
	<br><a href="?rm=admin_reports_ILL_graphs_form&gen=1&user=<TMPL_VAR NAME=user_name>&period=lastmonth&cumulative=1">Cumulative</a>
      </td>
    </tr>
  </TMPL_LOOP>
</table>
<p />

<TMPL_INCLUDE NAME="footer.tmpl">
