<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_reports");
  //-->
</script>

<h1>ILL Lenders Report for <TMPL_VAR NAME=period></h1>
<table class="report">
  <tr>
    <th>Lender</th>
    <th>Location</th>
    <th>Lent to</th>
    <th># Reqs</th>
  </tr>

  <TMPL_LOOP NAME=rows>
    <tr>
      <td><TMPL_VAR NAME=target></td>
      <td><TMPL_VAR NAME=location></td>
      <td><TMPL_VAR NAME=source></td>
      <td align="right"><TMPL_VAR NAME=num_req></td>
    </tr>
  </TMPL_LOOP>

  <tr>
    <td></td>
    <td></td>
    <td align="right"><strong>Total</strong></td>
    <td align="right"><strong><TMPL_VAR NAME=total_reqs></strong></td>
  </tr>

</table>
<p>Report generated at <TMPL_VAR NAME=gendate></p>
<TMPL_INCLUDE NAME="footer.tmpl">
