<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<div id="main">

<div id="middlecontent">
  <h1>zServers which are down</h1>
  <table cellpadding=20 cellspacing=5 border=1>
    <TMPL_LOOP NAME="zServers_down">
      <tr>
 	<td>
	  <table>
	    <tr>
	      <td><p style="color: gray">id</p></td>
	      <td><p style="color: gray"><TMPL_VAR NAME="id"></p></td>
	    </tr><tr>
	      <td>Name:</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="name"></p></td>
	    </tr><tr>
	      <td>Conn:</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="Z3950_connection_string"></p></td>
	    </tr><tr>
	      <td>Email:</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="email_address"></p></td>
	    </tr><tr>
	      <td>Avail?</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="available"></p></td>
	    </tr><tr>
	      <td>Alive?</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="alive"></p></td>
	    </tr><tr>
	      <td>Holdings</td>
	      <td>
		<p style="background: #FFFFF0">
		  Tag [<TMPL_VAR NAME="holdings_tag">]
		  Loc [<TMPL_VAR NAME="holdings_location">]
		  Call [<TMPL_VAR NAME="holdings_callno">]
		  Avail [<TMPL_VAR NAME="holdings_avail">]
		  Coll [<TMPL_VAR NAME="holdings_collection">]
		  Due [<TMPL_VAR NAME="holdings_due">]
		</p>
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
    </TMPL_LOOP>


  </table>
</div>


<div id="rightcontent">
</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
