<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations.tmpl">

<script type="text/javascript" src="/js/rotation-atlibrary-1.0.js"></script>


<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  set_secondary_tab("menu_rotations_current");

  $.getJSON('/cgi-bin/get-rotations-current.cgi', {lid: <TMPL_VAR name="lid">},
     function(data){
       build_table(data); 

       oTable = $('#at-my-library').dataTable({
         "bJQueryUI": true,
         "sPaginationType": "full_numbers",
         "bInfo": true,
         "bSort": true,
         "sDom": '<"H"Tfr>t<"F"ip>',
         "iDisplayLength": 25,
         "bLengthChange": true,
         "oTableTools": {
           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
         },
         "columnDefs": [{
           "targets": 0,
           "visible": false
         }]
       });
   });
});

</script>


<div id="center" role="main">

    <div id="waitDiv"><br/>      Generating barcode images... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <h3>Rotation items currently at my library</h3>
      <div id="mylistDiv"></div>
    </div>

    <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>Items will remain on this list until the next library in the rotation receives them.</li>
    </ol>
    </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
