<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations.tmpl">

<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  set_secondary_tab("menu_rotations_current");

  oTable = $('#at-my-library').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "bInfo": true,
    "bSort": true,
    "sDom": '<"H"Tfr>t<"F"ip>',
    "iDisplayLength": 25,
    "bLengthChange": true,
    "oTableTools": {
      "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
      },
    "columnDefs": [{
      "targets": 0,
      "visible": false
    }]
   });
});

</script>


<div id="center" role="main">

    <div id="myDiv">
	<table id="at-my-library">
	  <thead>
	    <tr><th>id</th><th>Callno</th><th>Title</th><th>Author</th><th>Barcode</th><th>Received</th></tr>
	  </thead>
	  <tfoot><tr><td colspan="6">You can print this and take it to the stacks.</td></tr></tfoot>
	  <tbody>
	    <TMPL_LOOP name="rotationItems">
	      <tr>
		<td><TMPL_VAR NAME="id"></td>
		<td><TMPL_VAR NAME="callno"></td>
		<td><TMPL_VAR NAME="title"></td>
		<td><TMPL_VAR NAME="author"></td>
		<td>
		  <TMPL_VAR NAME="barcode"><br/>
		    <img src="data:image/png;base64,<TMPL_VAR NAME="barcode_image">"/>
		</td>
		<td><TMPL_VAR NAME="timestamp"></td>
	      </tr>
	    </TMPL_LOOP>
	  </tbody>
	</table>
    </div>

    <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>Items will remain on this list until the next library in the rotation receives them.</li>
    </ol>
    </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
