<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations.tmpl">

<script type="text/javascript" src="/js/rotation-atlibrary-1.0.js"></script>


<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

    <div id="waitDiv"><br/>      Generating barcode images... <img src="/img/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <h3>Rotation items currently at my library</h3>
      <div id="mylistDiv"></div>
    </div>

    <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>Items will remain on this list until the next library in the rotation receives them.</li>
    </ol>
    </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
