<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations.tmpl">

<script type="text/javascript" src="/js/rotation-stats-1.1.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_rotations_circstats");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

  $.getJSON('/cgi-bin/get-current-rotation-list.cgi', {oid: <TMPL_VAR name="oid">},
        function(data){
            build_table(data);
        })
	.success(function() {
        })
	.error(function() {
        })
	.complete(function() { 
            oTable = $('#enter-stats-table').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "bInfo": true,
                "bSort": true,
                "sDom": '<"H"Tfr>t<"F"ip>',
                // TableTools requires Flash version 10...
	        "oTableTools": {
                    "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
        	},
	        "columnDefs": [{
	          "targets": 0,
                  "visible": false
                }]
            });
        });

	$("#reminder").css({ fontSize: 14 });	
	$("#reminder").stop(true,true).effect("highlight", {}, 3000);

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/img/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <h3>Enter circulation stats</h3>
      <p id="reminder"><TMPL_VAR NAME="reminder"></p>
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>[Tab] will take you to the next circ stat entry field.</li>
      <li>[Enter] will update the stat but leave you in the same field.</li>
      <li>You can also scan the item's barcode into the Search box to bring up just that item.</li>
       <li>Items will remain on this list until the next library in the rotation receives them.</li>
    </ol>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
