<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations.tmpl">

<script type="text/javascript" src="/js/rotations-1.0.js"></script>

<script type="text/javascript">
set_secondary_tab("menu_rotations_receiving");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

  $("circCount").hide();

  oTable = $('#datatable_scanned').dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "bInfo": true,
    "bSort": true,
    "sDom": '<"H"Tfr>t<"F"ip>',
    // TableTools requires Flash version 10...
    "oTableTools": {
      "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
    },
    "columnDefs": [{
      "targets": 0,
      "visible": false
    }] 
  });

  oTable.fnSort( [ [7,'desc'] ] );

  $("#barcode").on("change", function() {
    barcode_scanned(this.value); 
    this.value=''; 
    this.focus(); 
  });

  // some users are reporting that the scanned barcode doesn't
  // automatically appear in the data table (i.e. that the onChange
  // wasn't firing.  So let's add a manual option:
  $("#scanOk").on("click", function() {
    // button does nothing except change focus from text input,
    // which triggers onChange.
    $("#barcode").focus();
    return false;
  });


  // start with focus on barcode field
  $("#barcode").focus();

});

function barcode_scanned( bc ) {
  if ( $("#lid").text() == 101 ) {
      $("#circCount").hide();
  }
  $.getJSON('/cgi-bin/rotation-item-scanned.cgi', {lid: <TMPL_VAR name="lid">, barcode: bc },
    function(data){
        if ( $("#lid").text() == "101" ) {
	    $("#circCount").text("Total circulation: "+data.circs);
	    if (data.circs == 0) {
	        $("#circCount").css("background-color","#f78181");
            } else {
	        $("#circCount").css("background-color","#ffffff");
            }
            $("#circCount").show();
        }
        add_row_to_table(data);
    }
  );
};

function downloadMarc() {
  $.getJSON('/cgi-bin/rotations-MARC-file.cgi', {lid: <TMPL_VAR name="lid"> },
    function(data){
	// alert(data.filename);
	window.open( '/rotations-MARC/' );
        }
  );
}


</script>


<div id="center" role="main">

    <div id="myDiv">
      <h3>Receive rotation titles</h3>
      <div id="scanner">

	<div id="instructions" class="tone-box">
	      <form id="scan_form" onSubmit="return false;"> <!-- stop the form from submitting... submitting will reload, losing the data in the table -->
<!--
		<p>Scan a barcode: <input type="text" name="barcode" maxlength="14" onChange="barcode_scanned(this.value); this.value=''; this.focus(); return false;"></p>
-->
		<p>
		  Scan a barcode: <input id="barcode" type="text" name="barcode">
		  <input id="scanOk" type="button" value="Ok" class="library-style">
		  <span id="circCount" />
		</p>
		<br/>
	      </form>
	
	      <p>Get a file of MARC records with all rotation items you have received within the last month.</p>
	      <input type="button" value="Download MARC records" onClick="downloadMarc(); return false;" class="library-style">
      </div>
      </div>
    </div>

    <div id="scanned">
      <h3>Scanned</h3>
      <div class="dataTable_wrapper">
        <table id="datatable_scanned" class="display">
          <thead>
            <tr>
              <th>id</th><th>Barcode</th><th>Callno</th><th>Title</th><th>Author</th><th>Current library</th><th>Previous library</th><th>Last update</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>Scan barcodes of received titles.</li>
      <li>When you've finished receiving the items, click the "Download MARC records" button to get a file of all rotation items you have received within the last month, suitable for importing into your ILS.</li>
      <li>Go to the <a href="/rotations-MARC/" style="text-decoration: underline" target="_blank">Download folder</a></li>
    </ol>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
