<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_myaccount.tmpl">

<script type="text/javascript" src="/js/library-acquisitions-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_myaccount_acquisitions");

$.ajaxSetup ({  
  cache: false  
});  

var oTable;

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-library-acquisitions.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                build_table(data);

                oTable = $('#datatable_acquisitions').dataTable({
                  "bJQueryUI": true,
                  "sPaginationType": "full_numbers",
                  "bInfo": true,
 	          "bSort": true,
       	          "sDom": '<"H"Tf<"clearbuttonarea">r>t<"F"ip>',
                  "iDisplayLength": 25,
                  "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                  "oTableTools": {
                     "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
                  },
                  "columnDefs": [ {
                    "targets": 0,
                    "visible": false
                  }],
                  "bAutoWidth": false,
                  "fnInitComplete": function() {
                    // this handles a bug(?) in this version of datatables;
                    // hidden columns caused the table width to be set to 100px, not 100%
                    $("#datatable_acquisitions").css("width","100%");
                  }
                });

	        $("div.clearbuttonarea").html('<button id="clearbutton" class="action-button" type="button">Clear the wish list</button>');
           })
	.success(function() {
	    //alert('success');
	})
	.error(function() {
	    alert('error');
	})
	.complete(function() {
            //alert('ajax complete');
	    $("#clearbutton").on("click", function() {

 	      $('<div></div>').appendTo('body')
	        .html('<div><h6>Are you sure?</h6><p>This will permanently remove these items from the wish list.</p></div>')
	        .dialog({
                    modal: true,
                    title: 'Clear the wish list',
                    zIndex: 10000,
                    autoOpen: true,
                    resizable: false,
                    buttons: [
	                {
	                    text: "Yes",
//                            "class": "library-style",
	                    open: function() { 
	                        $(this).addClass('library-style');
	                        $(this).removeClass('ui-state-default');
	                    },
	                    click: function () {
                              clear_acquisitions();
                              $(this).dialog("close");
                            }
                        },
                        {
	                    text: "No",
//	                    "class": "library-style",
	                    open: function() { 
	                        $(this).addClass('library-style');
	                        $(this).removeClass('ui-state-default');
	                    },
	                    click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ],
                    close: function (event, ui) {
                        $(this).remove();
                    }
              });
	    });

	});

<!--
//    $('#datatable_barcodes tbody tr').live('mouseover mouseout', function (event) {    // deprecated in jquery 1.7
//    $(document).on("mouseover mouseout", "#datatable_barcodes tbody tr", function() {  // suggested replacement
    $("#datatable_barcodes tbody").on("mouseover mouseout", "tr", function() {           // reduce bubble-up

        if (event.type == 'mouseover') {
            $(this).addClass("ui-state-hover");
        } else {
            $(this).removeClass("ui-state-hover");
        }
    });
-->

});

</script>


<div id="center" role="main">
    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <div id="mylistDiv">
      </div>
    </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>Items that you mark as 'Add to Aquisitions' in the 'New patrons requests' and 'Unfilled' tabs will be placed here</p>
      <p>It's a good way to assist in your libraries collection development</p>
      <p>Export as a CSV or print out the list and send to collections staff</p>

</div>

</div>


<TMPL_INCLUDE NAME="footer.tmpl">
