<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_myaccount.tmpl">

<script type="text/javascript" src="/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/js/library-barcodes-1.0.js"></script>

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_myaccount_library_barcodes");
  //-->
</script>

<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  

var oTable;

$('document').ready(function(){

    var anOpenBarcodes = [];

    $.getJSON('/cgi-bin/get-library-barcodes.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                build_table(data);

                oTable = $('#datatable_barcodes').dataTable({
                  "bJQueryUI": true,
                  "sPaginationType": "full_numbers",
                  "bInfo": true,
 	          "bSort": true,
       	          "sDom": '<"H"Tfr>t<"F"ip>',
                  "iDisplayLength": 25,
                  "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                  "oTableTools": {
                     "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
                  },
                  "columnDefs": [ {
                    "targets": [0,1],
                    "visible": false
                  }],
                  "bAutoWidth": false,
                  "fnInitComplete": function() {
                    // this handles a bug(?) in this version of datatables;
                    // hidden columns caused the table width to be set to 100px, not 100%
                    $("#datatable_barcodes").css("width","100%");
                  }
                });
           })
	.success(function() {
	    //alert('success');
	})
	.error(function() {
	    alert('error');
	})
	.complete(function() {
            //alert('ajax complete');

	    /* Apply the jEditable handlers to the table */
	    $('td:eq(2)', oTable.fnGetNodes()).editable( '/cgi-bin/update-library-barcode.cgi', {
	        "callback": function( sValue, y ) {
	            var obj = jQuery.parseJSON( sValue );
	            //alert('data: '+obj.data);
		    var aPos = oTable.fnGetPosition( this );
		    //oTable.fnUpdate( sValue, aPos[0], aPos[1] );
		    oTable.fnUpdate( obj.data, aPos[0], aPos[1] );
	        },
         	"submitdata": function ( value, settings ) {
	            //alert('value: '+value+'\nsettings: '+settings);
	            return {
		        "row_id": this.parentNode.getAttribute('id'),
			"column": oTable.fnGetPosition( this )[2]
		    };
        	},
	        "height": "14px",
	        "select": true
            });

       });
});


</script>

<div id="center" role="main">
    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <div id="mylistDiv">
      </div>
    </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>In your ILS, you should have other libraries (borrowers) set up as patrons.</p>
      <p>You can enter the barcodes for those patron records here, by clicking on the "barcode" cell for that library.</p>
      <p>These are the patron barcodes that will appear on your fILL pull list.</p>

</div>

</div>


<TMPL_INCLUDE NAME="footer.tmpl">
