<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_myaccount.tmpl">

<link type="text/css" href="/css/maplin-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/DataTables-1.8.2/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/js/library-barcodes.js"></script>


<script type="text/javascript">
//set_secondary_tab("menu_borrow_receive");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    var anOpenBarcodes = [];

    oTable = $('#datatable_barcodes').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bInfo": true,
      	"bSort": true,
	"sDom": '<"H"Tfr>t<"F"ip>',
        "iDisplayLength": 25,
        "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        "aoColumns": [
            { "mDataProp": "lid", "sWidth": "5%" },
            { "mDataProp": "borrower", "sWidth": "5%" },
            { "mDataProp": "name", "sWidth": "15%" },
            { "mDataProp": "library", "sWidth": "50%" },
            { "mDataProp": "barcode", "sWidth": "15%" }
        ],
        "bAutoWidth": false
    });

    $.getJSON('/cgi-bin/get-library-barcodes.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                build_table(data);
           })
	.success(function() {
	    //alert('success');
	    /* Apply the jEditable handlers to the table */
	    $('td:eq(4)', oTable.fnGetNodes()).editable( '/cgi-bin/update-library-barcode.cgi', {
	        "callback": function( sValue, y ) {
	            var obj = jQuery.parseJSON( sValue );
	            //alert('data: '+obj.data);
		    var aPos = oTable.fnGetPosition( this );
		    //oTable.fnUpdate( sValue, aPos[0], aPos[1] );
		    oTable.fnUpdate( obj.data, aPos[0], aPos[1] );
	        },
         	"submitdata": function ( value, settings ) {
	            //alert('value: '+value+'\nsettings: '+settings);
	            return {
		        "row_id": this.parentNode.getAttribute('id'),
			"column": oTable.fnGetPosition( this )[2]
		    };
        	},
	        "height": "14px",
	        "select": true
            } );

	})
	.error(function() {
	    alert('error');
	})
	.complete(function() {
            //alert('ajax complete');
	});


    $('#datatable_barcodes tbody tr').live('mouseover mouseout', function (event) {
        if (event.type == 'mouseover') {
            $(this).addClass("ui-state-hover");
        } else {
            $(this).removeClass("ui-state-hover");
        }
    });


});

</script>


<div id="main">

  <div id="leftcontent">
    <h2>Instructions</h2>
    <ol>
      <li>Click on the barcode column to enter the barcode from your ILS.</li>
    </ol>
  </div>

  <div id="middlecontent">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <h3>Library barcodes from your ILS</h3>
      <div id="mylistDiv">
	<div class="dataTable_wrapper">
	  <table id="datatable_barcodes" width="100%">
	    <thead>
	      <tr>
		<th>lid</th><th>borrower</th><th>name</th><th>library</th><th>barcode</th>
	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>

  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
