<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_myaccount.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_myaccount_locations");
  //-->
</script>

<div id="leftcontent">
  <h2>Locations / Branches</h2>
  <TMPL_LOOP NAME="locations">
    <p class="location">
      <a href="?rm=myaccount_locations_form&loc=<TMPL_VAR NAME=location>">
	<TMPL_VAR NAME="location">
      </a>
    </p>
    <p class="location_name"><TMPL_VAR NAME="name"></p>
    <!-- These are hidden by the CSS -->
    <p class="location_other"><TMPL_VAR NAME="email_address"></p>
    <p class="location_other"><TMPL_VAR NAME="zid"></p>
    <br />
  </TMPL_LOOP>
</div>

<div id="middlecontent">
  <TMPL_IF NAME="has_zserver">
    <h4><TMPL_VAR NAME="status"></h4>
    <form METHOD=POST ACTION="">
      <table border=0 class="generic">
	<tr>
	  <td>Symbol:</td>
	  <td>
	    <p><TMPL_VAR NAME=editLocation></p>
	  </td>
	</tr><tr>
	  <td>Branch name:</td>
	  <td>
	    <p class="short_instruction">As it will appear in ILL requests.</p>
	    <input TYPE="text" NAME="name" SIZE="80" MAXLENGTH="120" VALUE="<TMPL_VAR NAME=editName>">
	  </td>
	</tr><tr>
	  <td>Email address:</td>
	  <td>
	    <p class="short_instruction">If other libraries can make ILL requests directly to this branch.</p>
	    <input TYPE="text" NAME="email_address" SIZE="80" MAXLENGTH="120" VALUE="<TMPL_VAR NAME=editEmail>">
	  </td>
	</tr>
      </table>
      <input TYPE="hidden" NAME="location" VALUE="<TMPL_VAR NAME=editLocation>">
      <input TYPE="hidden" NAME="rm" VALUE="myaccount_locations_form">
      <br />
      <input type="submit" name="submit" value="Update" />
    </form>
    
    <TMPL_IF NAME=locSelected>
      <form METHOD=POST ACTION="">
	<input TYPE="hidden" NAME="rm" VALUE="myaccount_locations_form">
	<input TYPE="hidden" NAME="delete_location" VALUE="<TMPL_VAR NAME=editLocation>">
	<input type="submit" name="submit" value="Delete" />
      </form>
    </TMPL_IF>
    
    <h4>Or add a new location / branch:</h4>
    
    <form METHOD=POST ACTION="">
      <table border=0 class="generic">
	<tr>
	  <td>Symbol:</td>
	  <td>
	    <p class="short_instruction">As it appears in your MARC records.</p>
	    <input TYPE="text" NAME="location" SIZE="20" MAXLENGTH="20">
	  </td>
	</tr><tr>
	  <td>Branch name:</td>
	  <td>
	    <p class="short_instruction">As it will appear in ILL requests.</p>
	    <input TYPE="text" NAME="name" SIZE="80" MAXLENGTH="120">
	  </td>
	</tr><tr>
	  <td>Email address:</td>
	  <td>
	    <p class="short_instruction">If other libraries can make ILL requests directly to this branch.</p>
	    <input TYPE="text" NAME="email_address" SIZE="80" MAXLENGTH="120">
	  </td>
	</tr>
      </table>
      <input TYPE="hidden" NAME="rm" VALUE="myaccount_locations_form">
      <input TYPE="hidden" NAME="new_location" VALUE="1">
      <br />
      <input type="submit" name="submit" value="Add new location / branch" />
    </form>

  <TMPL_ELSE>
    <form METHOD=POST ACTION="">
      <p>Please contact your region's head library to make any changes to the way Maplin-3 understands your system's z39.50 server.</p>
      <input TYPE="hidden" NAME="rm" VALUE="myaccount_settings_form">
      <br />
      <input type="submit" name="submit" value="Ok" />
    </form>
  </TMPL_IF>


</div>

<TMPL_INCLUDE NAME="footer.tmpl">
