<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_myaccount.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_myaccount_reports");
  //-->
</script>

<div id="middlecontent">
  <h2>ILL reports</h2>
  <br>
  <table border=1 cellpadding="10">
    <tr>
      <td colspan=2>Week</td>
      <td colspan=2>Month</td>
    </tr>
    
    <tr>
      <td>
	<a href="?rm=myaccount_reports_form&gen=1&period=thisweek">This week</a>
	<br><a href="?rm=myaccount_reports_form&gen=1&period=thisweek&cumulative=1">(Cumulative)</a>
      </td>
      <td>
	<a href="?rm=myaccount_reports_form&gen=1&period=lastweek">Last week</a>
	<br><a href="?rm=myaccount_reports_form&gen=1&period=lastweek&cumulative=1">(Cumulative)</a>
      </td>
      <td>
	<a href="?rm=myaccount_reports_form&gen=1&period=thismonth">This month</a>
	<br><a href="?rm=myaccount_reports_form&gen=1&period=thismonth&cumulative=1">(Cumulative)</a>
      </td>
      <td>
	<a href="?rm=myaccount_reports_form&gen=1&period=lastmonth">Last month</a>
	<br><a href="?rm=myaccount_reports_form&gen=1&period=lastmonth&cumulative=1">Cumulative</a>
      </td>
    </tr>
  </table>
  <br>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
