<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_myaccount.tmpl">

<script type="text/javascript" src="/js/account-settings-1.2.js"></script>

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_myaccount_settings");
  //-->
</script>

<div id="center" role="main">

    <div id="main-info-left" class="tone-box" role="main">

    <div id="tabs">
      <ul>
	<li><a href="#tabs-1">Contact information</a></li>
	<li><a href="#tabs-2">ILL mailing address</a></li>
	<li><a href="#tabs-3">z39.50 server</a></li>
	<li><a href="#tabs-4">Test patron</a></li>
	<li><a href="#tabs-5">Other settings</a></li>
      </ul>
      
      <div id="tabs-1">
	<form id="contact_information" onSubmit="return false;">
	  <fieldset id="contact_information_fieldset" class="balanced-fields">

	    <input type="hidden" name="oid" value="<TMPL_VAR name=oid>" />
	    <input id="symbol" type="hidden" name="name" value="<TMPL_VAR name=symbol>" />
	  
	    <div>
	      <label for="email_address">Email address:</label>
	      <input id="email_address" type="text" name="email_address" maxlength="120" value="<TMPL_VAR name=email_address>" />
	    </div>

	    <div>
	      <label for="website">Web site:</label>
	      <input id="website" type="text" name="website" value="<TMPL_VAR name=website>" />
	    </div>
	  </fieldset>
          <input id="contactButton" type="button" class="library-style" value="Save changes">
	</form>
      </div>
	  
      <div id="tabs-2">
	<form id="mailing_information" onSubmit="return false;">
	  <fieldset id="mailing_information_fieldset" class="balanced-fields">
	    <hr/>
	    <p><strong>Interlibrary Loan Mailing address</strong></p> 
	    <div>
	      <label for="library">Library:</label>
	      <input id="library" type="text" name="library" maxlength="120" value="<TMPL_VAR name=library>" />
	    </div>
	  
	    <div>
	      <label for="mailing_address_line1">Street address or PO Box Number:</label>
	      <input id="mailing_address_line1" type="text" name="mailing_address_line1" maxlength="200" value="<TMPL_VAR name=mailing_address_line1>" />
	    </div>
	  
	    <div>
	      <label for="city">Town/City:</label>
	      <input id="city" type="text" name="city" value="<TMPL_VAR name=city>" />
	    </div>
	  
	    <div>
	      <label for="province">Province:</label>
	      <input id="province" type="text" name="province" maxlength="2" value="<TMPL_VAR name=province>" />
	    </div>
	    
	    <div>
	      <label for="post_code">Postal code:</label>
	      <input id="post_code" type="text" name="post_code" maxlength="6" value="<TMPL_VAR name=post_code>" /> (no spaces)
	    </div>

	  </fieldset>
          <input id="mailingButton" type="button" class="library-style" value="Save changes">
	</form>
      </div>
      
      <div id="tabs-3">
	<TMPL_IF name="zserver_controlled_by_parent">
	  <p>Your z39.50 server is managed by your parent organization, <TMPL_VAR name="zserver_parent_orgname"> (<TMPL_VAR name="zserver_parent_symbol">).</p>
	  <p>The zServer managed by <TMPL_VAR name="zserver_parent_orgname"> is shared with:</p>
	  <ul>
	    <TMPL_LOOP name="zserver_siblings">
	      <li><TMPL_VAR name="org_name"></li>
	    </TMPL_LOOP>
	  </ul>
	  <p>Please log in as the parent organization to change the z39.50 server settings.</p>
	</TMPL_IF>

	<TMPL_UNLESS name="zserver_controlled_by_parent">
	  <form id="z3950" onSubmit="return false;">

	    <div>
	      <p>Allow fILL to search this zServer?</p>
	      <TMPL_IF name="z3950_enabled">
		<label><input type="radio" name="z3950_enabled" value="1" checked>Yes, allow fILL to search, or </label>
		<label><input type="radio" name="z3950_enabled" value="0">No, don't let fILL search</label>
              <TMPL_ELSE>
		  <label><input type="radio" name="z3950_enabled" value="1">Yes, allow fILL to search, or  </label>
		  <label><input type="radio" name="z3950_enabled" value="0" checked>No, don't let fILL search.</label>
	      </TMPL_IF>
	      <p id="z3950_enabled_change_notice" style="display:none">This change will happen overnight.</p>
	    </div>

	    <hr/>

	    <fieldset id="z3950_fieldset" class="balanced-fields">

	      <div>
		<label for="z3950_server_address">z39.50 server address:</label>
		<input id="z3950_server_address" type="text" name="z3950_server_address" value="<TMPL_VAR name=z3950_server_address>" />
	      </div>
	  	  
	      <div>
		<label for="z3950_server_port">z39.50 server port:</label>
		<input id="z3950_server_port" type="text" name="z3950_server_port" value="<TMPL_VAR name=z3950_server_port>" />
	      </div>
	  	  
	      <div>
		<label for="z3950_database_name">z39.50 database name:</label>
		<input id="z3950_database_name" type="text" name="z3950_database_name" value="<TMPL_VAR name=z3950_database_name>" />
	      </div>

              <input id="z3950Button" type="button" class="library-style" value="Save changes">
	      
	    </fieldset>
	  </form>
	</TMPL_UNLESS>
      </div>
      
      <div id="tabs-4">
	<div style="width: 45%; float: left; margin: 20px">
	  <form id="my_test_patron" onSubmit="return false;">
	    <p>If you have created a "testing" patron in your ILS, you can enter that patron's login information here.</p>
	    <p>This will allow you to check whether your patrons can authenticate correctly.</p>

	    <fieldset id="my_test_patron_fieldset" class="balanced-fields">

	      <div>
		<label for="my_test_patron_barcode">Barcode/Username:</label>
		<input id="my_test_patron_barcode" type="text" name="my_test_patron_barcode" value="<TMPL_VAR name=my_test_patron_barcode>" />
	      </div>
	      
	      <div>
		<label for="my_test_patron_pin">PIN/Password:</label>
		<input id="my_test_patron_pin" type="text" name="my_test_patron_pin" value="<TMPL_VAR name=my_test_patron_pin>" />
	      </div>
	      
              <input id="myTestPatronButton" type="button" class="library-style" value="Save changes">

	    </fieldset>
	  </form>
	</div> <!-- form div -->

	<div style="width: 45%; float: left; margin: 20px">
	  <form id="test_patron" onSubmit="return false;">
	    <h3>Authentication test</h3>

	    <fieldset id="test_patron_fieldset" class="balanced-fields">

	      <div>
		<label for="test_patron_auth_method">Authentication method:</label>
		<input id="test_patron_auth_method" type="text" name="test_patron_auth_method" value="<TMPL_VAR name=test_patron_auth_method>" disabled="disabled" />
	      </div>
	      
	      <div>
		<label for="test_patron_last_tested">Last tested:</label>
		<input id="test_patron_last_tested" type="text" name="test_patron_last_tested" value="<TMPL_VAR name=test_patron_last_tested>" disabled="disabled" />
	      </div>
	      
	      <div>
		<label for="test_patron_test_result">Test result:</label>
		<input id="test_patron_test_result" type="text" name="test_patron_test_result" value="<TMPL_VAR name=test_patron_test_result>" size="40" disabled="disabled" />
	      </div>
	      
	      <div>
		<label for="test_patron_validbarcode">Valid barcode/username?</label>
		<input id="test_patron_validbarcode" type="text" name="test_patron_validbarcode" value="<TMPL_VAR name=test_patron_validbarcode>" disabled="disabled" />
	      </div>

	      <div>
		<label for="test_patron_validpin">Valid PIN/password?</label>
		<input id="test_patron_validpin" type="text" name="test_patron_validpin" value="<TMPL_VAR name=test_patron_validpin>" disabled="disabled" />
	      </div>	      

	      <div>
		<label for="test_patron_patronname">Patron name:</label>
		<input id="test_patron_patronname" type="text" name="test_patron_patronname" value="<TMPL_VAR name=test_patron_patronname>" disabled="disabled" />
	      </div>
	      
	      <div>
		<label for="test_patron_screenmessage">Screen message:</label>
		<input id="test_patron_screenmessage" type="text" name="test_patron_screenmessage" value="<TMPL_VAR name=test_patron_screenmessage>" size="40" disabled="disabled" />
	      </div>
	      
              <input id="testPatronButton" type="button" class="library-style" value="Test!">
	      <div id="waitDiv">
		Testing... <img src="/wait.gif" alt="loading indicator">
	      </div>
	  </form>
	</div> <!-- test results div -->

      </div>
      
      <div id="tabs-5">
	<form id="otherForm">
	  <h3>Do you want to enable "lender-internal" notes?</h3>
	  <p>These are notes that you, as a lender, can attach to incomming requests.  The notes are only visible to you.</p>
	  <TMPL_IF name="lender_internal_notes_enabled">
	    <input type="radio" name="lender_internal_notes" value='t' CHECKED>Yes
	    <input type="radio" name="lender_internal_notes" value='f'>No
	    <TMPL_ELSE>
	    <input type="radio" name="lender_internal_notes" value='t'>Yes
	    <input type="radio" name="lender_internal_notes" value='f' CHECKED>No
	  </TMPL_IF>

	  <h3>How many table rows per page would you like displayed?</h3>
	  <p id="rowsPerPage" style="display:none"><TMPL_VAR name="rows_per_page"></p>
	  <input type="radio" name="rows_per_page" value='-1'>All
	  <input type="radio" name="rows_per_page" value='50'>50
	  <input type="radio" name="rows_per_page" value='25'>25
	  <input type="radio" name="rows_per_page" value='10'>10
	  
	  <h3>Do you want to print scannable patron barcodes on the date-due slips?</h3>
	  
	  <TMPL_IF name="slips_with_barcodes">
	    <input type="radio" name="slips_with_barcodes" value='t' CHECKED>Yes
	    <input type="radio" name="slips_with_barcodes" value='f'>No
	    <TMPL_ELSE>
	      <input type="radio" name="slips_with_barcodes" value='t'>Yes
	      <input type="radio" name="slips_with_barcodes" value='f' CHECKED>No
	  </TMPL_IF>
	  
	  <h3>Are you a headquarters library that centrally manages ILL for your branches?</h3>  
	  <TMPL_IF name="centralized_ill">
	    <input type="radio" name="centralized_ill" value='t' CHECKED>Yes
	    <input type="radio" name="centralized_ill" value='f'>No
	    <TMPL_ELSE>
	      <input type="radio" name="centralized_ill" value='t'>Yes
	      <input type="radio" name="centralized_ill" value='f' CHECKED>No
	  </TMPL_IF>

          <br/>
	  <input id="otherButton" type="button" class="library-style" value="Save changes">
	</form>
      </div>
	
    </div><!-- tabs -->
    
  </div><!-- main-info-left -->

  <div id="aside-img-right" role="complementary">
    <p>The library logo that your patrons see:</p>
    <img src="<TMPL_VAR name='logo_path'>" alt="<TMPL_VAR name='logo_alt_text'>" />
    <p class="note">Image care of <TMPL_VAR name="logo_credit"></p>
    <p>To update your logo, contact Public Library Services at pls@gov.mb.ca</p>
  </div>

</div><!-- center -->

<TMPL_INCLUDE name="footer.tmpl">
