<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_myaccount.tmpl">

<script type="text/javascript" src="/js/account-settings-1.1.js"></script>

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_myaccount_settings");
  //-->
</script>

<div id="center" role="main">

    <div id="main-info-left" class="tone-box" role="main">

    <div id="tabs">
      <ul>
	<li><a href="#tabs-1">Contact information</a></li>
	<li><a href="#tabs-2">ILL mailing address</a></li>
	<li><a href="#tabs-3">z39.50 server</a></li>
	<li><a href="#tabs-4">Other settings</a></li>
      </ul>
      
      <div id="tabs-1">
	<form id="contact_information" onSubmit="return false;">
	  <fieldset id="contact_information_fieldset" class="balanced-fields">

	    <input type="hidden" name="oid" value="<TMPL_VAR name=oid>" />
	    <input id="symbol" type="hidden" name="name" value="<TMPL_VAR name=symbol>" />
	  
	    <div>
	      <label for="email_address">Email address:</label>
	      <input id="email_address" type="text" name="email_address" maxlength="120" value="<TMPL_VAR name=email_address>" />
	    </div>

	    <div>
	      <label for="website">Web site:</label>
	      <input id="website" type="text" name="website" value="<TMPL_VAR name=website>" />
	    </div>
	  </fieldset>
          <input id="contactButton" type="button" class="library-style" value="Save changes">
	</form>
      </div>
	  
      <div id="tabs-2">
	<form id="mailing_information" onSubmit="return false;">
	  <fieldset id="mailing_information_fieldset" class="balanced-fields">
	    <hr/>
	    <p><strong>Interlibrary Loan Mailing address</strong></p> 
	    <div>
	      <label for="library">Library:</label>
	      <input id="library" type="text" name="library" maxlength="120" value="<TMPL_VAR name=library>" />
	    </div>
	  
	    <div>
	      <label for="mailing_address_line1">Street address or PO Box Number:</label>
	      <input id="mailing_address_line1" type="text" name="mailing_address_line1" maxlength="200" value="<TMPL_VAR name=mailing_address_line1>" />
	    </div>
	  
	    <div>
	      <label for="city">Town/City:</label>
	      <input id="city" type="text" name="city" value="<TMPL_VAR name=city>" />
	    </div>
	  
	    <div>
	      <label for="province">Province:</label>
	      <input id="province" type="text" name="province" maxlength="2" value="<TMPL_VAR name=province>" />
	    </div>
	    
	    <div>
	      <label for="post_code">Postal code:</label>
	      <input id="post_code" type="text" name="post_code" maxlength="6" value="<TMPL_VAR name=post_code>" /> (no spaces)
	    </div>

	  </fieldset>
          <input id="mailingButton" type="button" class="library-style" value="Save changes">
	</form>
      </div>
      
      <div id="tabs-3">
	<form id="z3950" onSubmit="return false;">
	  <fieldset id="z3950_fieldset" class="balanced-fields">

	    <div>
	      <label for="z3950_server_address">z39.50 server address:</label>
	      <input id="z3950_server_address" type="text" name="z3950_server_address" value="<TMPL_VAR name=z3950_server_address>" />
	    </div>
	  	  
	    <div>
	      <label for="z3950_server_port">z39.50 server port:</label>
	      <input id="z3950_server_port" type="text" name="z3950_server_port" value="<TMPL_VAR name=z3950_server_port>" />
	    </div>
	  	  
	    <div>
	      <label for="z3950_database_name">z39.50 database name:</label>
	      <input id="z3950_database_name" type="text" name="z3950_database_name" value="<TMPL_VAR name=z3950_database_name>" />
	    </div>

            <input id="z3950Button" type="button" class="library-style" value="Save changes">

	  </fieldset>
	</form>
      </div>
      
      <div id="tabs-4">
	<form id="otherForm">
	  <h3>Do you want to print scannable patron barcodes on the date-due slips?</h3>
	  
	  <TMPL_IF name="slips_with_barcodes">
	    <input type="radio" name="slips_with_barcodes" value='t' CHECKED>Yes
	    <input type="radio" name="slips_with_barcodes" value='f'>No
	    <TMPL_ELSE>
	      <input type="radio" name="slips_with_barcodes" value='t'>Yes
	      <input type="radio" name="slips_with_barcodes" value='f' CHECKED>No
	  </TMPL_IF>
	  
	  <h3>Are you a headquarters library that centrally manages ILL for your branches?</h3>  
	  
	  <TMPL_IF name="centralized_ill">
	    <input type="radio" name="centralized_ill" value='t' CHECKED>Yes
	    <input type="radio" name="centralized_ill" value='f'>No
	    <TMPL_ELSE>
	      <input type="radio" name="centralized_ill" value='t'>Yes
	      <input type="radio" name="centralized_ill" value='f' CHECKED>No
	  </TMPL_IF>

          <br/>
	  <input id="otherButton" type="button" class="library-style" value="Save changes">
	</form>
      </div>
	
    </div><!-- tabs -->
    
  </div><!-- main-info-left -->

  <div id="aside-img-right" role="complementary">
    <p>The library logo that your patrons see:</p>
    <img src="<TMPL_VAR name='logo_path'>" alt="<TMPL_VAR name='logo_alt_text'>" />
    <p class="note">Image care of <TMPL_VAR name="logo_credit"></p>
    <p>To update your logo, contact Public Library Services at pls@gov.mb.ca</p>
  </div>

</div><!-- center -->

<TMPL_INCLUDE name="footer.tmpl">
