<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_actions");
  //-->
</script>

<h2>Administrative actions</h2>
<p>
<a href="?rm=admin_actions_clear_old_data_form">Clear old data from marc and status_check tables</a><br>

<h2>CDT actions</h2>
<p>
<a href="?rm=admin_CDT_find_form">Check if item is in the Collection Development Tool</a><br>
<a href="?rm=admin_CDT_ClaimByBarcode_form">Check/claim CDT item by barcode</a><br>

<h2>Testing</h2>
<p>
<a href="?rm=admin_actions_test_search_form">Test common search (multiple indexes)</a><br>

<TMPL_INCLUDE NAME="footer.tmpl">
