<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<div id="main">

<div id="middlecontent">
  <h1>Pull list for <TMPL_VAR NAME="library"></h1>
  <h4>From <TMPL_VAR NAME="date_start"> up to (but not including) <TMPL_VAR NAME="date_end"></h4>
  <TMPL_VAR NAME="num_items"> items.
  <br>
  <table cellpadding=20 cellspacing=5 border=0 width="780">
    <tr>
      <th>Library</th>
      <th>Collection</th>
      <th>Call #</th>
      <th>Author</th>
      <th>Title</th>
      <th>PubDate</th>
      <th>Barcode</th>
    </tr>

    <TMPL_LOOP NAME="pull_list">
      <tr>
 	<td><p style="color: gray"><TMPL_VAR NAME="claimed_by"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="collection"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="callno"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="author"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="title"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="pubdate"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="barcode"></p></td>
      </tr>
    </TMPL_LOOP>


  </table>
</div>


<div id="rightcontent">
</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
