<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_actions");
  //-->
</script>

<h1>Find out if an item is on the CDT</h1>

<p>Scan in the barcode of the item you would like to check.</p>
<br />

<form METHOD=POST ACTION="">
  <TMPL_IF NAME="callno">
    <p class="zerocirc_claim_not_ok">
      <TMPL_VAR NAME="message"><br />
    </p>

    <p><TMPL_VAR NAME="callno"> (Author: <TMPL_VAR NAME="author">, Title: <TMPL_VAR NAME="title">, PubDate:<TMPL_VAR NAME="pubdate">)<br /></p>

    <p class="zerocirc_claim_not_ok">
      Claimed by <TMPL_VAR NAME="claimed_by">
    </p>

    <hr>
    <br />
  <TMPL_ELSE>
    <p class="zerocirc_claim_ok">
      <TMPL_VAR NAME="message"><br />
    </p>
  </TMPL_IF>
  <p>
    Barcode:
    <input TYPE="text" NAME="barcode" SIZE="20" MAXLENGTH="20">
    <input TYPE="hidden" NAME="rm" VALUE="admin_CDT_find_form">
    <input type="submit" name="submit" value="Submit" />
  </p>
</form>

<div id="debug-1">
     <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
     <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
     <p class="debuginfo">SQL: <TMPL_VAR NAME="sql"></p>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
