<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<div id="main">

<div id="middlecontent">
  <form method=post action="">
    <h4>Date range:</h4>
    <p>
      <br>Start greater than or equal to:
      <input TYPE="text" NAME="date_start" SIZE="10" MAXLENGTH="10" VALUE="<TMPL_VAR NAME=date_start>">
      <br>and End less than:
      <input TYPE="text" NAME="date_end" SIZE="10" MAXLENGTH="10" VALUE="<TMPL_VAR NAME=date_end>">
    </p>
    <br>
    <h4>Libraries</h4>
    Generate the report for:
    
    <SELECT name="library">
      <option>All libraries
	<TMPL_LOOP NAME="libraries">
	  <option><TMPL_VAR NAME="claimed_by">
	</TMPL_LOOP>
    </SELECT>

    <input type="hidden" name="rm" value="admin_CDT_pull_form">
    <input type="submit" name="submit" value="Submit" />
  </form>

</div>


<div id="rightcontent">
</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
