<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_config");
  //-->
</script>

<h1>System Configuration</h1>

<a href="?rm=admin_config_zServers_form">Z39.50 servers</a><br />
<a href="?rm=admin_config_zServer_owners_form">Z39.50 server owners</a><br />

<TMPL_INCLUDE NAME="footer.tmpl">
