<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_logs");
  //-->
</script>

<h1>System Logs</h1>

<div id="leftcontent">
  <TMPL_LOOP NAME="accessLogs">
    <a href="?rm=admin_logs_form&log=<TMPL_VAR NAME=filename>"><TMPL_VAR NAME=filename></a><br />
  </TMPL_LOOP>
  <p />
  <br>
  <TMPL_LOOP NAME="errorLogs">
    <a href="?rm=admin_logs_form&log=<TMPL_VAR NAME=filename>"><TMPL_VAR NAME=filename></a><br />
  </TMPL_LOOP>
</div>

<div id="middlecontent">
  <h2><TMPL_VAR NAME="log"></h2>
  <textarea rows=90 cols=120><TMPL_VAR NAME="tail"></textarea>
</div>

<div id="rightcontent">
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
