<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_status");
  //-->
</script>

<h1>System Status</h1>

<form METHOD=POST ACTION="">
  <TMPL_LOOP name="events">
    <TMPL_VAR name="server">,
    <TMPL_VAR name="name">,
    <TMPL_VAR name="event">,
    <TMPL_VAR name="message">,
    <br />
  </TMPL_LOOP>
  <input type="hidden" name="reload" value="1">
  <input type="hidden" name="rm" value="admin_status_check_form">
  <input type="submit" name="submit" value="Submit">
</form>

<TMPL_INCLUDE NAME="footer.tmpl">
