<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_status");
  //-->
</script>

<script type="text/javascript">

  function showSearchingDiv() {
    var theDiv = document.getElementById("status");
    theDiv.style.display = "block";
  }

</script>

<h1>System Status</h1>

<div id="status">
     <h2>
	<!-- Searching.... <img src="/wait.gif" -->
     </h2>
     <p>
       Try to connect and do a standard search (in this case, "@attr 1=4 ducks") across all zservers marked as 'available'.
     </p>
     <hr>
     <table border="1">
       <tr>
	 <th>Name</th>
	 <th>Zserver id</th>
	 <th>Event id</th>
	 <th>Search status</th>
       </tr>
       <TMPL_LOOP NAME="status">
       <tr>
	 <td><TMPL_VAR NAME="name"></td>
	 <!-- <td><TMPL_VAR NAME="sessionid"></td> -->
	 <td><TMPL_VAR NAME="zid"></td>
         <td><TMPL_VAR NAME="event"></td>
         <td><TMPL_VAR NAME="msg"></td>
       </tr>
       </TMPL_LOOP>
     </table>
</div>

<form METHOD=POST ACTION="" onSubmit="showSearchingDiv()">
  <p>This may take some time....</p>
  <input type="hidden" name="rm" value="admin_status_form">
  <input type="hidden" name="newcheck" value="1">
  <input type="submit" name="submit" value="Submit">
</form>


<TMPL_INCLUDE NAME="footer.tmpl">
