<!-- Submenu: z3950 -->

<div id="csssubmenu">
  <ul>
    <li id="menu_zserver_test">
      <a href="/cgi-bin/admin.cgi?rm=zserver_test">
      Test a zServer
      </a>
    </li>

    <li id="menu_zserver_settings">
      <a href="/cgi-bin/admin.cgi?rm=zserver_settings">
      zServer settings
      </a>
    </li>

    <li id="menu_zserver_pazpar_control">
      <a href="/cgi-bin/admin.cgi?rm=zserver_pazpar_control">
      Pazpar control
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_zserver");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

