<!-- Submenu: library -->

<div id="csssubmenu">
  <ul>
    <li id="menu_library_pw">
      <a href="/cgi-bin/admin.cgi?rm=library_pw">
      Change password
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_library_pw");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

