<!-- Submenu: public -->

<div id="csssubmenu">
  <ul>
    <li id="menu_public_featured">
      <a href="/cgi-bin/admin.cgi?rm=public_featured">
      Featured titles
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_public");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

