<!-- Submenu: authentication -->

<div id="csssubmenu">
  <ul>
    <li id="menu_authentication_methods">
      <a href="/cgi-bin/admin.cgi?rm=authentication">
      Methods
      </a>
    </li>

    <li id="menu_authentication_tests">
      <a href="/cgi-bin/admin.cgi?rm=authentication_tests">
      Tests
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_authentication");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

