<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_admin_test_zserver");
  //-->
</script>

<h1>Test zServer</h1>

<form METHOD=POST ACTION="">
  <table border="1">
    <TMPL_UNLESS NAME="conn">
      <tr>
	<td>Choose an existing Z39.50 server:
	</td>
	<td>
	  <select name="zserver">
	    <TMPL_LOOP NAME="zservers">
	      <option value=<TMPL_VAR NAME="Z3950_connection_string">>
		<TMPL_VAR NAME="name"> <TMPL_VAR NAME="Z3950_connection_string">
	    </TMPL_LOOP>
	  </select>
	</td>
      </tr>
    </TMPL_UNLESS>
    <tr>
      <td>Enter a connection string<br>(xxx.xxx.xxx.xxx:port/dbname):</td>
      <td><input type="text" name="conn" size="80" value=<TMPL_VAR NAME="conn">></td>
    <tr>
      <td>DB username (if any):</td>
      <td><input type="text" name="usr" size="80" value=<TMPL_VAR NAME="usr">></td>
    <tr>
      <td>DB password (if any):</td>
      <td><input type="text" name="pwd" size="80" value=<TMPL_VAR NAME="pwd">></td>
    </tr><tr>
      <td>Preferred record syntax:</td>
      <td>
	<input type="radio" name="prs" value="usmarc" selected>usmarc
	<input type="radio" name="prs" value="opac">opac
      </td>
    </tr><tr>
      <td>Element set:</td>
      <td>
	<input type="radio" name="es" value="f" selected>full
	<input type="radio" name="es" value="b">brief
      </td>
    </tr><tr>
      <td>Search or scan?</td>
      <td>
	<input type="radio" name="scan" value=0 selected>Search
	<input type="radio" name="scan" value=1>Scan
      </td>
    </tr><tr>
      <td>Build a pqf query</td>
      <td>
	<table>
	  <tr>
	    <td>Use attribute</td>
	    <td>
	      <select name="use">
		<option value="0">Choose:
		<option value="4">Title - 4
		<option value="1003">Author - 1003
		<option value="21">Subject heading - 21 
		<option value="1">Personal name - 1
		<option value="2">Corporate name - 2
		<option value="3">Conference name - 3
		<option value="5">Title series - 5
		<option value="6">Title uniform - 6
		<option value="7">ISBN - 7
		<option value="8">ISSN - 8
		<option value="9">LC card number - 9
		<option value="10">BNB card no. - 10
		<option value="11">BGF number  - 11
		<option value="12">Local number - 12
		<option value="13">Dewey classification - 13
		<option value="14">UDC classification - 14
		<option value="15">Bliss classification - 15
		<option value="16">LC call number - 16
		<option value="17">NLM call number - 17
		<option value="18">NAL call number - 18
		<option value="19">MOS call number - 19
		<option value="20">Local classification - 20 
		<option value="22">Subject Rameau - 22
		<option value="23">BDI index subject - 23
		<option value="24">INSPEC subject - 24
		<option value="25">MESH subject - 25
		<option value="26">PA subject - 26
		<option value="27">LC subject heading  - 27
		<option value="28">RVM subject heading - 28
		<option value="29">Local subject index - 29
		<option value="30">Date - 30
		<option value="31">Date of publication - 31
		<option value="32">Date of acquisition - 32
		<option value="33">Title key - 33
		<option value="34">Title collective - 34
		<option value="35">Title parallel - 35
		<option value="36">Title cover - 36
		<option value="37">Title added title page - 37
		<option value="38">Title caption - 38
		<option value="39">Title running - 39
		<option value="40">Title spine - 40
		<option value="41">Title other variant - 41
		<option value="42">Title former - 42
		<option value="43">Title abbreviated - 43
		<option value="44">Title expanded - 44
		<option value="45">Subject precis - 45
		<option value="46">Subject rswk - 46
		<option value="47">Subject subdivision - 47
		<option value="48">No. nat'l biblio. - 48
		<option value="49">No. legal deposit  - 49
		<option value="50">No. govt pub. - 50
		<option value="51">No. music publisher - 51
		<option value="52">Number db - 52
		<option value="53">Number local call - 53
		<option value="54">Code--language - 54
		<option value="55">Code--geographic area - 55
		<option value="56">Code--institution - 56
		<option value="57">Name and title * - 57
		<option value="58">Name geographic - 58
		<option value="59">Place publication - 59
		<option value="60">CODEN - 60
		<option value="61">Microform generation - 61
		<option value="62">Abstract - 62
		<option value="63">Note - 63
		<option value="1000">Author-title - 1000
		<option value="1001">Record type - 1001
		<option value="1002">Name - 1002
		<option value="1004">Author-name personal - 1004
		<option value="1005">Author-name corporate - 1005
		<option value="1006">Author-name conference - 1006
		<option value="1007">Identifier--standard - 1007
		<option value="1008">Subject--LC children's - 1008
		<option value="1009">Subject name -- personal - 1009
		<option value="1010">Body of text - 1010
		<option value="1011">Date/time added to db - 1011
		<option value="1012">Date/time last modified - 1012
		<option value="1013">Authority/format id - 1013
		<option value="1014">Concept-text - 1014
		<option value="1015">Concept-reference - 1015
		<option value="1016">Any - 1016
		<option value="1017">Server-choice - 1017
		<option value="1018">Publisher - 1018
		<option value="1019">Record-source - 1019
		<option value="1020">Editor - 1020
		<option value="1021">Bib-level - 1021
		<option value="1022">Geographic-class - 1022
		<option value="1023">Indexed-by - 1023
		<option value="1024">Map-scale - 1024
		<option value="1025">Music-key - 1025
		<option value="1026">Related-periodical - 1026
		<option value="1027">Report-number - 1027
		<option value="1028">Stock-number - 1028
		<option value="1030">Thematic-number - 1030
		<option value="1031">Material-type - 1031
		<option value="1032">Doc-id - 1032
		<option value="1033">Host-item - 1033
		<option value="1034">Content-type - 1034
		<option value="1035">Anywhere - 1035
		<option value="1036">Author-Title-Subject - 1036
	      </select>
	    </td>
	  </tr><tr>
	    <td>Relation attribute</td>
	    <td>
	      <select name="relation">
		<option value="0">Choose:
		<option value="1">less than - 1
		<option value="2">less than or equal - 2
		<option value="3">equal - 3
		<option value="4">greater or equal - 4
		<option value="5">greater than - 5
		<option value="6">not equal - 6
		<option value="100">phonetic - 100
		<option value="101">stem - 101
		<option value="102">relevance - 102
		<option value="103">AlwaysMatches - 103
	      </select>
	    </td>
	  </tr><tr>
	    <td>Position attribute</td>
	    <td>
	      <select name="position">
		<option value="0">Choose:
		<option value="1">first in field - 1
		<option value="2">first in subfield - 2
		<option value="3">any position in field - 3
	      </select>
	    </td>
	  </tr><tr>
	    <td>Structure</td>
	    <td>
	      <select name="structure">
		<option value="0">Choose:
		<option value="1">phrase - 1
		<option value="2">word - 2
		<option value="3">key - 3
		<option value="4">year - 4
		<option value="5">date (normalized) - 5
		<option value="6">word list - 6
		<option value="100">date (un-normalized) - 100
		<option value="101">name (normalized) - 101
		<option value="102">name (un-normalized) - 102
		<option value="103">structure - 103
		<option value="104">urx - 104
		<option value="105">free-form-text - 105
		<option value="106">document-text - 106
		<option value="107">local number - 107
		<option value="108">string - 108
		<option value="109">numeric string - 109
	      </select>
	    </td>
	  </tr><tr>
	    <td>truncation attribute</td>
	    <td>
	      <select name="truncation">
		<option value="0">Choose:
		<option value="1">right truncation - 1
		<option value="2">left truncation - 2
		<option value="3">left and right - 3
		<option value="100">do not truncate - 100
		<option value="101">process # in search term - 101
		<option value="102">reg-Expr1 - 102
		<option value="103">reg-Expr2 - 103
	      </select>
	    </td>
	  </tr><tr>
	    <td>completeness attribute</td>
	    <td>
	      <select name="completeness">
		<option value="0">Choose:
		<option value="1">incomplete subfield - 1
		<option value="2">complete subfield - 2
		<option value="3">complete field - 3
	      </select>
	    </td>
	  </tr><tr>
	    <td>terms</td>
	    <td><input type="text" name="terms" size="50"></td>
	  </tr>
	</table>
      </td>
    </tr><tr>
      <td>Enter a query in PQF notation
	<br>title eg: @attr 1=4 "duck hunting"
	<br>author eg: @attr 1=1003 asimov
	<br>subject eg: @attr 1=21 "mars planet"
      </td>
      <td><input type="text" name="pqf" size="80" value="<TMPL_VAR ESCAPE=HTML NAME=pqf>"></td>
    </tr>
  </table>
  <input type="hidden" name="rm" value="admin_test_zserver_form">
  <input type="submit" name="submit" value="Submit">
  <pre>
    <TMPL_VAR name="test_results">
  </pre>
</form>

<TMPL_INCLUDE NAME="footer.tmpl">
