<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_zerocirc.tmpl">

<script type="text/javascript">

  function showOrHideDeweyRanges(chosenCollection) {
    var theDiv = document.getElementById("nonficdiv");
    if (chosenCollection == "NF") {
      theDiv.style.display = "block";
    } else {
      theDiv.style.display = "none";
    }
  }

  function setCallNumberRange(lowerBound) {
    var myCallStart = document.getElementById('call_start');
    var myCallEnd = document.getElementById('call_end');
    myCallStart.value = lowerBound;
    myCallEnd.value = eval(lowerBound) + 99.9999;
    if (myCallEnd.value < 100) {
      myCallEnd.value = "0" + myCallEnd.value;
    }
  }

</script>

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_zerocirc_browse");
  //-->
</script>

<h1>Browse PLS collection-development list</h1>

<p>Use the drop-down list to select the collection you are interested in.</p>
<p>You can also enter a starting and ending call # to limit the list.</p>
<br />

<div id="nonficdiv">
  <hr>
  <p class="zerocirc_short_instruction">
    You can click on a hundred-range button to set the starting and ending call numbers
    corresponding to a dewey classification.
  </p>
  <p class="zerocirc_short_instruction">
    You can manually set the starting and ending call numbers to narrow the range even further.
  </p>
  <p>
    <table border=1>
      <tr>
	<td><input type="button" value="000" onclick="setCallNumberRange(this.value)"></td>
	<td>Generalities</td>
	<td><input type="button" value="500" onclick="setCallNumberRange(this.value)"></td>
	<td>Natural Sciences and Mathematics</td>
      </tr>
      <tr>
	<td><input type="button" value="100" onclick="setCallNumberRange(this.value)"></td>
	<td>Philosophy and Psychology</td>
	<td><input type="button" value="600" onclick="setCallNumberRange(this.value)"></td>
	<td>Technology (Applied Sciences)</td>
      </tr>
      <tr>
	<td><input type="button" value="200" onclick="setCallNumberRange(this.value)"></td>
	<td>Religion</td>
	<td><input type="button" value="700" onclick="setCallNumberRange(this.value)"></td>
	<td>The Arts</td>
      </tr>
      <tr>
	<td><input type="button" value="300" onclick="setCallNumberRange(this.value)"></td>
	<td>Social Sciences</td>
	<td><input type="button" value="800" onclick="setCallNumberRange(this.value)"></td>
	<td>Literature and Rhetoric</td>
      </tr>
      <tr>
	<td><input type="button" value="400" onclick="setCallNumberRange(this.value)"></td>
	<td>Languages</td>
	<td><input type="button" value="900" onclick="setCallNumberRange(this.value)"></td>
	<td>Geography and History</td>
      </tr>
    </table>
  </p>
  <hr>
</div>

<form NAME="zerocircBrowse" METHOD=POST ACTION="">
  <table>
    <tr>
      <td>Collection</td>
      <td>Call # start</td>
      <td>Call # end</td>
    </tr><tr>
      <td>
	<select name="collection" onchange="showOrHideDeweyRanges(this.options[this.selectedIndex].text)">
	  <TMPL_LOOP name="collections">
	    <option><TMPL_VAR name="collection"></option>
	  </TMPL_LOOP>
	</select>
      </td>
      <td>
	<input TYPE="text" NAME="call_start" SIZE="10" MAXLENGTH="10" id="call_start">
	<TMPL_VAR NAME="call_start">
      </td>
      <td>
	<input TYPE="text" NAME="call_end" SIZE="10" MAXLENGTH="10" id="call_end">
	<TMPL_VAR NAME="call_end">
      </td>
    </tr>
  </table>

  <input TYPE="hidden" NAME="rm" VALUE="browse_results_form">
  <input TYPE="hidden" NAME="newsearch" VALUE="1">
  <br />
  <input type="submit" name="submit" value="Submit" />
</form>

<div id="debug-1">
     <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
     <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
     <p class="debuginfo">SQL: <TMPL_VAR NAME="sql"></p>
</div>

<script type="text/javascript">
  <!--
  showOrHideDeweyRanges("E");  // IE hack - it seems div default style from css gets ignored.
  //-->
</script>

<TMPL_INCLUDE NAME="footer.tmpl">
