<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_zerocirc.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_zerocirc_find");
  //-->
</script>

<h1>Find and claim PLS collection development items</h1>

<p>Type in the ID# of the item you would like to claim and hit the [ENTER] key.</p>
<p>The ID# can be found on the <a href=/cgi-bin/zerocirc.cgi?rm=browse_form>browse list</a>
(it's the very left-hand column)</p>
<br />

<form name="claimByID" METHOD=POST ACTION="">
  <TMPL_IF NAME="callno">
    <TMPL_IF NAME="ok">
      <p class="zerocirc_claim_ok">
    <TMPL_ELSE>
      <p class="zerocirc_claim_not_ok">
    </TMPL_IF>
    <TMPL_VAR NAME="message"><br /></p>

    <p><TMPL_VAR NAME="callno"> (Author: <TMPL_VAR NAME="author">, Title: <TMPL_VAR NAME="title">, PubDate:<TMPL_VAR NAME="pubdate">)<br /></p>

    <TMPL_IF NAME="ok">
      <p class="zerocirc_claim_ok">
    <TMPL_ELSE>
      <p class="zerocirc_claim_not_ok">
    </TMPL_IF>
    <input TYPE="hidden" name="claimed_by" value=<TMPL_VAR NAME="claimed_by">>
    Claimed at <TMPL_VAR NAME="claimed_timestamp"></p>

    <hr>
    <br />
  </TMPL_IF>
  <p>
    ID of item to claim:
    <input TYPE="text" NAME="id" SIZE="6" MAXLENGTH="6">
    <input TYPE="hidden" NAME="rm" VALUE="find_form">
    <input type="submit" name="submit" value="Submit" />
  </p>
</form>

<!-- this must come *after* the form, so the form loads first -->
<script type="text/javascript" language="JavaScript">
  document.forms['claimByID'].elements['id'].focus();
</script>


<div id="debug-1">
     <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
     <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
     <p class="debuginfo">SQL: <TMPL_VAR NAME="sql"></p>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
