<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_zerocirc.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_zerocirc_report");
  //-->
</script>

<div id="main">

<input class="noPrint" type="button" value="Print this list" onclick="window.print()">
Claimed items list for: <TMPL_VAR NAME=username> (<TMPL_VAR NAME=count> items)

<div id="middlecontent">
  <table cellpadding=20 cellspacing=5 border=0>
    <tr>
      <th>id</th>
      <th>Collection</th>
      <th>Call #</th>
      <th>Author</th>
      <th width="40%">Title</th>
      <!-- <th>claimed by</th> -->
    </tr>


    <TMPL_LOOP NAME="browselist">
      <tr>
 	<td><p style="color: gray"><TMPL_VAR NAME="id"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="collection"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="callno"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="author"></p></td>
	<td><p style="background: #FFFFF0"><TMPL_VAR NAME="title"></p></td>
	<!-- <td><p style="background: #FFFFF0"><TMPL_VAR NAME="claimed_by"></p></td> -->
      </tr>
    </TMPL_LOOP>


  </table>
</div>


<div id="rightcontent">
</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
