<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_patrons.tmpl">

<script type="text/javascript" src="/js/fILL-chat-1.0.js"></script>


<script type="text/javascript">
function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
}

function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
}

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    connections = {};

    set_secondary_tab("menu_patrons_chat");

    connections["syschan"] = new Channel("syschan");

    $("#input-syschan").keypress(function (e) {
        if (e.which == 13) {
            $("#send-btn-syschan").click();
            return false;  // have jQuery call e.preventDefault() and e.stopPropagation()
        }
    });

    $("#start-chat").click( function(){
        $("#start-chat-button-div").toggle();
        $("#syschan").toggle();
        connections["syschan"].sendJoiningMessage();
        $("#input-syschan").val("");
        $("#input-syschan").focus();
    });

    $("#send-btn-syschan").click( function(){ 
        connections["syschan"].chatSendMsg(); 
        $("#input-syschan").val("");
        $("#input-syschan").focus();
    });
   
}); // end document ready

</script>


<!--<div id="main"> -->

  <div id="chat-div">
    <div id="start-chat-button-div">
      <button id="start-chat" class="library-style">Start chat</button>
    </div>

    <div id="channels" class="channels">

<!--      <div id="syschan" class="single-channel" style="display:none; border:1px solid; float: left; width:300px; background-color:yellow;"> -->
      <div id="syschan" class="single-channel" style="display:none">
	<div class="channel-title"><h2>syschan</h2></div>
	<div class="messages" id="messages-syschan"></div>
	<div class="chat-entry" id="chat-entry-syschan">
	  <input class="chat-input" id="input-syschan" type="text" name="message" placeholder="Message" maxlength="80"/>
	  <button id="send-btn-syschan" class="library-style">Send</button>
	</div>
      </div>
    </div> <!-- single-channel -->

    <!-- library-patron channels will be added here dynamically -->

  </div> <!-- channels -->

<!-- </div> -->

<TMPL_INCLUDE NAME="footer.tmpl">
