<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_patrons.tmpl">

<script type="text/javascript" src="/js/fILL-chat-1.0.js"></script>


<script type="text/javascript">
function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
}

function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
}

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    connections = {};

    set_secondary_tab("menu_patrons_chat");

//    connections["syschan"] = wsNew("syschan");
    connections["syschan"] = new Channel("syschan");

    $("#message").keypress(function (e) {
        if (e.which == 13) {
            $("#send-btn").click();
            return false;  // have jQuery call e.preventDefault() and e.stopPropagation()
        }
    });

    $("#start-chat").click( function(){
        $("#syschan").toggle();
        connections["syschan"].sendJoiningMessage();
    });

    $("#send-btn").click( function(){ connections["syschan"].chatSendMsg(); });
   
}); // end document ready

</script>


<div id="main">

  <div id="chat-button-div">
    <button id="start-chat">Start chat</button>
  </div>

  <div id="chatbox" class="chat_wrapper">
    <div class="message_box" id="syschan" style="display:none; border:1px solid; float:left; width:250px">
      <div class="panel">
	<input type="text" name="message" id="message" placeholder="Message" maxlength="80"/>
	<button id="send-btn">Send</button>
    </div>
</div>  </div> <!-- chat_wrapper -->

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
