<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_patrons.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_patrons_edit");
  //-->
</script>

<div id="main">

  <p><TMPL_VAR NAME="status"></p>

  <TMPL_IF NAME=in_editing>
    <hr>
    <form method=POST action="">
      <table border="0">
	<tr><td>Patron id (pid)</td><td colspan=3><TMPL_VAR NAME=pid></td></tr>
	<tr>
	  <td>Username</td>
	  <td><TMPL_VAR NAME="pusername"></td>
	  <TMPL_IF NAME=in_editing>
	    <TMPL_IF NAME=new_password>
	      <td><em>Enter a new password:</em></td>
	      <td><input type="text" name="passwd"></td>
	      <TMPL_ELSE>
		<td><em>Passwords are hidden.</em></td>
		<td><em><a href="?rm=patrons_edit_form&pid=<TMPL_VAR NAME=pid>&action=new_password">Assign new password</a></em><br /><em>(Save any changes before doing this!)</em></td>
	    </TMPL_IF>
	    <TMPL_ELSE>
	      <td></td>
	      <td></td>
	  </TMPL_IF>
	</tr>
	<tr>
	  <td>Name</td>
	  <td><input type="text" name="name" value="<TMPL_VAR ESCAPE=HTML NAME=name>"></td>
	  <td>Card #</td>
	  <td><input type="text" name="card" value=<TMPL_VAR NAME="card">></td>
	</tr>
	<tr>
	  <td>Email address</td>
	  <td colspan=3><input type="text" name="email_address" size=50 maxlength=80 value=<TMPL_VAR NAME="email_address">></td>
	</tr>
	<tr>
	  <td>Enabled? <input type="text" name="is_enabled" size=1 value=<TMPL_VAR NAME="is_enabled">></td>
	  <td>Verified <input type="text" name="verified" size=1 value=<TMPL_VAR NAME="verified">></td>
	  <td>ILL requests</td><td><TMPL_VAR NAME="ill_requests"></td>
	  <td>Last login</td><td><TMPL_VAR NAME="last_login"></td>
	</tr>
      </table>
      <input type="hidden" name="rm" value="patrons_edit_form">
      <input type="hidden" name="pid" value=<TMPL_VAR NAME=pid>>
      <input type="hidden" name="action" value="save">
      <input type="submit" name="submit" value="Save these changes">
    </form>
  </TMPL_IF>

  <hr>
  <table border="0">
    <tr>
      <td><a href="?rm=patrons_edit_form&sort=pid">PID</a></td>	
      <td><a href="?rm=patrons_edit_form&sort=name">Name</a></td>
      <td><a href="?rm=patrons_edit_form&sort=card">Card</a></td>
      <td><a href="?rm=patrons_edit_form&sort=email_address">Email</a></td>
      <td><a href="?rm=patrons_edit_form&sort=last_login">Last login</a></td>
      <td> </td>
    </tr>
    
    <TMPL_LOOP NAME="patronloop">
      <tr>
	<td><TMPL_VAR NAME="pid"></td>
	<td><TMPL_VAR NAME="name"></td>
	<td><TMPL_VAR NAME="card"></td>
	<td><TMPL_VAR NAME="email_address"></td>
	<td><TMPL_VAR NAME="last_login"></td>
	<td>
	  <form method=POST action="">
	    <input type="hidden" name="rm" value="patrons_edit_form">
	    <input type="hidden" name="pid" value=<TMPL_VAR NAME=pid>>
	    <input type="hidden" name="action" value="load">
	    <input type="submit" name="submit" value="Edit">
	  </form>
	</td>
      </tr>
    </TMPL_LOOP>

  </table>
</div>


<TMPL_INCLUDE NAME="footer.tmpl">
