<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_patrons.tmpl">

<script type="text/javascript" src="/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/js/patrons-list-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_patrons");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-patrons-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                build_table(data);

                oTable = $('#datatable_patrons').dataTable({
                  "bJQueryUI": true,
                  "sPaginationType": "full_numbers",
                  "bInfo": true,
      	          "bSort": true,
	          "sDom": '<"H"Tfr>t<"F"ip>',
                  "iDisplayLength": 10,
                  "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	          "oTableTools": {
                    "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
	          },
                 "columnDefs": [{
                    "targets": 0,
                    "visible": false
                  }],
                  "bAutoWidth": false,
                  "fnInitComplete": function() {
                    // this handles a bug(?) in this version of datatables;
                    // hidden columns caused the table width to be set to 100px, not 100%
                    $("#datatable_patrons").css("width","100%");
                  }
                });
           })
	.success(function() {
	    //alert('success');
	})
	.error(function() {
	    //alert('error');
	})
	.complete(function() {
            //alert('ajax complete');
	    /* Apply the jEditable handlers to the table */

	    $('td:eq(3),td:eq(4),td:eq(5),td:eq(8)', oTable.fnGetNodes()).editable( '/cgi-bin/update-patron.cgi', {
	        "callback": function( sValue, y ) {
	            //alert('2. sValue: '+sValue);
	            var obj = jQuery.parseJSON( sValue );
	            //alert('3. data: '+obj.data);
		    var aPos = oTable.fnGetPosition( this );
		    oTable.fnUpdate( obj.data, aPos[0], aPos[1] );
	        },
         	"submitdata": function ( value, settings ) {
	            //alert('1. value: '+value+'\nsettings: '+settings+'\npid: '+this.parentNode.getAttribute('id')+'\ncolumn: '+oTable.fnGetPosition( this )[2]);
	            return {
		        "pid": this.parentNode.getAttribute('id'),
		        "lid": <TMPL_VAR name="lid">,
			"column": oTable.fnGetPosition( this )[2]
		    };
        	},
	        "height": "14px",
	        "select": true
            });

	});
});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <h3>Patrons registered with fILL</h3>
      <div id="mylistDiv">
      </div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <br/>
    <p>Update a user's <strong>email address</strong> by clicking on it and changing the text.</p><br/>
    <p>Update a user's <strong>enabled</strong> status by clicking on it entering '0' or '1' ('0' means they are not enabled).  Hit <strong>[ENTER]</strong> to complete the change.</p><br/>
    <p>Update a user's <strong>verified</strong> status by clicking on it entering '0' or '1' ('0' means they are not verified).  Hit <strong>[ENTER]</strong> to complete the change.</p><br/>
    <p>You won't see a user's current <strong>password</strong>, but you can change it by clicking on "Click to change password" for that user.</p><br/>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
