<TMPL_INCLUDE NAME="header.tmpl">

<div id="container">

  <table class="fill-table">
    <tr>
      <td>ENV variable</td>
      <td>Value</td>
    </tr>

    <TMPL_LOOP NAME="env_variable_loop">
      <tr>
        <td><TMPL_VAR NAME="name"></td>
        <td><TMPL_VAR NAME="value"></td>
      </tr>
    </TMPL_LOOP>

  </table>
</container>

<TMPL_INCLUDE NAME="footer.tmpl">
