<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_myaccount_settings");
  //-->
</script>

<div id="center" role="main" class="tone-box">
<h2>Advanced Search</h2>


<div id="search-container" style="display: none">
  <div id="search" role="search" class="tone-box">
   
    <form id="searchForm" name="search">
	    <label for="authen_username">General Search</label>
	      <input id="query" type="text" value="Search"/><!--General searchfield-->
	    
	    <label for="authen_username">Title</label>
	      <input id="query" type="text" value="title"/><!--Title searchfield-->
	    
	    <label for="authen_username">Author</label>  
	      <input id="query" type="text" value="author"/><!--Author searchfield-->
	    
	    <label for="authen_username">Subject</label>  
	      <input id="query" type="text" value="subject"/><!--Subject searchfield-->
	    
	    <label for="authen_username">Series</label> 
	      <input id="query" type="text" value="series"/><!--Series searchfield-->

	    <input id="button" type="submit" value="Search" class="library-style" />
    </form>

    </div>
</div>


</div><!--div id center-->	    
	
<div id="instructions" class="tone-box">

   <h3>Search help</h3>
   <p>fILL does a general keyword search by default.</p>
  
   <p><strong>Specific title:</strong> tti="The case for mars"</p>
   <p><strong>Specific author:</strong> tau="Zubrin, Robert"</p>
   <p><strong>Specific subject:</strong> tsu="mars planet"</p>
   <p><strong>Series:</strong> tseries="fear street"</p>

   <p>You can combine these using the connectors AND, OR, NOT:</p>
   <p>tau="david drake" and au="eric flint"</p>
   <p>tti="cooking" and su="solar"</p>
   <p>tti="cooking" not su="microwave"");</p>

</div><!--div id instrucitons-->


<TMPL_INCLUDE NAME="footer.tmpl">
