<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_search.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_search_simple_ajax");
  //-->
</script>

<h1>Peak usage</h1>

<p>The system is very busy right now.</p>
<p>Please try your search again in a few minutes.</p>

<TMPL_INCLUDE NAME="footer.tmpl">
