<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/checkins-1.1.js"></script>

<script type="text/javascript">
set_secondary_tab("menu_lend_checkins");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-checkin-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.checkins[0].id+" "+data.checkins[0].msg_from+" "+data.checkins[0].author+" "+data.checkins[0].title+" "+data.checkins[0].ts); //further debug
                build_table(data);

                oTable = $('#checkins-table').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "oTableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,1,2,7],
                           "visible": false
                       } ],
                      "fnInitComplete": function() {
                           // this handles a bug(?) in this version of datatables;
                           // hidden columns caused the table width to be set to 100px, not 100%
                           $("#checkins-table").css("width","100%");
                      }
                  });
           });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <br/>
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ul>
      <li>When an item is returned to your library, first check it in to your ILS, then click "Checked in to ILS."</li>
      <li>As items are checked in here, they are removed from this list and moved to history.</li>
    </ul>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
