<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/checkins-1.4.js"></script>

<script type="text/javascript">
set_secondary_tab("menu_lend_checkins");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <div id="mylistDiv">
	<table id="checkins-table" class="row-border">
	  <thead>
	    <tr>
	      <th>gid</th>
	      <th>cid</th>
	      <th>ID</th>
	      <th>Title</th>
	      <th>Author</th>
	      <th>Last update</th>
	      <th>Back from</th>
	      <th>Back from (ID)</th>
	      <th>Check-in</th>
	    </tr>
	  </thead>
	  <tbody></tbody>
	  <tfoot>
	    <tr><td colspan="9">As items are checked in here, they are removed from this list.  They must still be checked in to your ILS.</td></tr>
	  </tfoot>
	</table>
      </div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
  
      <p>When an item is returned to your library, first check it in to your ILS, then click "Checked in to ILS."</p>
      <p>As items are checked in here, they are removed from this list and moved to history.</p>
  
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
