<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<link type="text/css" href="/css/maplin-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/jquery-1.7.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="/checkins.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_checkins");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-checkin-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.checkins[0].id+" "+data.checkins[0].msg_from+" "+data.checkins[0].author+" "+data.checkins[0].title+" "+data.checkins[0].ts); //further debug
                build_table(data);
                //toggleLayer("waitDiv");
                //toggleLayer("mylistDiv");
           });

    $.getJSON('/cgi-bin/get-menu-lend-counts.cgi', {lid: <TMPL_VAR name="lid">},
        function(data){
            if (data.counts.renewalRequests > 0) {
                $('#menu_lend_renewal_requests a')[0].innerHTML = 'Renewal requests: '+data.counts.renewalRequests;
            };
            if (data.counts.waiting > 0) {
                $('#menu_lend_respond a')[0].innerHTML = 'Respond: '+data.counts.waiting;
            };
            //alert('get-menu-lend-counts\nrenewalRequests: '+data.counts.renewalRequests+'\nwaiting: '+data.counts.waiting);
    });

});

</script>


<div id="main">

  <div id="leftcontent">
    <h2>Instructions</h2>
    <ol>
      <li>This is a list of loans you have made to other libraries, where the borrowing library has returned the item.</li>
      <li>When the item arrives in the mail, check it in here and in your ILS.</li>
    </ol>
  </div>

  <div id="middlecontent">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <br/>
      <h3>Check-ins (incoming items to be checked in)</h3>
      <div id="mylistDiv"></div>
    </div>

  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
