<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_search.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_search_common");
  //-->
</script>

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }

  function checkAllByParent( controllingCheckbox )
  {
    var state = controllingCheckbox.checked;
    var collection = controllingCheckbox.parentNode.parentNode.getElementsByTagName('INPUT');

    for (var i=0; i<collection.length; i++) {
      if ( collection[i].type.toUpperCase() == 'CHECKBOX' ) {
        collection[i].checked = state;
      }
    }
  }
</script>

<h1>Common Search</h1>

<form METHOD=POST ACTION="" name="search">
  <table border="1" class="common_search_table">
    <tr>
      <td colspan="2">Resources</td>
    </tr>
    <tr>
      <td>
	<p class="short_instruction">
	  Select the types of resources you would like to search.<br>
	  Standard (ILL) - looking for physical items to interlibrary loan.<br>
	  Databases - include the various EBSCOhost databases.<br>
	  eBook - include online/electronic versions you can download.<br>
	  Web-based - use this to help your patron define what they are looking for.
	</p>
      </td>
      <td>
	<TMPL_IF NAME="use_standardresource">
	  <input TYPE=CHECKBOX NAME="inclSR" CHECKED >Standard (ILL)<br>
	<TMPL_ELSE>
	  <input TYPE=CHECKBOX NAME="inclSR" >Standard (ILL)<br>
	</TMPL_IF>

	<TMPL_IF NAME="use_databaseresource">
	  <input TYPE=CHECKBOX NAME="inclDB" CHECKED >Databases<br>
	<TMPL_ELSE>
	  <input TYPE=CHECKBOX NAME="inclDB" >Databases<br>
	</TMPL_IF>

	<TMPL_IF NAME="use_electronicresource">
	  <input TYPE=CHECKBOX NAME="inclER" CHECKED >eBook<br>
	<TMPL_ELSE>
	  <input TYPE=CHECKBOX NAME="inclER" >eBook<br>
	</TMPL_IF>

	<TMPL_IF NAME="use_webresource">
	  <input TYPE=CHECKBOX NAME="inclWR" CHECKED >Web-based<br>
	<TMPL_ELSE>
	  <input TYPE=CHECKBOX NAME="inclWR" >Web-based<br>
	</TMPL_IF>
      </td>
    </tr>
  </table>
  <p />
  <br />
  <p>Enter keywords in any or all of the following:</p>
  <table border="1" class="common_search_table">
    <tr>
      <td colspan="2">
	Terms
	<p class="short_instruction">(By default, all zservers in Standard (ILL), database, and eBook are searched)</p>
      </td>
    </tr>

    <tr>
      <td>Title keywords</td>
      <td>
	<input TYPE="text" NAME="title_keywords" SIZE="50" MAXLENGTH="80">
      </td>
    </tr>

    <tr>
      <td>Author keywords</td>
      <td>
	<input TYPE="text" NAME="author_keywords" SIZE="50" MAXLENGTH="80">
      </td>
    </tr>

    <tr>
      <td>Subject keywords</td>
      <td>
	<input TYPE="text" NAME="subject_keywords" SIZE="50" MAXLENGTH="80">
      </td>
    </tr>

    <tr>
      <td>Anywhere in the record</td>
      <td>
	<input TYPE="text" NAME="any_keywords" SIZE="50" MAXLENGTH="80">
      </td>
    </tr>

  </table>
  <input TYPE="hidden" NAME="rm" VALUE="search_common_form">
  <input TYPE="hidden" NAME="newsearch" VALUE=1>
  <p class="short_instruction">Some zservers do not support the "anywhere" search.</p>
  <br />
  <p>
    To select specific zservers to search: 
    <a href="javascript:toggleLayer('selectZservers');" title="Show/Hide Z39.50 zserver selection">
      Show/Hide zservers
    </a>
  </p>
  <div id="selectZservers">
    <br />
    <h4>Select the zservers to search</h4>
    <p class="short_instruction">
      Choosing any of these zservers will override the "search all zservers" default and 
      will search <em>only the chosen</em> zservers.
    </p>
    </p><br />
    <p class="zserver_unavailable">Libraries in this format have been marked unavailable by the library.</p>
    <p class="short_instruction">Libraries with a line through them are not responding.</p><br />
    <table>
      <tr>
	<th>Standard (ILL)</th>
	<th>Databases</th>
	<th>eBook</th>
	<th>Web</th>
      </tr>
      <tr>
	<td valign="top">
  	  <div id="standard_checkboxes">
	  <p class="zserver_check_uncheck_all">
	  <input TYPE="checkbox" NAME="checkall_standard" onclick='checkAllByParent(this);'>Check/uncheck all
          </p>
	  <TMPL_LOOP NAME=SRzservers>
	    <TMPL_IF NAME=alive>
	      <TMPL_IF NAME=available>
		<p class="zserver_available">
		  <input TYPE="checkbox" NAME=cb_<TMPL_VAR NAME="id"> VALUE=<TMPL_VAR NAME="id">>
	      <TMPL_ELSE>
		<p class="zserver_unavailable">
		  Disabled by
		  <input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	      </TMPL_IF>
	    <TMPL_ELSE>
	      <p class="zserver_not_alive">
		<input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	    </TMPL_IF>
	    <TMPL_VAR NAME="name">
            </p>
          </TMPL_LOOP>
          </div>
        </td>

        <td valign="top">
          <div id="database_checkboxes">
	  <p class="zserver_check_uncheck_all">
	  <input TYPE="checkbox" NAME="checkall_database" onclick='checkAllByParent(this);'>Check/uncheck all
	  </p>
	  <TMPL_LOOP NAME=DBzservers>
	    <TMPL_IF NAME=alive>
	      <TMPL_IF NAME=available>
		<p class="zserver_available">
		  <input TYPE="checkbox" NAME=cb_<TMPL_VAR NAME="id"> VALUE=<TMPL_VAR NAME="id">>
	      <TMPL_ELSE>
		<p class="zserver_unavailable">
		  Disabled by
		  <input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	      </TMPL_IF>
	    <TMPL_ELSE>
	      <p class="zserver_not_alive">
		<input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	    </TMPL_IF>
            <TMPL_VAR NAME="name">
            </p>
          </TMPL_LOOP>
          </div>
        </td>

        <td valign="top">
          <div id="ebook_checkboxes">
	  <p class="zserver_check_uncheck_all">
	  <input TYPE="checkbox" NAME="checkall_ebook" onclick='checkAllByParent(this);'>Check/uncheck all
	  </p>
	  <TMPL_LOOP NAME=ERzservers>
	    <TMPL_IF NAME=alive>
	      <TMPL_IF NAME=available>
		<p class="zserver_available">
		  <input TYPE="checkbox" NAME=cb_<TMPL_VAR NAME="id"> VALUE=<TMPL_VAR NAME="id">>
	      <TMPL_ELSE>
		<p class="zserver_unavailable">
		  Disabled by
		  <input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	      </TMPL_IF>
	    <TMPL_ELSE>
	      <p class="zserver_not_alive">
		<input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	    </TMPL_IF>
            <TMPL_VAR NAME="name">
            </p>
          </TMPL_LOOP>
          </div>
        </td>

        <td valign="top">
          <div id="web_checkboxes">
	  <p class="zserver_check_uncheck_all">
	  <input TYPE="checkbox" NAME="checkall_web" onclick='checkAllByParent(this);'>Check/uncheck all
	  </p>
	  <TMPL_LOOP NAME=WRzservers>
	    <TMPL_IF NAME=alive>
	      <TMPL_IF NAME=available>
		<p class="zserver_available">
		  <input TYPE="checkbox" NAME=cb_<TMPL_VAR NAME="id"> VALUE=<TMPL_VAR NAME="id">>
	      <TMPL_ELSE>
		<p class="zserver_unavailable">
		  Disabled by
		  <input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	      </TMPL_IF>
	    <TMPL_ELSE>
	      <p class="zserver_not_alive">
		<input TYPE="hidden" NAME=cb_<TMPL_VAR NAME="id">>
	    </TMPL_IF>
            <TMPL_VAR NAME="name">
            </p>
          </TMPL_LOOP>
          </div>
        </td>

      </tr>
    </table>
  </div>

  <br />
  <input type="submit" name="submit" value="Submit" />
</form>

<!-- this must come *after* the form, so the form loads first -->
<script type="text/javascript" language="JavaScript">
  document.forms['search'].elements['title_keywords'].focus();
</script>

<div id="debug-1">
     <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
     <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
