<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/history-1.5.js"></script>

<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

<div id="instructions" class="tone-box">
    <h3>View completed ILL requests within this date range:</h3>

      <form>
        <div id="history">

          <label for="startdate">Start date:</label>
          <input id="startdate" type="text"><br>

          <label for="enddate">End date:</label>
          <input id="enddate" type="text"><br>
      
          <input id="dateButton" type="button" class="library-style" value="Fetch requests">
      </div>
    </form>
<br>
  </div><!--div id instructions-->

	<div style="clear:both"></div>

    <div id="waitDiv">
      Getting requests from history... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="tabs">
      <ul>
	<li><a href="#tabs-1">Borrowing history</a></li>
	<li><a href="#tabs-2">Lending history</a></li>
      </ul>

      <div id="tabs-1"></div>

      <div id="tabs-2"></div>

    </div>


</div>

<TMPL_INCLUDE NAME="footer.tmpl">
