<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_search.tmpl">

<link type="text/css" href="/css/cupertino/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/jquery-1.7.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/DataTables-1.8.2/media/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="/history.js"></script>

<script type="text/javascript">
set_secondary_tab("menu_search_history");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    var anOpen = [];
    var sImageUrl = "/DataTables-1.8.2/examples/examples_support/";

    oTable_borrowing = $('#datatable_borrowing').dataTable({
       "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bInfo": true,
      	"bSort": true,
	"sDom": '<"H"Tfr>t<"F"ip>',
// Requires Flash ver 10...
//	"oTableTools": {
//                "sSwfPath": "/DataTables-1.8.2/extras/TableTools/media/swf/copy_cvs_xls_pdf.swf"
//		"aButtons": [
//			"copy", "csv", "xls", "pdf",
//			{
//				"sExtends":    "collection",
//				"sButtonText": "Save",
//				"aButtons":    [ "csv", "xls", "pdf" ]
//			}
//		]
//	}
        "aoColumns": [
            {
               "mDataProp": null,
               "sClass": "control center",
               "sDefaultContent": '<img src="'+sImageUrl+'details_open.png'+'">'
            },
            { "mDataProp": "id" },
            { "mDataProp": "title" },
            { "mDataProp": "author" },
            { "mDataProp": "patron_barcode" },
            { "mDataProp": "ts" }
        ]

    });

    oTable_lending = $('#datatable_lending').dataTable({
       "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bInfo": true,
      	"bSort": true,
	"sDom": '<"H"Tfr>t<"F"ip>',
    });

    $.getJSON('/cgi-bin/get-history.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.history[0].id+" "+data.history[0].title+" "+data.history[0].author+" "+data.history[0].patron_barcode+" "+data.history[0].ts); //further debug
                build_table(data);
                //toggleLayer("waitDiv");
                //toggleLayer("mylistDiv");
           })
	.success(function() {
	    //alert('success');
	    // print slip (single) / add to slip page (multi) / do nothing (none)
	})
	.error(function() {
	    alert('error');
	})
	.complete(function() {
            //alert('ajax complete');
	});


    $('#datatable_borrowing td.control').live( 'click', function () {
      var nTr = this.parentNode;
      var i = $.inArray( nTr, anOpen );
   
      if ( i === -1 ) {
        $('img', this).attr( 'src', sImageUrl+"details_close.png" );
        var nDetailsRow = oTable_borrowing.fnOpen( nTr, fnFormatDetails(oTable_borrowing, nTr), 'details' );
        $('div.innerDetails', nDetailsRow).slideDown();
        anOpen.push( nTr );
      }
      else {
        $('img', this).attr( 'src', sImageUrl+"details_open.png" );
        $('div.innerDetails', $(nTr).next()[0]).slideUp( function () {
          oTable_borrowing.fnClose( nTr );
          anOpen.splice( i, 1 );
        } );
      }
    } );

});

</script>


<div id="main">

  <div id="leftcontent">
    <h2>Instructions</h2>
    <ol>
      <li>Borrowing and lending history</li>
    </ol>
  </div>

  <div id="middlecontent">
    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="mylistDiv">
      <h4>Borrowing history</h4>
      <div class="dataTable_wrapper">
	<table id="datatable_borrowing">
	  <thead>
	    <tr>
	      <th></th><th>id</th><th>title</th><th>author</th><th>patron_barcode</th><th>ts</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>

      <br />
      <h4>Lending history</h4>
      <div class="dataTable_wrapper">
	<table id="datatable_lending">
	  <thead>
	    <tr>
	      <th></th><th>id</th><th>title</th><th>author</th><th>requester</th><th>ts</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </div>

  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
