<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/holds-1.2.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_holds");

$.ajaxSetup ({  
  cache: false  
});  

</script>

<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <div id="mylistDiv"></div>
    </div>
    
<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>If a lending library placed a hold for you, that request will be shown here.</p>
      <p>When the lender fills the hold (i.e. ships the title to you), it will be removed from this list and added to your 'Receiving' tab.</p>

</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
