<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/lend_overdue-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_overdue");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
  
      <div id="mylistDiv"></div>
    </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>These items are now overdue, and you will need to contact these borrowing libraries.</p>

</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
