<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><TMPL_VAR name="pagetitle"></title>
<!--  <link rel="stylesheet" href="/maplin3styles.2.0.css"></link>  -->
  <link rel="stylesheet" href="/fILL.1.0.css"></link>
  <script type="text/javascript" src="/js/pz2.js"></script>
  <script type="text/javascript" src="/js/maplin_client.js"></script>
<script language="JavaScript">

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

</script>

<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21021258-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 </head>
 
 <body onload="domReady();">

  <div id="noscript">
    <noscript>
	<p>Your browser does not support or allow execution of scripts required by this site to work properly.</p>
	<p>If you run Internet Explorer 6+ or FireFox 2.0+ and see this message ensure the JavaScript is enabled in your browser.</p>
	<p>If you run Internet Explorer 7 add the site to the Trusted Sites group.</p>
	<p>Finally, check your personal firewall settings.</p>
    </noscript>
  </div>

<!-- from header.tmpl -->
<DIV id="header">
  <div id="logo">
    <div id="logo_title">MAPLIN-4</div>
    <div id="logo_slogan">Manitoba Public Libraries ILL management system</div>
  </div>

  <div id="header_searchbar">
    <form id="searchForm" name="search">
      <input id="query" type="text" size="50"/>
      <input id="button" type="submit" value="Search"/>
    </form>
  </div>

  <div id="header_quick_access">
    <ul>
      <li><a href="?rm=welcome">Home</a></li>
      <li><TMPL_VAR NAME="username"> </li>
      <li><a href="?authen_logout=1">Log out</a></li>
    </ul>
  </div>
</DIV>

<!-- div id="nav1" -->
<div id="csstabs">
  <ul>
    <li id="menu_borrow">
      <a href=/cgi-bin/lightning.cgi?rm=lightning_search_form>
      Borrowing from other libraries
      </a>
    </li>

    <li id="menu_lend">
      <a href=/cgi-bin/lightning.cgi?rm=pull_list>
      Lending to other libraries
      </a>
    </li>

    <li id="menu_borrow_live_requests">
      <a href=/cgi-bin/lightning.cgi?rm=live_requests>
      Current ILLs
      </a>
    </li>

    <li id="menu_borrow_history">
      <a href=/cgi-bin/lightning.cgi?rm=history>
      History
      </a>
    </li>

    <li id="menu_myaccount">
      <a href=/cgi-bin/myaccount.cgi?rm=myaccount_settings_form>
      My Account
      </a>
    </li>

    <li id="menu_info">
      <a href=/cgi-bin/info.cgi?rm=info_contacts_form>
      Info
      </a>
    </li>

    <li id="menu_patrons">
      <a href=/cgi-bin/patrons.cgi?rm=patrons_verify_form>
      Patrons
      </a>
    </li>

    <li id="menu_admin">
      <a href=/cgi-bin/admin.cgi?rm=admin_reports_form>
      Admin
      </a>
    </li>

  </ul>

</div>

<script language="JavaScript">

  var uname = '<TMPL_VAR NAME="username">';

  if ((uname == 'admin') || (uname == 'ADMIN')) {
    document.getElementById('menu_admin').style.display="inline";
  } else {
    document.getElementById('menu_admin').style.display="none";
  }

</script>      

<!-- end header.tmpl -->
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">
<script type="text/javascript">
  <!--
  set_secondary_tab("menu_borrow_lightning");
  //-->
</script>

  <div id="switchmenu">
   <a href="#" onclick="switchView('recordview')">Record Browser</a>
   <span> | </span>
   <a href="#" onclick="switchView('targetview')">Target Info</a>
  </div>
 
  <div id="recordview">
   <table width="100%" border="0" cellpadding="6" cellspacing="0">
    <tr>
     <td width="250" valign="top">
       <div id="stat"></div>
       <div id="termlist"></div>
     </td>
     <td valign="top">
      <div id="ranking">
       <form name="select">
        Sort by
        <select name="sort" id="sort">
         <option value="relevance" selected="selected">relevance</option>
         <option value="title:1">title</option>
         <option value="date:0">newest</option>
         <option value="date:1">oldest</option>
        </select>
        and show 
        <select name="perpage" id="perpage">
         <option value="10">10</option>
         <option value="20" selected="selected">20</option>
         <option value="30">30</option>
         <option value="50">50</option>
        </select>
        per page.
       </form>
      </div>
      <div id="pager"></div>
      <div id="navi"></div>
      <div id="results"></div>
     </td>
    </tr>
   </table>
  </div>
  
  <div id="targetview" style="display: none">
   <div id="bytarget">
       No information available yet.
   </div>
  </div>
  
  <div id="footer">
      <div id="stat"></div>
      <!--
      <span>Copyright &copy; 1999-2010 by <a href="http://www.indexdata.com">Index Data</a></span> 
      -->
  </div>

<!-- End content -->

<div id="nav2">
  <ul>
    <li><a href=/cgi-bin/maplin3.cgi?rm=environment_form>ENV display</a></li>
    <li><a href="?authen_logout=1">Log out</a></li>
  </ul>
</div>

 </body>
</html>
