<TMPL_INCLUDE NAME="header.tmpl">
<script type="text/javascript" src="/js/pz2.js"></script>
<script type="text/javascript" src="/js/fILL_client-1.4.js"></script>

<script type="text/javascript">
  function searchHelp(e) {
    alert("Search help\n\nfILL does a general keyword search by default.\n\nAdvanced searching\n\nSpecific title:  \tti=\"The case for mars\"\nSpecific author:\tau=\"Zubrin, Robert\"\nSpecific subject:\tsu=\"mars planet\"\nSeries:\tseries=\"fear street\"\n\nYou can combine these using the connectors AND, OR, NOT:\n\n\tau=\"david drake\" and au=\"eric flint\"\n\n\tti=\"cooking\" and su=\"solar\"\n\n\tti=\"cooking\" not su=\"microwave\"");
  }
</script>

<script type="text/javascript">

$('document').ready(function(){
  $("#header_searchbar").show();
  $("#query").focus();
});

</script>


<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<!-- Begin content -->

<!-- end header.tmpl -->

<main id="main" class="tone-box" role="main">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_borrow_lightning");
  //-->
</script>

  <div id="switchmenu">
   <a href="#" onclick="switchView('recordview')">Record Browser</a>
   <span> | </span>
   <a href="#" onclick="switchView('targetview')">Target Info</a>
  </div>

      <div id="ranking">
       <form name="select">
        Sort by
        <select name="sort" id="sort">
         <option value="relevance" selected="selected">relevance</option>
         <option value="title:1">title</option>
         <option value="date:0">newest</option>
         <option value="date:1">oldest</option>
        </select>
        and show 
        <select name="perpage" id="perpage">
         <option value="10">10</option>
         <option value="20" selected="selected">20</option>
         <option value="30">30</option>
         <option value="50">50</option>
        </select>
        per page.
       </form>
      </div>
      <div id="pager"></div>
      <div id="navi"></div>
      <div id="results"></div>
  
  <div id="targetview" style="display: none">
   <div id="bytarget">
       No information available yet.
   </div>
  </div>
 </main> 

 <!--***************ARIA MARKER 'COMPLIMENTARY'***************-->
<div id="aside" class="tone-box" role="complimentary">
  <div id="recordview">
       <div id="stat"></div>
       <div id="termlist"></div>
  </div>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
