<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_search.tmpl">

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }
</script>

<div id="main">

  <div id="leftcontent">
    <h2>Instructions</h2>
    <ol>
      <li>Enter your patron's barcode</li>
      <li>Click the "Send Request" button</li>
    </ol>
  </div>

  <div id="middlecontent">
    <p>Requesting user: <TMPL_VAR NAME="username"></p>

    <h2>parms</h2>
    <TMPL_LOOP name="parms">
      <br/><TMPL_VAR name="parm_name">: <TMPL_VAR name="parm_value">
    </TMPL_LOOP>

    <h2>sources</h2>
    <table>
      <tr><td>symbol</td><td>location</td><td>holding</td></tr>
      <TMPL_LOOP name="sources">
	<tr><td><TMPL_VAR name="symbol"></td><td><TMPL_VAR name="location"></td><td><TMPL_VAR name="holding"></td></tr>
      </TMPL_LOOP>
    </table>

  </div>

  <div id="rightcontent">
    <h2>Information</h2>
    <p>Maplin asks for your patron's barcode number so you'll be able to look up your patron when the item arrives.</p>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
