<TMPL_INCLUDE NAME="header.tmpl">
<script type="text/javascript" src="/js/pz2.js"></script>
<script type="text/javascript" src="/js/fILL_client-1.6.js"></script>

<script type="text/javascript" src="/plugins/TimeCircles/inc/TimeCircles.js"></script>
<link rel="stylesheet" href="/plugins/TimeCircles/inc/TimeCircles.css"> 

<script type="text/javascript">
  function searchHelp(e) {
    alert("Search help\n\nfILL does a general keyword search by default.\n\nAdvanced searching\n\nSpecific title:  \tti=\"The case for mars\"\nSpecific author:\tau=\"Zubrin, Robert\"\nSpecific subject:\tsu=\"mars planet\"\nSeries:\tseries=\"fear street\"\n\nYou can combine these using the connectors AND, OR, NOT:\n\n\tau=\"david drake\" and au=\"eric flint\"\n\n\tti=\"cooking\" and su=\"solar\"\n\n\tti=\"cooking\" not su=\"microwave\"");
  }
</script>

<script type="text/javascript">

$('document').ready(function(){
  $("#status-header").text("Search status");  
  $("#status-note").text("The timer will start when you begin a search.  Your search will finish when either the timer runs out, or all libraries have responded.");
  $("#search-container").show();
  $("#query").focus();

  $("#countdown").TimeCircles( { start: false,
                                 time: { Days: { show: false },
                                         Hours: { show: false },
                                         Minutes: { show: false }
                                       }
                               }
                              ).addListener(function(unit, value, total) {
                                              if (total == 0) {
                                                $("#countdown").TimeCircles().stop();
                                                var stoppedAt = stopTheSearch("Timer done");
       	                                        $("#status-header").text("Search complete.");
                                                $("#countdown-finished").empty();
                                                $("#countdown-finished").append("<p>"+stoppedAt.finished+" of "+(stoppedAt.finished + stoppedAt.waiting)+" libraries responded to your search in 45 seconds.</p>");
 	                                        $("#status-note").hide();
                                                $("#countdown-finished").show();
                                                $("#countdown-div").hide();
                                                $("#count-or-percent-div").hide();
                                                $("#percent-div").hide();
                                              }
                                            }, type="visible");


  // Because all Spruce libraries share a zServer, we need a mechanism to indicate
  // that specific libraries are unavailable for requesting from...
  // The other half of this is in fILL_client-1.x.js; look for "skipping Spruce locations"
  $.getJSON('/cgi-bin/get-Spruce-closed.cgi', {},
    function(data){
      window.SpruceClosed = data;
  });

});

</script>
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<!-- Begin content -->

<!-- end header.tmpl -->

<main id="main" class="tone-box" role="main">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_borrow_lightning");
  //-->
</script>

  <div id="switchmenu">
   <a href="#" onclick="switchView('recordview')">Record Browser</a>
   <span> | </span>
   <a href="#" onclick="switchView('targetview')">Target Info</a>
  </div>

  <div id="recordview">
    <div id="ranking">
      <form name="select">
	Sort by
	<select name="sort" id="sort">
          <option value="relevance" selected="selected">relevance</option>
          <option value="title:1">title</option>
          <option value="date:0">newest</option>
          <option value="date:1">oldest</option>
	</select>
	and show 
	<select name="perpage" id="perpage">
          <option value="10">10</option>
          <option value="20" selected="selected">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
	</select>
	per page.
      </form>
    </div>
    
    <div id="pager"></div>
    <div id="navi"></div>
    
    <div id="results"></div>

  </div> <!-- end of recordview -->
    
  <div id="targetview" style="display: none">
    <hr/>
    <div id="bytarget">No information available yet.</div>
  </div>
  
</main> 

 <!--***************ARIA MARKER 'COMPLEMENTARY'***************-->
<div id="aside" class="tone-box" role="complementary">
  <div id="search-status"><h1 id="status-header">Searching all libraries</h1>
    <div id="status-note">Your search will finish when either the timer runs out, or all libraries have responded.</div>
    <div id="countdown-div"><h2>Finishing in:</h2>
      <div id="countdown" data-timer="46" style="width:100%"></div>
    </div>
    <div id="count-or-percent-div"><h2>...or...</h2></div>
    <div id="percent-div"><h2>% of libraries:</h2>
      <div id="stat"></div>
    </div>
    <div id="countdown-finished" style="display:none"></div>
    <div id="libraries-finished" style="display:none"></div>
  </div>
  <div id="termlist"></div>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
