<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/lost-1.3.js"></script>
<script type="text/javascript" src="/js/common/internal-notes-lender-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_lost");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

  <div id="waitDiv">
    Loading... <img src="/wait.gif" alt="loading indicator">
  </div>
  
  <div id="myDiv">
    <div id="mylistDiv">
      <table id="lost-table" class="row-border">
	<thead>
	  <tr>
	    <th>gid</th>
	    <th>cid</th>
	    <th>ID</th>
	    <th>Title</th>
	    <th>Author</th>
	    <th>Date</th>
	    <th>From</th>
	    <th>Phone</th>
	    <th>Address</th>
	    <th>Status</th>
	    <th>Message</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	<tbody></tbody>
	<tfoot>
	  <tr><td colspan="12">As requests are handled, they are removed from this list.  You can see the status of all of your active ILLs in the "Current ILLs" screen.</td></tr>
	</tfoot>
      </table>
    </div>
  </div>
  
  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <p>If a lending library has reported an item lost, that request will be shown here.</p>
    <p>When you are finished with a particular row (e.g. used the information to create a bill), click the 'Move to history' button.</p>
  </div><!-- instructions -->

</div><!-- center -->

<TMPL_INCLUDE NAME="footer.tmpl">
