<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }
</script>

<script type="text/javascript">

$('document').ready(function(){
  update_menu_counters( <TMPL_VAR name="lid"> );
  $("#pbarcode").focus();
});

</script>


<div id="main">

  <div id="leftcontent">
    <h2>Instructions</h2>
    <ol>
      <li>Fill in the number of copies you'd like</li>
      <li>Enter your patron's barcode or a group identifier</li>
      <li>Click the "Complete the request" button</li>
    </ol>
  </div>

  <div id="middlecontent">
    <form action="/cgi-bin/lightning.cgi" method="post">
      <h2>Number of copies</h2>
      <p>There are <TMPL_VAR name="num_sources"> potential sources.</p>
      <p>How many copies are you looking for?
	<input type="text" name="copies_requested" size="4" maxlength="4" value=<TMPL_VAR name="copies_requested">>
      </p>
      <h2>Patron barcode</h2>
      <p>Enter the barcode number of your patron (or a group identifier if you are requesting multiple copies): 
	<input id="pbarcode" type="text" name="pbarcode" size="14" maxlength="14">
      </p>
      <p>Enter any additional notes for the potential lenders: 
	<input type="text" name="request_note" size="60" maxlength="80">
      </p>
      <input type="hidden" name="group_id" value=<TMPL_VAR name="group_id">>
      <input type="hidden" name="rm" value="complete_the_request">
      <input type="submit" value="Complete the request">
    </form>

    <!-- 
    <h2>parms</h2>
    <TMPL_LOOP name="parms">
      <br/><TMPL_VAR name="parm_name">: <TMPL_VAR name="parm_value">
    </TMPL_LOOP>
    -->
    
    <br/>

    <h3>Interlibrary Loan request details</h3>
    <table>
      <tr><td>Requesting user</td><td>: <TMPL_VAR NAME="username"></td></tr>
      <tr><td>Title</td><td>: <TMPL_VAR name="title"></td></tr>
      <tr><td>Author</td><td>: <TMPL_VAR name="author"></td></tr>
    </table>
    
    <h3>The title was found at these locations:</h3>
    <p><em>fILL will automatically determine which lender to try first, to minimize lender workloads.</em></p>
    <table>
      <tr><td>symbol</td><td>location</td><td>holding</td><td>callnumber</td><td>net loaned</td></tr>
      <TMPL_LOOP name="sources">
	<tr>
	  <!-- <TMPL_VAR name="lid"> -->
	  <td><TMPL_VAR name="symbol"></td>
	  <td><TMPL_VAR name="location"></td>
	  <td><TMPL_VAR name="holding"></td>
	  <td><TMPL_VAR name="callnumber"></td>
	  <td><TMPL_VAR name="net"></td>
	</tr>
      </TMPL_LOOP>
    </table>
    
  </div>

  <div id="rightcontent">
    <h2>Information</h2>
    <p>Maplin asks for your patron's barcode number so you'll be able to look up your patron when the item arrives.</p>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
