<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_search.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_search_simple_ajax");
  //-->
</script>

<h1>MARC view</h1>

<p><a href="?rm=results_form">Return to search results</a></p>
<hr>
<pre>
<TMPL_VAR NAME="marc">
</pre>
<hr>
<p><a href="?rm=results_form">Return to search results</a></p>

<div id="debug-1">
     <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
     <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
     <p class="debuginfo">SQL: <TMPL_VAR NAME="sql"></p>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
