<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/new-patron-requests-1.3.js"></script>

<script type="text/javascript">
set_secondary_tab("menu_borrow_new_patron_requests");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-new-patron-requests.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){

                build_table(data); 

                oTable = $('#new-patron-requests-table').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "oTableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,8],
                           "visible": false
                       } ],
                     "fnInitComplete": function() {
                           // this handles a bug(?) in this version of datatables;
                           // hidden columns caused the table width to be set to 100px, not 100%
                           $("#new-patron-requests-table").css("width","100%");
                     }


                  });
            });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <p>These are requests from your patrons that have come in from the public side of fILL.</p>
    
    <p>Verify in your ILS that the patron is in good standing.</p>
    
    <p>Select one of the options for handling the request.</p>
    
    <p>If you agree to ILL an item, a new borrowing request is automatically created - you do not need to search for it yourself.</p>
    
    <p>If you do not agree to ILL an item, make sure to tell your patron!</p>
    
    <p><strong>For privacy reasons, fILL does not keep a record of patron requests.</strong></p>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
