<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/no-response-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_noresponse");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-noresponse-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){

                build_table(data); 

//                oTable = $('#gradient-style').dataTable({
                oTable = $('#pending-table').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
                 "oTableTools": {
                    "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                    "aButtons": [
                       "copy", "csv", "xls", "pdf", "print",
                       {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                       }
                    ]
                 },
                 "columnDefs": [ {
                     "targets": [0,1,2],
                     "visible": false
                 } ],
                "fnInitComplete": function() {
                   // this handles a bug(?) in this version of datatables;
                   // hidden columns caused the table width to be set to 100px, not 100%
                   $("#pending-table").css("width","100%");
                }
          });
    });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv"><br />
      <h3>No response: the lending libraries have not yet responded to these requests</h3>
      <div id="mylistDiv"></div>
    </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ul>
      <li>If a lending library has not yet responded to your request, that request will be shown here.</li>
      <li>If there are more possible lenders, you'll see a 'Try next lender' button; otherwise, you'll see the message "No further sources".</li>
      <li>You'll also have the option to cancel the request.</li>
      <li>Remember that not all libraries are open every day; it may take a few days to get a response.</li>
      <li>For any individual request, fILL sorts the list of potential lenders (a.k.a. "sources") in net-borrower/net-lender order. The Pending tab gives the first source 3 days to respond before giving you the option to try the next lender.</li>
    </ul>
</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
