<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/on_hold-1.1.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_holds");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-on-hold.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                build_table(data);

                oTable = $('#on-hold-table').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "oTableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,1,2,4],
                           "visible": false
                       } ],
                      "fnInitComplete": function() {
                           // this handles a bug(?) in this version of datatables;
                           // hidden columns caused the table width to be set to 100px, not 100%
                           $("#on-hold-table").css("width","100%");
                      }
                  });

           });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv"><br />
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ul>
      <li>If you have placed a hold in your ILS for an ILL request, that request will be listed.</li>
      <li>When you capture the hold in your ILS (i.e. you have the book in hand, ready to fill the ILL request), click the 'Ready to ship' button.  This will move the request to your 'Shipping' tab.</li>
      <li>If you see a 'Cancelled by borrower' button instead, this means that you don't need to ship the book.  Click the button, and check the book back into your ILS.</li>
      <li>As requests are handled, they are removed from this list.  You can see the status of all of your active ILLs in the 'Current' tab.</li>
    </ul>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
