<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/on-hold-1.5.js"></script>
<script type="text/javascript" src="/js/common/internal-notes-lender-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_holds");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv"><br />
      <div id="mylistDiv">
	<table id="on-hold-table" class="row-border">
	  <thead>
	    <tr>
	      <td>gid</td>
	      <td>cid</td>
	      <td>ID</td>
	      <td>From</td>
	      <td>From (ID)</td>
	      <td>Author</td>
	      <td>Title</td>
	      <td>Hold placed</td>
	      <td>Date expected</td>
	      <td>Hold fulfillment</td>
	    </tr>
	  </thead>
	  <tbody></tbody>
	  <tfoot>
	    <tr><td colspan="10">As requests are handled, they are removed from this list.  You can see the status of all of your active ILLs in the "Current ILLs" screen.</td></tr>
	  </tfoot>
	</table>
      </div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    
      <p>If you have placed a hold in your ILS for an ILL request, that request will be listed.</p>
      <p>When you capture the hold in your ILS (i.e. you have the book in hand, ready to fill the ILL request), click the 'Ready to ship' button.  This will move the request to your 'Shipping' tab.</p>
      <p>If you see a 'Cancelled by borrower' button instead, this means that you don't need to ship the book.  Click the button, and check the book back into your ILS.</p>
      <p>As requests are handled, they are removed from this list.  You can see the status of all of your active ILLs in the 'Current' tab.</p>
    
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
