<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/overdue-1.1.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_overdue");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-overdue-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.overdue[0].id+" "+data.overdue[0].title+" "+data.overdue[0].author+" "+data.overdue[0].ts+" "+data.overdue[0].due_date+" "+data.overdue[0].patron_barcode); //further debug
                build_table(data);

                $('#overdue-table').DataTable({
                       "jQueryUI": true,
                       "pagingType": "full_numbers",
                       "info": true,
                       "ordering": true,
                       "dom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "tableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,1,2,6],
                           "visible": false
                       } ],
                      "initComplete": function() {
                          // this handles a bug(?) in this version of datatables;
                          // hidden columns caused the table width to be set to 100px, not 100%
                          $("#overdue-table").css("width","100%");
                      }
                  });
           });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
  
      <div id="mylistDiv"></div>
    </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>These items are now overdue, and you will need to contact these patrons.</p>
      <p>To return the items, got to the Returns tab and click 'Returned'.</p>

</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
