<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_search.tmpl">

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }
</script>

<div id="main">

  <div id="middlecontent">
    <h3>Pull list</h3>
    <table id="gradient-style">
      <thead>
	<tr><th>Call #</th><th>Author</th><th>Title</th><th>Date/Time requested</th><th>Requested by</th></tr>
      </thead>
      <tfoot><tr><td colspan="5">You can print this and take it to the stacks.</td></tr></tfoot>
      <tbody>
      <TMPL_LOOP name="pulls">
	<tr>
	  <td><TMPL_VAR NAME="call_number"></td>
	  <td><TMPL_VAR NAME="author"></td>
	  <td><TMPL_VAR NAME="title"></td>
	  <td><TMPL_VAR NAME="ts"></td>
	  <td><TMPL_VAR NAME="msg_from"></td>
	</tr>
      </TMPL_LOOP>
      </tbody>
    </table>
    
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
