<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/pull-list-1.0.js"></script>

<div id="center" role="main">

  <table id="pull-list" class="row-border">
    <thead>
      <tr><th>Call Number</th><th>Author</th><th>Title</th><th>Date/Time requested</th><th>Requested by</th><th>Requestor note</th><th>Pub date</th><th>Your barcode for the requesting library</th></tr>
    </thead>
    <tbody></tbody>
    <tfoot><tr><td colspan="8">You can print this list to use while in the stacks.</td></tr></tfoot>
  </table>
  
  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <p>You can print this list to use while in the stacks.</p>
  </div>

</div><!-- center -->

<TMPL_INCLUDE NAME="footer.tmpl">
