<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<!-- printElement uses jQuery .browser, which was removed in jQuery 1.9
     jquery-migrate restores this functionality: -->
<script type="text/javascript" src="/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.printElement.min.js"></script>
<script type="text/javascript" src="/js/receiving-1.2.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_receive");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <p>Select your due-date slip printing option:</p>
      <div id="slipPrinting"></div>
      <div id="multiCount"></div>
      <br/>
      <div id="mylistDiv"></div>
    </div>

    <div id="multiPrint">
    </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>As items arrive, receive them by clicking the 'Received' button. Once items are received, they will be removed from this list and you will have the option of printing a due date slip.</p>
      <p>You can see the status of all of your active ILLs in the 'Current' tab.</p>

</div>

<!-- slipbox and multiPrint are used by receiving.js to enable slip printing
     (using .printElement() plugin, which lets us print the contents of a
     specific div -->
<div id="slipbox"></div>
<div id="multiPrint"></div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
