<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/renewal-answer-1.1.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_renewal_requests");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-renewal-requests.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //console.log(data.renewRequests[0].id);
                //console.log(data.renewRequests[0].title);
                //alert(data); //uncomment this for debug
                //alert (data.renewRequests[0].id+" "+data.renewRequests[0].msg_from+" "+data.renewRequests[0].call_number+" "+data.renewRequests[0].author+" "+data.renewRequests[0].title+" "+data.renewRequests[0].ts); //further debug
                build_table(data);

                oTable = $('#renewal-answer-table').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "oTableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,1,2,4],
                           "visible": false
                       } ],
                      "fnInitComplete": function() {
                           // this handles a bug(?) in this version of datatables;
                           // hidden columns caused the table width to be set to 100px, not 100%
                           $("#renewal-answer-table").css("width","100%");
                      }
                  });
           });

    $(function() {
           $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv"><br />
      <h3>1. Set a default due date</h3>
      <div id="defaultDueDate">
	<form id="set_default_due_date" onsubmit="set_default_due_date(this); this.submit_default_due_date.value='Change due date'; return false;">
<!--
	  Year: <input type="text" size="4" maxlength="4" name="year" value="2011">
	  Month: <input type="text" size="2" maxlength="2" name="month" value="11">
	  Day: <input type="text" size="2" maxlength="2" name="day" value="28">
-->
	  <p>
	    Date (yyyy-mm-dd): <input id="datepicker" type="text">
	    <input type="submit" name="submit_default_due_date" value="Apply due date"/>
	  </p>
	</form>
      </div>

      <h3>2. Respond to renewal requests</h3>
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>If your due date is the same for all (or most) requests you are renewing, enter that as the "default due date".</li>
      <li>For each of the requests that you are renewing, click the "Renew OK" button.</li>
      <li>For each remaining request - those that will be unfilled - click the "Can't renew".</li>
    </ol>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
