<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/renewals-1.1.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_renewals");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-renewals-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.renewals[0].id+" "+data.renewals[0].msg_from+" "+data.renewals[0].call_number+" "+data.renewals[0].author+" "+data.renewals[0].title+" "+data.renewals[0].ts); //further debug
                build_table(data);

                //$('#gradient-style').dataTable();
                oTable = $('#renewals-table').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "oTableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,1,2,8],
                           "visible": false
                       } ],
                      "fnInitComplete": function() {
                         // this handles a bug(?) in this version of datatables;
                         // hidden columns caused the table width to be set to 100px, not 100% 
                         $("#renewals-table").css("width","100%");
                      }


                  });
           });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <br/>
      <h3>Request renewals (for ILL items currently out to your patrons)</h3>
      <div id="mylistDiv"></div>
    </div>

    <div class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>These are items that your patrons currently have out.</li>
      <li>You can request a renewal.</li>
    </ol>
    </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
