<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/renewal-answer-1.4.js"></script>
<script type="text/javascript" src="/js/common/internal-notes-lender-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_renewal_requests");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <h3>1. Set a default due date</h3>
      <div id="defaultDueDate">
	<form id="set_default_due_date" onsubmit="set_default_due_date(this); this.submit_default_due_date.value='Change due date'; return false;">
<!--
	  Year: <input type="text" size="4" maxlength="4" name="year" value="2011">
	  Month: <input type="text" size="2" maxlength="2" name="month" value="11">
	  Day: <input type="text" size="2" maxlength="2" name="day" value="28">
-->
	  <p>
	    Date (yyyy-mm-dd): <input id="datepicker" type="text">
	    <input type="submit" name="submit_default_due_date" value="Apply due date" class="library-style" />
	  </p>
	</form>
      </div>

      <h3>2. Respond to renewal requests</h3>
      <div id="mylistDiv">
	<table id="renewal-answer-table" class="row-border">
	  <thead>
	    <tr>
	      <th>gid</th>
	      <th>cid</th>
	      <th>ID</th>
	      <th>From</th>
	      <th>From (ID)</th>
	      <th>Callno</th>
	      <th>Author</th>
	      <th>Title</th>
	      <th>Last update</th>
	      <th>Original due date</th>
	      <th>New due date</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody></tbody>
	  <tfoot>
	    <tr><td colspan="12">As requests are handled, they are removed from this list.  You can see the status of all of your active ILLs in the "Current ILLs" screen.</td></tr>
	  </tfoot>
	</table>
      </div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
      <p>If you want to change the due date of items, set the due date and click "Apply due date."  This will change the due dates for all the items in the table.</p>
      <p>For each of the requests that you are renewing, click the "Renew OK" button.</p>
      <p>For each remaining request - those that will be unfilled - click the "Can't Renew".</p>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
