<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }
</script>

<div id="main">

  <div id="leftcontent">
  </div>

  <div id="middlecontent">
    <form METHOD=POST ACTION="">
      <TMPL_IF NAME=error_sendmail>
	<br />
	<h2>We've had a problem sending the email automatically</h2>
	<p>fILL has encountered a problem sending this request.</p>
	<p>You can send this request manually by using your
	  own email program (eg: GMail, Outlook, Hotmail, etc).</p><br />
	<ol>
	  <li>Create a new email to the destination library (you can copy the email address from the "To:" field, below)</li>
	  <li>Copy the information in the "Subject:" line, below, into the subject of your new email.</li>
	  <li>Copy everything between the "--- copy from here ---" and "--- copy to here ---" lines, and paste that into the body of your new email.</li>
	</ol><br />
	<p>When you send that email, the destination library will have everything they need to process your request.</p><br />
	<hr>
      </TMPL_IF>

      <p><TMPL_VAR NAME="from"></p>
      <p><TMPL_VAR NAME="to"></p>

      <TMPL_UNLESS NAME=error_sendmail>
	<p><TMPL_VAR NAME="cc"></p>
	<p><TMPL_VAR NAME="reply_to"></p>
      </TMPL_UNLESS>

      <p><TMPL_VAR NAME="subject"></p>
      <hr>
      <p><pre><TMPL_VAR NAME="content"></pre></p>
      <p />
      <TMPL_UNLESS NAME=sent>
	<p>
	  Patron name or number: 
	  <input TYPE="text" NAME="patron" SIZE="40" MAXLENGTH="80">
	</p>
	<p>
	  Notes: 
	  <input TYPE="text" NAME="notes" SIZE="80" MAXLENGTH="160">
	</p>
	<hr>
	<p><TMPL_VAR NAME="library"></p>
	<p><TMPL_VAR NAME="mail1"></p>
	<p><TMPL_VAR NAME="mail2"></p>
	<p><TMPL_VAR NAME="mail3"></p>
	<TMPL_ELSE>
	  <input TYPE="hidden" NAME="patron" value=<TMPL_VAR NAME=patron>>
	  <input TYPE="hidden" NAME="notes" value=<TMPL_VAR NAME=notes>>
      </TMPL_UNLESS>
      <p>Found at server: <TMPL_VAR NAME="fas"></p>
      <input type="hidden" name="rm" value="send_email_form">
      <input type="hidden" name="zid" value=<TMPL_VAR NAME=zid>>
      <input type="hidden" name="id" value=<TMPL_VAR NAME=record_id>>
      <input type="hidden" name="loc" value="<TMPL_VAR NAME=loc>">
      <input type="hidden" name="callno" value="<TMPL_VAR NAME=callno>">
      <input type="hidden" name="collection" value="<TMPL_VAR NAME=collection>">
      <input type="hidden" name="pubdate" value="<TMPL_VAR NAME=pubdate>">

      <TMPL_IF NAME=sent>
	<TMPL_IF NAME=error_sendmail>
	  <!-- anything else we want to say here? -->
	<TMPL_ELSE>
	  <div id="email_sent">
	    <h2>Email has been sent.</h2>
	  </div>
	</TMPL_IF>

      <TMPL_ELSE>
	<p><br /><p>
	  <input type="submit" name="submit" value="Send it!">
      </TMPL_IF>
      <p><a href="?rm=results_form">Return to search results</a></p>

    </form>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
