<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/respond-1.16.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_respond");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

  <div id="toggle-unfilled-codes">
    <input type="button" id="bToggleUnfilledCodes" value="Show the Unfilled codes" class="library-style">
  </div>
  
  <div id="unfilled-codes" style="display:none">
    <h3>Unfilled codes</h3>
    <table class="fill-table table-width-lib">
      <tr><td>in-use /on-loan</td><td>Currently checked out to a patron.</td></tr>
      <tr><td>in-process</td><td>Not ready for loan.</td></tr>
      <tr><td>lost</td><td>Item has been declared missing.</td></tr>
      <tr><td>not-owned</td><td>Our catalogue lies.  We should fix that.</td></tr>
      <tr><td>on-order</td><td>We're going to buy it.</td></tr>
      <tr><td>not-on-shelf</td><td>We've... misplaced it.</td></tr>
      <tr><td>on-reserve</td><td>Too new, or circ limited to specific group.</td></tr>
      <tr><td>poor- condition</td><td>How did that get back on the shelf?</td></tr>
      <tr><td>charges</td><td>There would be a fee - email us to ask.</td></tr>
      <tr><td>on-hold</td><td>There are local holds on this.</td></tr>
      <tr><td>policy-problem</td><td>It is against our policies to loan this.</td></tr>
      <tr><td>other</td><td>Any other reason.</td></tr>
    </table>
  </div>


  <div id="waitDiv">
    Loading... <img src="/wait.gif" alt="loading indicator">
  </div>

  <div id="myDiv">
    <div id="mylistDiv"></div>
  </div>

  <div id="instructions" class="tone-box">
      <h2>Instructions</h2>

        <p>For each of the requests that you are filling, click the "Will-supply" button.</p>
        <p>For each remaining request - those that will be unfilled - click the "Unfilled" button and select a reason.</p>
        <p>Hover over a library's symbol to see the full name of the library.</p>
	     <p>As requests are handled, they are removed from this list.  You can see the status of all of your active ILLs in the 'Current' tab.</p>

  </div>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">
