<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/returns-1.7.js"></script>
<script type="text/javascript" src="/js/common/internal-notes-borrower-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_returns");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

  <div id="waitDiv">
    Loading... <img src="/img/wait.gif" alt="loading indicator">
  </div>
  
  <div id="myDiv">
    <div id="mylistDiv">
      <table id="returns-table" class="row-border">
	<thead>
	  <tr>
	    <th>gid</th>
	    <th>cid</th>
	    <th>ID</th>
	    <th>Title</th>
	    <th>Author</th>
	    <th>Last update</th>
	    <th>Return to</th>
	    <th>Return to (ID)</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	<tbody></tbody>
	<tfoot>
	  <tr><td colspan="9">As items are returned, they are removed from this list.  You can see the status of all of your active ILLs in the "Current ILLs" screen.</td></tr>
	</tfoot>
      </table>
    </div>
  </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>If you try to check a book into your ILS, and your ILS doesn't have a record of that book, it's likely an ILL.</p>
      <p>Find the item on this screen, click 'Return', and send it back to the lending library using the return slip that came with it.</p>
      <p>As you mark items 'returned', they are removed from this list.  You can see the status of all of your active ILLs in the 'Current' tab.</p>

  </div>
  
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
