<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/returns-1.1.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_returns");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-returns-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.returns[0].id+" "+data.returns[0].msg_from+" "+data.returns[0].call_number+" "+data.returns[0].author+" "+data.returns[0].title+" "+data.returns[0].ts); //further debug
                build_table(data);

                $('#returns-table').DataTable({
                       "jQueryUI": true,
                       "pagingType": "full_numbers",
                       "info": true,
                       "ordering": true,
                       "dom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "tableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,1,2,7],
                           "visible": false
                       },
                       { "targets": 8, "width": "30%" }
	               ],
                      "initComplete": function() {
                          // this handles a bug(?) in this version of datatables;
                          // hidden columns caused the table width to be set to 100px, not 100%
                          $("#returns-table").css("width","100%");
                      }
                  });
           });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">

      <div id="mylistDiv"></div>
    </div>

<div id="instructions" class="tone-box">
    <h2>Instructions</h2>

      <p>If you try to check a book into your ILS, and your ILS doesn't have a record of that book, it's likely an ILL.</p>
      <p>Find the item on this screen, click 'Return', and send it back to the lending library using the return slip that came with it.</p>
      <p>As you mark items 'returned', they are removed from this list.  You can see the status of all of your active ILLs in the 'Current' tab.</p>

  </div>
  
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
