<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/returns.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_returns");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-returns-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.returns[0].id+" "+data.returns[0].msg_from+" "+data.returns[0].call_number+" "+data.returns[0].author+" "+data.returns[0].title+" "+data.returns[0].ts); //further debug
                build_table(data);
                //toggleLayer("waitDiv");
                //toggleLayer("mylistDiv");
           });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="main">

  <div id="leftcontent">
    <h2>Instructions</h2>
    <ol>
      <li>If you try to check a book into your ILS, and your ILS doesn't have a record of that book, it's likely an ILL.</li>
      <li>Find the book on this screen, click 'Return', and send it back to the lending library using the return slip that came with it.</li>
    </ol>
  </div>

  <div id="middlecontent">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <br/>
      <h3>Returns (ILL items currently out to your patrons)</h3>
      <div id="mylistDiv"></div>
    </div>

  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
