<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/shipping-1.3.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_shipping");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-shipping.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                build_table(data);

                oTable = $('#shipping-table').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "oTableTools": {
                           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "columnDefs": [ {
                           "targets": [0,1,2,4],
                           "visible": false
                       } ],
                      "fnInitComplete": function() {
                           // this handles a bug(?) in this version of datatables;
                           // hidden columns caused the table width to be set to 100px, not 100%
                           $("#shipping-table").css("width","100%");
                      }
                  });

           });

    $(function() {
           $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv"><br />
    <div class="innerLeft tone-box">
	   <h3>Set the due date</h3>
	<div id="defaultDueDate">
	  <form id="set_default_due_date" onsubmit="set_default_due_date(this); this.submit_default_due_date.value='Change due date'; return false;">
	    <p>
	      Date (yyyy-mm-dd): <input id="datepicker" type="text">
	      <input type="submit" name="submit_default_due_date" value="Apply due date" class="library-style" />
	    </p>
	  </form>
	</div>
  </div>
  </div>

  <div class="innerLeft tone-box">
	<h3>Canada Post Shipping Tool</h3>
	<div id="shippingtool">
	  <p>Clicking on this link will open the <a href="http://www.clatoolbox.ca/EOE_SCE_Prod/forms/" target="_blank" style="text-decoration : underline;">Canada Post Shipping Tool</a> in a new tab or window.</p>
	</div>
  </div>

    <div id="mylistDiv"></div>

<div id="instructions" class="tone-box">
    <h3>Instructions</h3>
    <p>If your due date is the same for all (or most) requests you are filling, enter that as the "default due date".</p>
    <p>For each of the requests that you are filling, click the "Sent" button.</p>
    <p>The "Oops!" button will return the request to the Respond list.</p>
    <p>Hover over a library's symbol to see the full name of the library.</p>
</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
