<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_lend.tmpl">

<script type="text/javascript" src="/js/shipping-1.7.js"></script>
<script type="text/javascript" src="/js/common/internal-notes-lender-1.0.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_lend_shipping");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">
  
  <div id="waitDiv">
    Loading... <img src="/img/wait.gif" alt="loading indicator">
  </div>
  
  <div id="myDiv">
    <div class="innerLeft tone-box">
      <h3>Set the due date</h3>
      <div id="defaultDueDate">
	<form id="set_default_due_date" onsubmit="set_default_due_date(this); this.submit_default_due_date.value='Change due date'; return false;">
	  <p>
	    Date (yyyy-mm-dd): <input id="datepicker" type="text">
	    <input type="submit" name="submit_default_due_date" value="Apply due date" class="library-style" />
	  </p>
	</form>
      </div>
    </div>
  </div>
  
  <div class="innerLeft tone-box">
    <h3>Canada Post Shipping Tool</h3>
    <div id="shippingtool">
      <p>Clicking on this link will open the <a href="https://libraryshippingtool.ca/en/home/" target="_blank" style="text-decoration : underline;">new LibraryShippingTool.ca</a> in a new tab or window.</p>
    </div>
  </div>
  
  <div id="mylistDiv">
    <table id="shipping-table" class="row-border">
      <thead>
	<tr>
	  <td>gid</td>
	  <td>cid</td>
	  <td>ID</td>
	  <td>From</td>
	  <td>From (ID)</td>
	  <td>Author</td>
	  <td>Title</td>
	  <td>Mailing address</td>
	  <td>Last update</td>
	  <td>Due date</td>
	  <td>Response</td>
	</tr>
      </thead>
      <tbody></tbody>
      <tfoot>
	<tr><td colspan="11">As requests are handled, they are removed from this list. You can see the status of all of your active ILLs in the "Current ILLs" screen.</td></tr>
      </tfoot>
    </table>
  </div>
  
  <div id="instructions" class="tone-box">
    <h3>Instructions</h3>
    
    <p>If you want to change the due date of items, set the due date and click 'Apply due date.'  This will change the due dates for all items in the table.</p>
    <p>For each of the requests that you are filling, click the "Sent" button.</p>
    <p>The "Oops!" button will return the request to the Respond list.</p>
    <p>Hover over a library's symbol to see the full name of the library.</p>
    <p>As requests are handled, they are removed from this list.  You can see the status of all of your active ILLs in the 'Current' tab.</p>
    
  </div>
  
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
