<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/unfilled-1.4.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_unfilled");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $.getJSON('/cgi-bin/get-unfilled-list.cgi', {lid: <TMPL_VAR name="lid">},
            function(data){
                //alert (data.unfilled[0].id+" "+data.unfilled[0].title+" "+data.unfilled[0].author+" "+data.unfilled[0].patron_barcode+" "+data.unfilled[0].ts); //further debug
                build_table(data); 

                //$('#gradient-style').dataTable();
                oTable = $('#gradient-style').dataTable({
                       "bJQueryUI": true,
                       "sPaginationType": "full_numbers",
                       "bInfo": true,
                       "bSort": true,
                       "sDom": '<"H"Tfr>t<"F"ip>',
                       // TableTools requires Flash version 10...
	               "oTableTools": {
                           "sSwfPath": "/plugins/DataTables-1.8.2/extras/TableTools/media/swf/copy_cvs_xls_pdf.swf",
		           "aButtons": [
			      "copy", "csv", "xls", "pdf", "print",
			      {
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			      }
		           ]
        	       },
                       "aoColumns": [
                           { "mDataProp": "gid" },
                           { "mDataProp": "cid" },
                           { "mDataProp": "ID" },
                           { "mDataProp": "Title" },
                           { "mDataProp": "Author" },
                           { "mDataProp": "Patron / Group" },
                           { "mDataProp": "Timestamp" },
                           { "mDataProp": "From" },
                           { "mDataProp": "Status" },
                           { "mDataProp": "Message" },
                           { "mDataProp": "# sources tried" },
                           { "mDataProp": "Total # sources" },
                           { "mDataProp": "Next lender?" }
                      ]

                  });
            });

    $(function() {
           $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
    });

    $(function() {
           update_menu_counters( <TMPL_VAR name="lid"> );
    });

});

</script>


<div id="center" role="main">

    <div id="myDiv"><br/>      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <h3>Unfilled: the lending libraries were unable to fill these requests</h3>
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h3>Instructions</h3>
    <ol>
      <li>If a lending library was unable to fill your request, that request will be shown here.</li>
      <li>If there are more possible lenders, you'll see a 'Try next lender' button; otherwise, you'll see the message "No other lenders".</li>
    </ol>
  </div>


</div>

<TMPL_INCLUDE NAME="footer.tmpl">
