<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_borrow.tmpl">

<script type="text/javascript" src="/js/unfilled-1.7.js"></script>


<script type="text/javascript">
set_secondary_tab("menu_borrow_unfilled");

$.ajaxSetup ({  
  cache: false  
});  

</script>


<div id="center" role="main">

    <div id="waitDiv">     Loading... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <div id="mylistDiv">
	<table id="unfilled-table" class="row-border">
	  <thead>
	    <tr>
	      <th>gid</th>
	      <th>cid</th>
	      <th>ID</th>
	      <th>Title</th>
	      <th>Author</th>
	      <th>Patron / Group</th>
	      <th>Last update</th>
	      <th>From</th>
	      <th>Status</th>
	      <th>Message</th>
	      <th>Pub date</th>
	      <th>Trying source</th>
	      <th>Next lender?</th>
	    </tr>
	  </thead>
	  <tbody></tbody>
	  <tfoot>
	    <tr><td colspan="13">If there are more lenders to try, you can click 'Try next lender'.  You can see the status of all of your active ILLs in the "Current ILLs" screen.</td></tr>
	  </tfoot>
	</table>
      </div>
    </div>

  <div id="instructions" class="tone-box">
    <h3>Instructions</h3>

      <p>If a lending library was unable to fill your request, that request will be shown here.</p>
      <p>If there are more possible lenders, you'll see a 'Try next lender' button; otherwise, you'll see the message "No other lenders".</p>

  </div>


</div>

<TMPL_INCLUDE NAME="footer.tmpl">
