<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations_admin.tmpl">

<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/rotation-item-circ-counts-1.0.js"></script>

<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  


</script>



<div id="center" role="main">
  <div id="dateRangeDiv">
    <form>
	From <input id="startdate" type="text" class="history-date"> to <input id="enddate" type="text" class="history-date">
        <input id="dateButton" type="button" class="library-style" value="Fetch requests">
    </form>
  </div>

    <div id="waitDiv">
      Loading... <img src="/img/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <h3>Circs by Item and Library.</h3>
      <div id="mylistDiv">
	<table id="item-circ-counts-table" class="row-border">
	  <thead>
	    <tr>
	      <th>library</th>
	      <th>symbol</th>
	      <th>ts_start</th>
	      <th>ts_end</th>
	      <th>title</th>
	      <th>callno</th>
	      <th>barcode</th>
	      <th>circs</th>
	    </tr>
	  </thead>
	  <tbody></tbody>
	  <tfoot>
	    <tr><td colspan="8"> </td></tr>
	  </tfoot>
	</table>
      </div>      
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>Circs by item and library.</li>
    </ol>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
