<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations_admin.tmpl">

<script type="text/javascript" src="/js/rotation-reports-1.0.js"></script>

<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

  set_secondary_tab("menu_rotations_report_item_circ_counts");

  $.getJSON('/cgi-bin/get-rotations-item-circ-counts.cgi', {lid: <TMPL_VAR name="lid">},
        function(data){
            build_item_circ_counts_table(data);
        })
	.success(function() {
        })
	.error(function() {
        })
	.complete(function() { 
            oTable = $('#item-circ-counts-table').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "bInfo": true,
                "bSort": true,
                "sDom": '<"H"Tfr>t<"F"ip>',
                "iDisplayLength": 50,
                "bLengthChange": true,
                // TableTools requires Flash version 10...
                "oTableTools": {
                    "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
                }
          });
      });
});

</script>


<div role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <h3>Circs by Item and Library.</h3>
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>Circs by item and library.</li>
    </ol>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
