<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_rotations_admin.tmpl">

<script type="text/javascript" src="/js/rotation-reports-1.1.js"></script>

<script type="text/javascript">

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

  set_secondary_tab("menu_rotations_report_received_counts");

  $.getJSON('/cgi-bin/get-rotations-received-counts.cgi', {oid: <TMPL_VAR name="oid">},
        function(data){
            build_received_counts_table(data);
        })
	.success(function() {
        })
	.error(function() {
        })
	.complete(function() { 
            oTable = $('#received-circ-counts-table').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "bInfo": true,
                "bSort": true,
                "sDom": '<"H"Tfr>t<"F"ip>',
                "iDisplayLength": 50,
                "bLengthChange": true,
                // TableTools requires Flash version 10...
                "oTableTools": {
                    "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
                }
          });
      });
});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Loading... <img src="/wait.gif" alt="loading indicator">
    </div>

    <div id="myDiv">
      <h3>Count of rotation titles that libraries have received in the last two months.</h3>
      <div id="mylistDiv"></div>
    </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <ol>
      <li>Count of rotation titles that libraries have received in the last two months.</li>
    </ol>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
