<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_admin.tmpl">

<div id="middlecontent">
  <form METHOD=POST ACTION="">
    <input type="hidden" name="rm" value="admin_config_zServer_add_form">
    <input type="submit" name="submit" value="Add a new zServer" />
  </form>


  <h1>zServer Configuration</h1>
  <table cellpadding=20 cellspacing=5 border=1>
    <TMPL_LOOP NAME="zServers">
      <tr>
 	<td>
	  <table>
	    <tr>
	      <td><p style="color: gray">id</p></td>
	      <td><p style="color: gray"><TMPL_VAR NAME="id"></p></td>
	    </tr><tr>
	      <td>Name:</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="name"></p></td>
	    </tr><tr>
	      <td>Conn:</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="Z3950_connection_string"></p></td>
	    </tr><tr>
	      <td>Email:</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="email_address"></p></td>
	    </tr><tr>
	      <td>Avail?</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="available"></p></td>
	    </tr><tr>
	      <td>Holdings</td>
	      <td>
		<p style="background: #FFFFF0">
		  Tag [<TMPL_VAR NAME="holdings_tag">]
		  Loc [<TMPL_VAR NAME="holdings_location">]
		  Call [<TMPL_VAR NAME="holdings_callno">]
		  Avail [<TMPL_VAR NAME="holdings_avail">]
		  Coll [<TMPL_VAR NAME="holdings_collection">]
		  Due [<TMPL_VAR NAME="holdings_due">]
		</p>
	      </td>
	    </tr>
	    </tr><tr>
	      <td>?Holdings?</td>
	      <td><p style="background: #FFFFF0"><TMPL_VAR NAME="handles_holdings_improperly"></p></td>
	  </table>
	</td>
	<td>
	  <form METHOD=POST ACTION="">
	    <input type="hidden" name="rm" value="admin_config_zServer_edit_form">
	    <input type="hidden" name="id" value="<TMPL_VAR name=id>">
	    <input type="submit" name="submit" value="Edit" />
	  </form>

	  <form METHOD=POST ACTION="">
	    <input type="hidden" name="rm" value="admin_config_zServer_NotForLoan_form">
	    <input type="hidden" name="zserver" value="<TMPL_VAR name=id>">
	    <input type="submit" name="submit" value="Edit not-for-loans" />
	  </form>

	  <form METHOD=POST ACTION="">
	    <input type="hidden" name="rm" value="admin_config_zServers_form">
	    <input type="hidden" name="id" value="<TMPL_VAR name=id>">
	    <input type="hidden" name="enable" value="1">
	    <input type="submit" name="submit" value="Enable zServer" />
	  </form>

	  <form METHOD=POST ACTION="">
	    <input type="hidden" name="rm" value="admin_config_zServers_form">
	    <input type="hidden" name="id" value="<TMPL_VAR name=id>">
	    <input type="hidden" name="disable" value="1">
	    <input type="submit" name="submit" value="Disable zServer" />
	  </form>
	  <p>----------------------</p>
	  <form METHOD=POST ACTION="">
	    <input type="hidden" name="rm" value="admin_config_zServers_form">
	    <input type="hidden" name="id" value="<TMPL_VAR name=id>">
	    <input type="hidden" name="delete" value="1">
	    <input type="submit" name="submit" value="Delete zServer" style="color:red;"/>
	  </form>

	</td>
      </tr>
    </TMPL_LOOP>
    
  </table>


</div>

<div id="rightcontent">
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
