<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_info_allzservers");
  //-->
</script>

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }
</script>


<h1>Current status of Manitoba libraries' zServers</h1>

<p>Determine the status of all standard (ILL) zServers.</p>
<br />
<p class="short_instruction">This process is exactly the same as the scheduled testing that Maplin does.  It can take up to 5 minutes to run, as it tests each zServer individually.</p>
<br /><br />
<p><TMPL_VAR NAME="test_description"></p>
<p class="short_instruction"><TMPL_VAR NAME="current_time"></p>

<TMPL_UNLESS NAME="do_test">
  <form method=post action="" name="starttest" onSubmit="toggleLayer( 'run_zserver_test' ); return true;">
    <input type="hidden" name="do_test" value=1>
    <input type="hidden" name="rm" value="info_all_zservers_form">
    <input type="submit" value="Start the status check">
  </form>
</TMPL_UNLESS>

<div id="run_zserver_test" class="wait">
  <img src="/img/progressbar_green.gif">
  <p>Running the all-systems status check...</p>
</div>

<p><br /></p>

<table border="1">
  <tr>
    <th>zServer</th>
    <th>ILS</th>
    <th>Alive?</th>
    <th>Avail?</th>
    <th>Error?</th>
    <th>Message</th>
    <th>Count</th>
    <th>Implementation</th>
  </tr>

<TMPL_LOOP NAME="status">
    <tr>
      <td><p class="<TMPL_VAR NAME="paraclass">"><TMPL_VAR NAME="name"></p></td>
      <td><p class="<TMPL_VAR NAME="paraclass">"><TMPL_VAR NAME="ils"></p></td>
      <TMPL_IF NAME="alive">
	<td>
	  <TMPL_ELSE>
	    <td bgcolor="#FFFF00">
      </TMPL_IF>
      <p class="<TMPL_VAR NAME="paraclass">"><TMPL_VAR NAME="alive"></p></td>
      <td><p class="<TMPL_VAR NAME="paraclass">"><TMPL_VAR NAME="available"></p></td>
      <td><p class="<TMPL_VAR NAME="paraclass">"><TMPL_VAR NAME="error"></p></td>
      <td><p class="<TMPL_VAR NAME="paraclass">"><TMPL_VAR NAME="msg"></p></td>
      <td>
	<TMPL_IF NAME="count">
	  <p class="short_instruction">
	    (Found <TMPL_VAR NAME="count"> records)
	  </p>
	</TMPL_IF>
      </td>
      <td>
	<p class="short_instruction"><TMPL_VAR NAME="serverImplementationName"></p>
      </td>
    </tr>
</TMPL_LOOP>    
</table>

<TMPL_INCLUDE NAME="footer.tmpl">
