<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/average-times-1.0.js"></script>

<script type="text/javascript">
set_secondary_tab("menu_info_average_times");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $(function() {
        $.getJSON('/cgi-bin/get-average-times.cgi', {},
                function(data){
                    build_table(data);
               })
        .success(function() {
	    //alert('success');
	})
	.error(function() {
	    alert('error');
	})
	.complete(function() {
            oTable = $('#average-times-table').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bInfo": true,
            "bSort": true,
	    "sDom": '<"H"Tfr>t<"F"ip>',
            "iDisplayLength": -1,
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	    "oTableTools": {
                "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
		"aButtons": [
			"copy", "csv", "xls", "pdf", "print",
			{
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			}
		]
	    },
            "bAutoWidth": false
        });

      });

      });

});

</script>


<div id="center" role="main">

    <div id="waitDiv">
      Calculating averages for each library over the last 3 months... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <div id="mylistDiv"></div>
  </div>

  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>

    <p>This report looks at historic requests (those that have completed their life cycles) for the last 3 months.</p>
    <p>It examines the time differences between certain events (e.g. when the borrower made the request and when the lender responded to it).</p>
    <p>You can sort the table by clicking on the column headings. Clicking a column heading a second time will reverse the sort order.</p>
    <p>Values are rounded to the nearest day (or hour, depending on the column).  A value of "0" means the events happened (on average) on the same day.  A blank means that there were no events of that type.</p>

  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
