<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
set_secondary_tab("menu_info_contacts");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

  $('#datatable_contacts').DataTable({
    "jQueryUI": true,
    "pagingType": "full_numbers",
    "info": true,
    "ordering": true,
    "dom": '<"H"Bfr>t<"F"ip>',
    buttons: [ 'copy', 'excel', 'pdf', 'print' ],
    });      

});

</script>


<div id="center" role="main">

  <div id="myDiv">
    <div>
      <div class="dataTable_wrapper">
	<table id="datatable_contacts" class="row-border">
	  <thead>
	    <tr>
	      <th>library</th><th>Symbol</th><th>Phone</th><th>Email address</th><th>Mailing address</th>
	    </tr>
	  </thead>
	  <tbody>
	    
	    <TMPL_LOOP NAME="libraries">
	      <tr>
		<TMPL_IF NAME="opt_in">
  		  <td><TMPL_VAR NAME="org_name"></td>
		  <td><TMPL_VAR NAME="symbol"></td>
		<TMPL_ELSE>
  		  <td><TMPL_VAR NAME="org_name"><br/>Unavailable for ILL</td>
		  <td class="ill-status-no"><TMPL_VAR NAME="symbol"></td>
		</TMPL_IF>
		<td><TMPL_VAR NAME="phone"></td>
		<td><a href='mailto:<TMPL_VAR NAME="email_address">'><TMPL_VAR NAME="email_address"></a></td>
		<td>
		  <TMPL_VAR NAME="mailing_address_line1"><br>
		    <TMPL_VAR NAME="mailing_address_line2"><br>
		      <TMPL_VAR NAME="mailing_address_line3">
		</td>
	      </tr>
	    </TMPL_LOOP>
	    
	  </tbody>
	</table>
      </div><!-- dataTable_wrapper -->
    </div>
  </div><!-- myDiv -->
  
  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <p>Click on the email address to send a new email to the library.</p>
    <p>Right-click on the email address to copy it.</p>
  </div><!-- instructions -->

</div><!-- center -->

<TMPL_INCLUDE NAME="footer.tmpl">
