<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
set_secondary_tab("menu_info_contacts");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    var oTable = $('#datatable_contacts').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bInfo": true,
      	"bSort": true,
	"sDom": '<"H"Tfr>t<"F"ip>',
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "tableTools": {
           "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
        },
        "bAutoWidth": false
    });

});

</script>


<div id="center" role="main">

  <div id="myDiv">
    <div>
      <div class="dataTable_wrapper">
	<table id="datatable_contacts" class="row-border">
	  <thead>
	    <tr>
	      <th>library</th><th>Symbol</th><th>Phone</th><th>Email address</th><th>Mailing address</th>
	    </tr>
	  </thead>
	  <tbody>
	    
	    <TMPL_LOOP NAME="libraries">
	      <tr>
		<td><TMPL_VAR NAME="library"></td>
		<td><TMPL_VAR NAME="name"></td>
		<td><TMPL_VAR NAME="phone"></td>
		<td><a href='mailto:<TMPL_VAR NAME="email_address">'><TMPL_VAR NAME="email_address"></a></td>
		<td>
		  <TMPL_VAR NAME="mailing_address_line1"><br>
		    <TMPL_VAR NAME="mailing_address_line2"><br>
		      <TMPL_VAR NAME="mailing_address_line3">
		</td>
	      </tr>
	    </TMPL_LOOP>
	    
	  </tbody>
	</table>
      </div><!-- dataTable_wrapper -->
    </div>
  </div><!-- myDiv -->
  
  <div id="instructions" class="tone-box">
    <h2>Instructions</h2>
    <p>Click on the email address to send a new email to the library.</p>
    <p>Right-click on the email address to copy it.</p>
  </div><!-- instructions -->

</div><!-- center -->

<TMPL_INCLUDE NAME="footer.tmpl">
