<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_info_documents");
  //-->
</script>

<div id="center" role="main">

<h2>Documents</h2>

<table class="fill-table table-width-lib">

  <tr>
    <td>
      <h3>fILL Interlibrary Loan Management</h3>  
      <br><a href="?rm=send_pdf&doc=fILL_-_User_Guide.pdf">fILL User's Guide</a>
      <br><a href="?rm=send_pdf&doc=fILL_brochure.pdf">Manitoba Libraries Conference 2012 fILL brochure (3-fold)</a>
      <br>
      <br><a href="?rm=send_pdf&doc=Rotations_Manager_guide.pdf">Rotations Manager guide</a>
      <br>
    </td>
  </tr>

</table>
</div>
<TMPL_INCLUDE NAME="footer.tmpl">
