<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_info_documents");
  //-->
</script>

<h1>Documents</h1>

<br><a href="?rm=send_pdf&doc=LibraryGovernance.pdf">Library Governance</a>
(French translation coming soon) (Now with clearer text!)

<p>
<br><a href="?rm=send_pdf&doc=WIR_postcard.pdf">Writer in Residence - postcard</a>
<br><a href="?rm=send_pdf&doc=WIR_poster.pdf">Writer in Residence - poster</a>

<p>
<br><a href="?rm=send_pdf&doc=we_speak_your_language.pdf">We Speak Your Language - poster</a>

<TMPL_INCLUDE NAME="footer.tmpl">
