<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_info_documents");
  //-->
</script>

<h1>Documents</h1>
<br>

<table border="1">
  <tr>
    <td>
      <h3>Maplin</h3>  
      <br><a href="?rm=send_pdf&doc=Librarian_Guide.pdf">Librarian's Guide to Maplin</a>
      <br><a href="?rm=send_pdf&doc=Patron_Guide.pdf">Patron's Guide to Maplin (3-fold)</a>
      <br>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Governance</h3>
      <br><a href="?rm=send_pdf&doc=LibraryGovernance.pdf">Library Governance</a>
      <br><a href="?rm=send_pdf&doc=LibraryGovBrochure-Fr-web.pdf">French version</a> of the Library Governance document.
      <br>
      <a href="?rm=send_pdf&doc=Board_Fit_-_Attract_and_retain_the_best_people_2009_03_(English).pdf">Board Fit - Attract and retain the best people (English)</a>
      <br><a href="?rm=send_pdf&doc=Board_Fit_-_Attract_and_retain_the_best_people_2009_03_(French).pdf">Board Fit - Attract and retain the best people (French)</a>
      <br>
      <br><a href="?rm=send_pdf&doc=DRAFT_Standards_and_Guidelines.pdf">DRAFT Standards and Guidelines</a>
      <br><a href="?rm=send_pdf&doc=Appendix_-_Financial_Accountability_Guidelines_for_Public_Libraries_-_revised_Jan_27_2010.pdf">Appendix - Financial Accountability Guidelines for Public Libraries</a> - revised Jan 27, 2010.
    </td>
  </tr>

  <tr>
    <td>
      <h3>Programs/Promotion</h3>
      <br><a href="?rm=send_pdf&doc=WIRhandout.share.pdf">Writer in Residence - handout</a>
      <br><a href="?rm=send_pdf&doc=wirposter.pdf">Writer in Residence - poster</a>
      <br><a href="?rm=send_pdf&doc=Writer_in_Residence_Visit_Application.pdf">Writer in Residence - visit application</a>
      <br>
      <br><a href="?rm=send_pdf&doc=we_speak_your_language.pdf">We Speak Your Language - poster</a>
      <br>Find out about libraries document in these languages:
      <br>
      <a href="?rm=send_pdf&doc=MultilingualAmharic.pdf">Amharic</a>
      <a href="?rm=send_pdf&doc=MultilingualArabic.pdf">Arabic</a>
      <a href="?rm=send_pdf&doc=MultilingualChinese.pdf">Chinese</a>
      <a href="?rm=send_pdf&doc=MultilingualEnglish.pdf">English</a>
      <a href="?rm=send_pdf&doc=MultilingualFarsi.pdf">Farsi</a>
      <a href="?rm=send_pdf&doc=MultilingualFrench.pdf">French</a>
      <a href="?rm=send_pdf&doc=MultilingualGerman.pdf">German</a>
      <a href="?rm=send_pdf&doc=MultilingualKorean.pdf">Korean</a>
      <a href="?rm=send_pdf&doc=MultilingualRussian.pdf">Russian</a>
      <a href="?rm=send_pdf&doc=MultilingualSpanish.pdf">Spanish</a>
      <a href="?rm=send_pdf&doc=MultilingualSwahili.pdf">Swahili</a>
      <a href="?rm=send_pdf&doc=MultilingualTigrinya.pdf">Tigrinya</a>
      <a href="?rm=send_pdf&doc=MultilingualUkranian.pdf">Ukranian</a>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Forms</h3>
      <br><a href="?rm=send_pdf&doc=RFP_2010_-_Rural_Library_Cooperative_Technology_Grant.pdf">Rural Library Cooperative Technology Grant application (2010)</a>
    </td>
  </tr>
  
  <tr>
    <td>
      <h3>General Information</h3>
      <br><a href="?rm=send_pdf&doc=Resource_Sharing.pdf">Resource Sharing - Mar 26 2009</a>
      <br><a href="?rm=send_pdf&doc=Manitoba_Public_Library_Statistics_2007_-_Statistique_sur_les_Bibliotheque_Publiques_du_Manitoba_2007.pdf">Manitoba Public Library Statistics 2007 - Statistique sur les Bibliotheque Publiques du Manitoba 2007.pdf</a>
      <br><a href="?rm=send_pdf&doc=techsoup-disaster-recovery-guide.pdf">The Resilient Organization: A Guide for Disaster Planning and Recovery</a> (TechSoup Global, version 2.0, August 18, 2009)
    </td>
  </tr>
</table>

<TMPL_INCLUDE NAME="footer.tmpl">
