<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
  <!--
  set_secondary_tab("menu_info_myzserverstatus");
  //-->
</script>

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }
</script>

<h1>My zServer Status Information</h1>

<TMPL_UNLESS NAME="showserver">
  <form method=post action="" name="starttest" onSubmit="toggleLayer( 'run_zserver_test' ); return true;">
    <input type="hidden" name="getStatus" value=1>
    <input type="hidden" name="rm" value="test_my_zserver_form">
    <input type="submit" value="Test">
  </form>
</TMPL_UNLESS>

<div id="run_zserver_test" class="wait">
  <img src="/img/progressbar_green.gif">
  <p>Running the test...</p>
</div>

<p><br /></p>

<TMPL_IF NAME="showserver">
  <h2>Information from your MyAccount | zServer page</h2>

  <TMPL_UNLESS zserver>
    <p>This library does not have zServer information in Maplin.</p>
  </TMPL_UNLESS>

  <TMPL_LOOP NAME="zserver">
    <p>id: <TMPL_VAR NAME="id"></p>
    <p>name: <TMPL_VAR NAME="name"></p>
    <p>z3950: <TMPL_VAR NAME="z3950_connection_string"></p>
    <p>record format: <TMPL_VAR NAME="preferredrecordsyntax"></p>
    <p>You have marked your server as: 
      <TMPL_IF NAME="available">
	Available
	<TMPL_ELSE>
	  Not available at this time
      </TMPL_IF>
    </p>

    <p>You have classified your system as 
      <TMPL_IF NAME="isstandardresource">a <strong>standard</strong> resource (eg: Interlibrary loan searching)</TMPL_IF>
      <TMPL_IF NAME="isdatabase">a <strong>database</strong> resource (eg: Ebscohost)</TMPL_IF>
      <TMPL_IF NAME="iselectronicresource">an <strong>ebook</strong> resource (eg: Project Gutenberg)</TMPL_IF>
      <TMPL_IF NAME="iswebresource">a <strong>web</strong> resource (eg: Wikipedia)</TMPL_IF>
    </p>
    <p><br />You have indicated that your system displays holdings information in Tag <TMPL_VAR NAME="holdings_tag"></p>
    <p>Location in subfield: 
      <TMPL_IF NAME="holdings_location">
	<TMPL_VAR NAME="holdings_location">
	  <TMPL_ELSE>
	    Not set.
      </TMPL_IF>
    </p>
    <p>Call # in subfield: 
      <TMPL_IF NAME="holdings_callno">
	<TMPL_VAR NAME="holdings_callno">
	  <TMPL_ELSE>
	    Not set.
      </TMPL_IF>
    </p>
    <p>Collection in subfield: 
      <TMPL_IF NAME="holdings_collection">
	<TMPL_VAR NAME="holdings_collection">
	  <TMPL_ELSE>
	    Not set.
      </TMPL_IF>
    </p>
    <p>Circ status in subfield: 
      <TMPL_IF NAME="holdings_avail">
	<TMPL_VAR NAME="holdings_avail">
	  <TMPL_ELSE>
	    Not set.
      </TMPL_IF>
    </p>
    <p>Due date (if checked out) in subfield: 
      <TMPL_IF NAME="holdings_due">
	<TMPL_VAR NAME="holdings_due">
	  <TMPL_ELSE>
	    Not set.
      </TMPL_IF>
    </p>
    <p><br />The default email address for this zserver is: <TMPL_VAR NAME="email_address"></p>
    
  </TMPL_LOOP>
</TMPL_IF>

<p><br /></p>

<h2>Status</h2>
<TMPL_LOOP NAME="status">
  <p>Stage: <TMPL_VAR NAME="stage"></p>
  <p><strong>Port check: <TMPL_VAR NAME="porttest"></strong></p>
  <TMPL_IF NAME="show">
    <p>Status: <TMPL_VAR NAME="error"></p>
    <p>Timeout limit: <TMPL_VAR NAME="timeout"> seconds.</p>
    <TMPL_IF NAME="search_terms">
      <p>Searching for <TMPL_VAR NAME="search_terms"> using pqf string <TMPL_VAR NAME="search_string"></p>
      <p>Result count: 
	<TMPL_IF NAME="result_count">
	  <TMPL_VAR NAME="result_count">
	    <TMPL_ELSE>
	      <strong>Your zServer says you have nothing matching <TMPL_VAR NAME="search_terms">.</strong>
	</TMPL_IF>
      </p>
    </TMPL_IF>
  </TMPL_IF>
</TMPL_LOOP>

<TMPL_INCLUDE NAME="footer.tmpl">
