<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
set_secondary_tab("menu_info_reports");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    oTable = $('#datatable_report').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bInfo": true,
      	"bSort": true,
	"sDom": '<"H"Tfr>t<"F"ip>',
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	"oTableTools": {
                "sSwfPath": "/plugins/DataTables-1.8.2/extras/TableTools/media/swf/copy_cvs_xls_pdf.swf",
		"aButtons": [
			"copy", "csv", "xls", "pdf", "print",
			{
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			}
		]
	},
        "aaSorting": [[0,"asc"],[1,"asc"]],
        "bAutoWidth": false
    });

    $('#datatable_report tbody tr').live('mouseover mouseout', function (event) {
        if (event.type == 'mouseover') {
            $(this).addClass("ui-state-hover");
        } else {
            $(this).removeClass("ui-state-hover");
        }
    });

});

</script>


<div id="main">

  <div id="leftcontent">
    <h2>Instructions</h2>
    <ol>
      <li> </li>
    </ol>
    <h3>Borrowing</h3>
    <table style="border:1px solid black;border-collapse:collapse;">
      <tr><td style="border:1px solid black;">Books requested</td><td style="border:1px solid black;"># titles you've requested.</td></tr>
      <tr><td style="border:1px solid black;">Actual requests</td><td style="border:1px solid black;">including retrying unfilleds, etc</td></tr>
      <tr><td style="border:1px solid black;">Unfilled responses</td><td style="border:1px solid black;"># times libraries could not fill (actual) requests</td></tr>
      <tr><td style="border:1px solid black;">Lender shipped</td><td style="border:1px solid black;">books physically received from lenders.</td></tr>
      <tr><td style="border:1px solid black;">We cancelled</td><td style="border:1px solid black;">Requests you cancelled.</td></tr>
    </table>
    <h3>Lending</h3>
    <table style="border:1px solid black;border-collapse:collapse;">
      <tr><td style="border:1px solid black;">Requests to lend</td><td style="border:1px solid black;"># requests other libraries have made to you</td></tr>
      <tr><td style="border:1px solid black;">Could not fill</td><td style="border:1px solid black;"># times you responded 'unfilled'</td></tr>
      <tr><td style="border:1px solid black;">Shipped</td><td style="border:1px solid black;">books you sent out.</td></tr>
      <tr><td style="border:1px solid black;">Forward to branch</td><td style="border:1px solid black;"># requests you've forwarded to one of your branches</td></tr>
      <tr><td style="border:1px solid black;">Borrower cancelled</td><td style="border:1px solid black;"># requests that the borrower cancelled before you could respond.</td></tr>
    </table>
  </div>

  <div id="middlecontent">

    <div id="myDiv">
      <h3>ILL Stats</h3>
      <div>
	<div class="dataTable_wrapper">
	  <table id="datatable_report" width="100%">
	    <thead>
	      <tr>
		<th>Year</th><th>MonthNum</th><th>Month</th><th>Borrowing: books requested</th><th>Borrowing: actual requests made</th><th>Borrowing: unfilled responses</th><th>Borrowing: lender shipped</th><th>Borrowing: we cancelled</th><th>Lending: requests to lend</th><th>Lending: could not fill</th><th>Lending: shipped</th><th>Lending: forward to branch</th><th>Lending: borrower cancelled</th>
	      </tr>
	    </thead>
	    <tbody>

	      <TMPL_LOOP NAME="allStats">
		<tr>
		  <td><TMPL_VAR NAME="year"></td>
		  <td><TMPL_VAR NAME="monthnum"></td>
		  <td><TMPL_VAR NAME="month"></td>
		  <td><TMPL_VAR NAME="books_requested"></td>
		  <td><TMPL_VAR NAME="requests_made"></td>
		  <td><TMPL_VAR NAME="responded_unfilled"></td>
		  <td><TMPL_VAR NAME="lender_shipped"></td>
		  <td><TMPL_VAR NAME="we_cancelled"></td>
		  <td><TMPL_VAR NAME="requests_to_lend"></td>
		  <td><TMPL_VAR NAME="could_not_fill"></td>
		  <td><TMPL_VAR NAME="shipped"></td>
		  <td><TMPL_VAR NAME="forward_to_branch"></td>
		  <td><TMPL_VAR NAME="borrower_cancelled"></td>
		</tr>
	      </TMPL_LOOP>

	    </tbody>
	  </table>
	</div>
      </div>
    </div>

  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
