<TMPL_INCLUDE NAME="header.tmpl">
<TMPL_INCLUDE NAME="submenu_info.tmpl">

<script type="text/javascript">
set_secondary_tab("menu_info_reports");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    oTable = $('#datatable_report').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bInfo": true,
      	"bSort": true,
	"sDom": '<"H"Tfr>t<"F"ip>',
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	"oTableTools": {
          "sSwfPath": "/plugins/DataTables-1.10.2/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
	},
        "aaSorting": [[0,"asc"],[1,"asc"]],
        "bAutoWidth": true,
        "fnInitComplete": function() {
            // this handles a bug(?) in this version of datatables;
            // hidden columns caused the table width to be set to 100px, not 100%
            $("#datatable_report").css("width","100%");
        }
    });

//    $('#datatable_report tbody tr').live('mouseover mouseout', function (event) {    // deprecated in jquery 1.7
//    $(document).on("mouseover mouseout", "#datatable_report tbody tr", function() {  // suggested replacement
    $("#datatable_report tbody").on("mouseover mouseout", "tr", function() {           // reduce bubble-up

        if (event.type == 'mouseover') {
            $(this).addClass("ui-state-hover");
        } else {
            $(this).removeClass("ui-state-hover");
        }
    });

});

</script>


<div id="center" role="main">

    <div id="myDiv">
      <h2>ILL Stats</h2>
	<div class="dataTable_wrapper">
	  <table id="datatable_report">
	    <thead>
      <tr>
    <th colpsan="3">Date</th><th colspan="5">Borrowing</th><th colspan="5">Lending</th>
        </tr>
	  <tr>
		<th>Year</th><th>MonthNum</th><th>Month</th><th>Books requested</th><th>Actual requests</th><th>Unfilled responses</th><th>Lender shipped</th><th>We cancelled</th><th>Requests to lend</th><th>Could not fill</th><th>Shipped</th><th>Forward to branch</th><th>Borrower cancelled</th>
	      </tr>
	    </thead>
	    <tbody>

	      <TMPL_LOOP NAME="allStats">
		<tr>
		  <td><TMPL_VAR NAME="year"></td>
		  <td><TMPL_VAR NAME="monthnum"></td>
		  <td><TMPL_VAR NAME="month"></td>
		  <td><TMPL_VAR NAME="books_requested"></td>
		  <td><TMPL_VAR NAME="requests_made"></td>
		  <td><TMPL_VAR NAME="responded_unfilled"></td>
		  <td><TMPL_VAR NAME="lender_shipped"></td>
		  <td><TMPL_VAR NAME="we_cancelled"></td>
		  <td><TMPL_VAR NAME="requests_to_lend"></td>
		  <td><TMPL_VAR NAME="could_not_fill"></td>
		  <td><TMPL_VAR NAME="shipped"></td>
		  <td><TMPL_VAR NAME="forward_to_branch"></td>
		  <td><TMPL_VAR NAME="borrower_cancelled"></td>
		</tr>
	      </TMPL_LOOP>

	    </tbody>
	  </table>
	</div>
  </div>


  <div id="instructions">
    <h2>Instructions</h2>

    <h3>Borrowing</h3>
    <table id="fill-table" class="table-width-lib">
      <tr><td style="border:1px solid black;">Books requested</td><td style="border:1px solid black;">Number of titles you've requested.</td></tr>
      <tr><td style="border:1px solid black;">Actual requests</td><td style="border:1px solid black;">including retrying unfilleds, etc</td></tr>
      <tr><td style="border:1px solid black;">Unfilled responses</td><td style="border:1px solid black;">Number of times libraries could not fill (actual) requests</td></tr>
      <tr><td style="border:1px solid black;">Lender shipped</td><td style="border:1px solid black;">books physically received from lenders.</td></tr>
      <tr><td style="border:1px solid black;">We cancelled</td><td style="border:1px solid black;">Requests you cancelled.</td></tr>
    </table>

    <h3>Lending</h3>
    <table id="fill-table" class="table-width-lib">
      <tr><td style="border:1px solid black;">Requests to lend</td><td style="border:1px solid black;">Number of requests other libraries have made to you</td></tr>
      <tr><td style="border:1px solid black;">Could not fill</td><td style="border:1px solid black;">Number of times you responded 'unfilled'</td></tr>
      <tr><td style="border:1px solid black;">Shipped</td><td style="border:1px solid black;">books you sent out.</td></tr>
      <tr><td style="border:1px solid black;">Forward to branch</td><td style="border:1px solid black;">Number of requests you've forwarded to one of your branches</td></tr>
      <tr><td style="border:1px solid black;">Borrower cancelled</td><td style="border:1px solid black;">Number of requests that the borrower cancelled before you could respond.</td></tr>
    </table>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
