/*----------------------------------------------------*/

* { margin:0; padding:0; }

body,p,div,th,td,dd,ul,ol
{
  font-weight: 400;
  font-size: 95%;
  line-height: normal;
  color: #000000;
  font-family: arial, helvetica, sans-serif;
  Font-style: normal;
}

b,strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 95%;
  color: #000000;
}

h1
{
  font-weight: 700;
  font-size: 160%;
  font-family: arial, helvetica, sans-serif;
}

h2
{
  font-weight: 700;
  font-size: 150%;
  font-family: arial, helvetica, sans-serif;
}

h3
{
  font-weight: 700;
  font-size: 130%;
  font-family: arial, helvetica, sans-serif;
}

h4
{
  font-weight: 700;
  font-size: 120%;
  font-family: arial, helvetica, sans-serif;
}

h5
{
  font-weight: 700;
  font-size: 110%;
  font-family: arial, helvetica, sans-serif;
}

h6
{
  font-weight: 700;
  font-size: 105%;
  font-family: arial, helvetica, sans-serif;
}

#header {
  height:75px;
  background:url(img/header.png) repeat-x 0 0
}

#logo
{
  padding:10px 0 0 12px;
}

#logo_title
{
  color:#aacc66;
  font-family:georgia, tahoma, arial narrow, arial;
  font-size:28px;
  font-weight:800;
  text-transform:uppercase;
  letter-spacing:2px;
  border-bottom:1px solid #7ea3ac;
  width:260px
}

#logo_slogan {
  color:#efe642;
  font-size:12px;
  font-family:tahoma, arial
}

#header_quick_access {
  position:absolute;
  top:0;
  right:0;
  width:400px;
  text-align: right;
}

#header_quick_access ul
{
  text-align: right;
}

#header_quick_access li
{
  list-style-type: none;
  padding: 0.25em 1 em;
  /* border-right: 1px solid white; */
  display: inline;
  font-weight: 500;
  font-size: 130%;
  color: white;
}

#header_quick_access li A:link    { color: white; text-decoration:underline }
#header_quick_access li A:active  { color: white; text-decoration:underline }
#header_quick_access li A:visited { color: white; text-decoration:underline }

#header_quick_access A:link    { color: white; text-decoration:underline }
#header_quick_access A:active  { color: white; text-decoration:underline }
#header_quick_access A:visited { color: white; text-decoration:underline }

#nav1
{
  margin-top: -0.1em;
  margin-bottom: 1.0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

#nav1 ul
{
  background-color: #408040;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid gray;
}

#nav1 li
{
  list-style-type: none;
  padding: 0.25em 1 em;
  border-left: 1px solid white;
  display: inline;
  font-weight: 700;
  font-size: 140%;
}

#nav1 li:first-child
{
  border: none;
}

#nav1 li A:link    { color: white; text-decoration:none }
#nav1 li A:active  { color: white; text-decoration:none }
#nav1 li A:visited { color: white; text-decoration:none }
#nav1 li.current_tab A:link    { color: #000000; background: #aacc66; text-decoration:none }
#nav1 li.current_tab A:active  { color: #000000; background: #aacc66; text-decoration:none }
#nav1 li.current_tab A:visited { color: #000000; background: #aacc66; text-decoration:none }

#submenu
{
  margin-top: -1.0em;
  margin-bottom: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
}

#submenu ul
{
  background-color: #aacc66;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid gray;
}

#submenu li
{
  list-style-type: none;
  padding: 0.25em 1 em;
  border-left: 1px solid white;
  display: inline;
  font-wight: 700;
  font-size: 120%;
}

#submenu li:first-child
{
  border: none;
}

#submenu li A:link    { color: #408040; text-decoration:none }
#submenu li A:active  { color: #408040; text-decoration:none }
#submenu li A:visited { color: #408040; text-decoration:none }
#submenu li.current_tab A:link    { color: #000000; background: white; text-decoration:none }
#submenu li.current_tab A:active  { color: #000000; background: white; text-decoration:none }
#submenu li.current_tab A:visited { color: #000000; background: white; text-decoration:none }


#undo_limits {
  background-color: #408040;
  color: white;
  font-weight: 400;
  font-size:100%;
}

#undo_limits A:link    {color:white;}
#undo_limits A:visited {color:white;}
#undo_limits A:active  {color:white;}
#undo_limits A:hover   {color:white; font-size:110%;}

#results_fields {
  background-color: #aacc66;
  color: white;
  font-weight: 400;
  font-size:100%;
}

#quick_links {
  background-color: white;
  color: #000000;
  font-weight: 400;
  font-size:100%;
}
#quick_links p {
  display: inline;
  font-weight: 600;
  font-size:110%;
}
#quick_links A:link    {color:#000000;}
#quick_links A:visited {color:#000000;}
#quick_links A:active  {color:#000000;}
#quick_links A:hover   {color:#000000;}



#leftcontent {
  float:left;
  width: 15%;
  background: #aacc66;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-right: 15px;
  padding-bottom: 20px;
}

#middlecontent {
  float:left;
  width:70%;
}

#rightcontent {
  float:left;
  width:10%;
  background: #aacc66;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-left: 15px;
  padding-bottom: 20px;
}


#nav2
{
  margin-top: 1em;
  margin-bottom: 0.5em;
  clear: both;
}

#nav2 ul
{
  background-color: #408040;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid gray;
}

#nav2 li
{
  list-style-type: none;
  padding: 0.25em 1 em;
  border-left: 1px solid white;
  display: inline;
  font-wight: 700;
  font-size: 90%;
}

#nav2 li:first-child
{
  border: none;
}

#nav2 li A:link    { color: white }
#nav2 li A:active  { color: white }
#nav2 li A:visited { color: white }

/*------------------------------------------------------*/

div#searchBoxDiv {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

/*------------------------------------------------------*/

#searching {  display: none; }
#debug-1   {  display: none; }
div#selectZservers {
  margin: 0px 20px 0px 20px;
  display: none;
}

div.wait
{
  margin-top: 30px; 
  margin-bottom: 30px; 
  text-align: center; 
  font-weight: 700;
}
div#statusDetailsDiv {
/*  width: 500px ; */
  margin-left: auto ;
  margin-right: auto ;
/*  display: none; */
  display: block;
}
div#statusDetailsColumn1 { width:400px; margin-right:20px; float:left; font-family:"Andale Mono","Courier New", monospace; font-size:x-small; }
div#statusDetailsColumn2 { width:400px; margin-right:20px; float:left; font-family:"Andale Mono","Courier New", monospace; font-size:x-small; }
div#statusDetailsColumn3 { width:400px; margin-right:20px; float:left; font-family:"Andale Mono","Courier New", monospace; font-size:x-small; }

/*------------------------------------------------------*/

#search_results
{
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.search_results_title,
.search_results_author,
.search_results_pubdate,
.search_results_subject,
.search_results_subject_heading,
.search_results_holdings,
.search_results_holdings_location_netborrower,
.search_results_holdings_location_netlender
{
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.search_results_title {
  font-size:120%;
  font-weight:700;
  color: white;
  background: #408040;
  margin-top: 15px;
}

.search_results_author {
  color: #408040;
}

.search_results_subject {
  font-size:90%;
  color: black;
  padding-left: 25px;
}

.search_results_subject_heading {
  color: black;
}

.search_results_holdings {
  color: #408040;
  display: inline;
}

.search_results_holdings_location_netborrower {
  color: #408040;
  font-weight: 600;
  display: inline;
}

.search_results_holdings_location_netlender {
  color: #990000;
  display: inline;
}

p.debuginfo {
  font-family:arial;
  font-size:8pt;
  font-style:italic;
  color: grey;
}

a.newsearch { background-color: #efe642; }

#limit_subjects_shown {  display: none;  font-size:110%; font-weight:700;}
#limit_authors_shown  {  display: block; font-size:110%; font-weight:700; }
#limit_pubdates_shown {  display: none;  font-size:110%; font-weight:700; }

#limit_subjects_hidden {  display: block; font-size:110%; font-weight:700; }
#limit_authors_hidden  {  display: none;  font-size:110%; font-weight:700; }
#limit_pubdates_hidden {  display: block; font-size:110%; font-weight:700; }

a.limits {
  background-color: #aacc66;
  color: black;
  font-weight: 400;
  font-size:90%;
}
a.limits:link    {color:black;}
a.limits:visited {color:black;}
a.limits:active  {color:black;}
a.limits:hover   {color:black; font-size:110%;}


div.sr_title_line
{
  margin-top: 15px;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  color: black;
  background: #408040;
}

.sr_title {
  float: left;
  text-align: left;
  font-size:120%;
  font-weight:700;
  color: white;
  background: #408040;
}

.sr_request {
  float: right;
  text-align: right;
  color: yellow;
  background: #408040;
}

.sr_request a:link    {color:white;}
.sr_request a:visited {color:white;}
.sr_request a:active  {color:white;}
.sr_request a:hover   {color:white; font-size:110%;}

div.spacer {
  clear: both;
}

/*------------------------------------------------------*/

.zserver_available,
.zserver_unavailable
{
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  font-size: 75%;
  font-family:arial;
}

.zserver_unavailable
{
  color:grey;
  font-style:italic;
}

.zserver_not_alive
{
  color:grey;
  font-style:italic;
  text-decoration:line-through;
  display:none;
}

.zserver_check_uncheck_all
{
  color:#408040;
  font-size: 100%;
  font-weight: 400;
  font-style:italic;
}

/*------------------------------------------------------*/

.zServers_name,
.zServers_conn,
.zServers_other
{
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.zServers_conn
{
  font-size: 75%;
}

.zServers_other
{
  font-size: 75%;
  display: none;
}

.short_instruction
{
  font-size: 75%;
  font-family:arial;
  font-style:italic;
  color: grey;
  display: inline;
}

/*------------------------------------------------------*/

div#run_zserver_test
{
  display: none;
}

div#centeredDiv {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  display: block;
}


div#circulationPolicy
{
  display: none;
}

/*------------------------------------------------------*/

.user_name,
.user_library,
.user_other
.location,
.location_name,
.location_other
{
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.user_library,
.location_name
{
  font-size: 75%;
}

.user_other,
.location_other
{
  font-size: 75%;
  display: none;
}

/*------------------------------------------------------*/

p.zerocirc_claim_ok {
  font-family:arial;
  font-size:10pt;
  color: grey;
}

p.zerocirc_claim_not_ok {
  font-family:arial;
  font-size:12pt;
  color: red;
}

p.zerocirc_claim_green {
  font-family:arial;
  font-size:10pt;
  color: #408040;
}

@media print {
  input.noPrint { display: none; }
}

p.zerocirc_short_instruction
{
  font-size: 75%;
  font-family:arial;
  font-style:italic;
  color: grey;
}

div#nonficdiv { display: none; }

/*------------------------------------------------------*/

table.simple_search_table td { padding:15px; }
table.generic { padding:10px; }
table.common_search_table td { padding:12px; }
table.report { padding:10px; }

/*------------------------------------------------------*/

#region_map {
  float:left;
  width:50%;
}

.choices {
  float:right;
  width:38%;
  background: #aacc66;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-left: 15px;
  padding-bottom: 20px;
}

.choices a:link    {color:black; }
.choices a:active  {color:black; }
.choices a:visited {color:black; }
.choices a:hover   {color:#408040; font-size:120%; font-weight: 600; }

a.continue:link    { color:#408040; font-size:120%; font-weight:600; }
a.continue:active  { color:#408040; font-size:120%; font-weight:600; }
a.continue:visited { color:#408040; font-size:120%; font-weight:600; }
a.continue:hover   { color:#408040; font-size:140%; font-weight:600; }
    
/*-------------------------------------------------------*/

#csstabs 
{
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
}

#csstabs ul 
{
  background-color: #408040;
  text-align: center;
  margin: 0em ;
  padding: 1.0em ;
  list-style: none ;
}
#csstabs ul li 
{
  margin: 0 ;
  padding: 0 ;
  display: inline ;
  text-align: center ;
  list-style: none ;
  font-family: Arial, Helvetica, sans-serif ;
}
#csstabs li a 
{
  color: #fff ;
  background-color: #408040 ;
  border: 1px outset #bfffe4 ;
  padding: 4px ;
  text-decoration: none ;
  display: inline ;
}
#csstabs li a:hover {
  color: #fff ;
  background-color: #00b366 ;
}
#csstabs li.current_tab a 
{
  color: #000000;
  background-color: #aacc66;
  border: 1px outset #bfffe4 ;
  padding: 4px ;
  text-decoration: none ;
  display: inline ;
}


#csssubmenu
{
  margin-top: -1.0em;
  margin-bottom: 1.0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

#csssubmenu ul
{
  background-color: #aacc66;
  text-align: center;
  margin: 0em;
  padding: 0.4em;
  list-style: none;
}
#csssubmenu ul li 
{
  margin: 0 ;
  padding: 0 ;
  display: inline ;
  text-align: center ;
  list-style: none ;
  font-family: Arial, Helvetica, sans-serif ;
}
#csssubmenu li a
{
  color: #408040 ;
  background-color: #aacc66 ;
  border: 1px outset #bfffe4 ;
  padding: 3px ;
  text-decoration: none ;
  display: inline ;
}
#csssubmenu li a:hover {
  color: #fff ;
  background-color: #00b366 ;
}
#csssubmenu li.current_tab a
{
  color: #000000 ;
  background-color: #fff ;
  border: 1px outset #bfffe4 ;
  padding: 3px ;
  text-decoration: none ;
  display: inline ;
}

/*------------------------------------------------------*/

p.info_zserver_ok {
  font-family:arial;
  font-size:10pt;
  color: green;
  display: inline;
}

p.info_zserver_not_alive {
  font-family:arial;
  font-size:10pt;
  color: red;
  display: inline;
}

p.info_zserver_not_available {
  font-family:arial;
  font-size:10pt;
  color: grey;
  display: inline;
}

p.info_zserver_zero_recs {
  font-family:arial;
  font-size:10pt;
  color: white;
  background-color: #663300;
  display: inline;
}
