<!-- End content -->

<footer role="contentinfo">
  <div id="nav2">
    <a href="/cgi-bin/lightning.cgi?rm=environment_form">ENV display</a><span style="color:#aabdba;"> | </span>
    <a href="?authen_logout=1">Log out</a><span style="color:#aabdba;"> | </span>
    <a href="/cgi-bin/admin.cgi">Admin</a>
  </div>
</footer>

<div id="bison-container">
  <!--<a href="http://www.gov.mb.ca/chc/"><img class="bison" alt="Manitoba Bison Logo" title="Coordinated by the Public Library Service Branch of the Government of Manitoba Tourism, Culture, Heritage and Consumer Protection" src="/img/manitoba.gif"></a>-->
</div>

</div><!--div id container-->
</body>
</html>
