<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head><title>MAPLIN3</title>
<link type="text/css" rel="stylesheet" href="/maplin3styles.2.0.css">

<script language="JavaScript">

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

</script>

<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21021258-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div id="header">
  <div id="logo">
    <div id="logo_title">MAPLIN-3</div>
    <div id="logo_slogan">Request books from Manitoba libraries</div>
  </div>
  <div id="header_quick_access">
    <ul>
      <li><a href="?rm=logged_out">Log out</a></li>
      <li><TMPL_VAR NAME=username></li>
    </ul>
  </div>
</div>

<div id="csstabs">
  <ul>
    <li id="menu_public_welcome">
      <a href=/cgi-bin/public.cgi?rm=welcome_form>
      Welcome
      </a>
    </li>

    <li id="menu_public_search">
      <a href=/cgi-bin/public.cgi?rm=search_form>
      Search
      </a>
    </li>

    <li id="menu_public_myaccount">
      <a href=/cgi-bin/public.cgi?rm=myaccount_form>
      My Account
      </a>
    </li>

  </ul>

</div>

