<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
$('document').ready(function(){

    $("#search").hide();
    $(".inline-items").children().hide();
    $("#fill-button").hide();  // hide the logout button, as it makes no sense here
    $("#theme1").hide();
    $("#theme2").hide();
    $("#theme3").hide();
    $("#incrFont").hide();
    $("#decrFont").hide();

});
</script>


	<h1>Logged out</h1>
	<p>
	<p style="display:none">Logged in as [<TMPL_VAR NAME="username">]</p>
	<p style="display:none">Session id [<TMPL_VAR NAME="sessionid">]</p>
	<p>Thanks for using fILL!</p>
	<form METHOD=POST ACTION="">
	     <input TYPE="hidden" NAME="rm" VALUE="search_simple_ajax_form">
	     <input type="submit" name="submit" value="Log in" class="library-style" />
	</form>

<TMPL_INCLUDE NAME="footer.tmpl">
