<TMPL_INCLUDE NAME="header.tmpl">


<h1>Logged out</h1>
<p>
<p>Logged in as [<TMPL_VAR NAME="username">]</p>
<p>Session id [<TMPL_VAR NAME="sessionid">]</p>
<form METHOD=POST ACTION="">
     <input TYPE="hidden" NAME="rm" VALUE="search_simple">
     <input type="submit" name="submit" value="Log in" />
</form>

<TMPL_INCLUDE NAME="footer.tmpl">
