<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
$('document').ready(function(){

    $("#search").hide();
    $(".inline-items").children().hide();
//    $(".inline-items").children(":contains('home')").show();
    $("#fill-button").hide();  // hide the logout button, as it makes no sense here
    $("#theme1").hide();
    $("#theme2").hide();
    $("#theme3").hide();
    $("#incrFont").hide();
    $("#decrFont").hide();
});
</script>

<div class="clear"></div>
 <form action="/cgi-bin/lightning.cgi" method="post" name="loginform">
  
<div class="login">
      <div class="login-content tone-box">

          <div class="login-header">
              <legend>Login</legend>
          </div>

	  <fieldset class="login">
            <label for="authen_username">User Name</label>
            <input type="text" value="" autocaptalize="off" name="authen_username" tabindex="1" id="authen_loginfield"><br>

            <label for="authen_password">Password</label>
            <input type="password" name="authen_password" tabindex="2" id="authen_passwordfield"><br>

            <input type="checkbox" value="1" name="authen_rememberuser" tabindex="3" id="authen_rememberuserfield">Remember User Name<br>
	  </fieldset>
	</div>

	<div class="login-footer">

      <input type="submit" class="button-left library-style" value="Sign In" name="authen_loginbutton" tabindex="4" id="authen_loginbutton fill-button">
	 
	</div>

  </div>
      <input type="hidden" value="https://localhost/cgi-bin/lightning.cgi?rm=search_simple_ajax_form;submit=Log%20in" name="destination">
      <input type="hidden" value="authen_login" name="rm">
  </form>
</div>

<script language="JavaScript" type="text/javascript">
  $('#csstabs').hide();
</script>

<script language="JavaScript" type="text/javascript">
  document.loginform.authen_username.focus();
</script>

<TMPL_INCLUDE NAME="footer.tmpl">
