<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
$('document').ready(function(){

    $("#search").hide();
    $(".inline-items").children().hide();
//    $(".inline-items").children(":contains('home')").show();
    $("#fill-button").hide();  // hide the logout button, as it makes no sense here

});
</script>

<div class="clear">
 <form action="/cgi-bin/lightning.cgi" method="post" name="loginform">
  <div class="login">
  	<div class="login-header">
  	  <span class="login-header-title">Sign in to fILL</span>
  	</div>

	<div class="login-content">
	  <fieldset>
            <label for="authen_username">User Name</label>
            <input type="text" value="" size="20" name="authen_username" tabindex="1" id="authen_loginfield"><br>
            <label for="authen_password">Password</label>
            <input type="password" size="20" name="authen_password" tabindex="2" id="authen_passwordfield"><br>
            <input type="checkbox" value="1" name="authen_rememberuser" tabindex="3" id="authen_rememberuserfield">Remember User Name<br>
	  </fieldset>
	</div>

	<div class="login-footer">
	  <div class="buttons">
      <input type="submit" class="button-left" value="Sign In" name="authen_loginbutton" tabindex="4" id="authen_loginbutton">
	  </div>
	</div>

  </div>
      <input type="hidden" value="https://localhost/cgi-bin/lightning.cgi?rm=search_simple_ajax_form;submit=Log%20in" name="destination">
      <input type="hidden" value="authen_login" name="rm">
  </form>
</div>

<script language="JavaScript" type="text/javascript">
  $('#csstabs').hide();
</script>

<script language="JavaScript" type="text/javascript">
  document.loginform.authen_username.focus();
</script>

<TMPL_INCLUDE NAME="footer.tmpl">
