<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<title>Oops</title>
</head>
<body>
<b>Oops!</b>
<p>Error code: <TMPL_VAR NAME=ERRCODE></p>
<p>Error mesg: <TMPL_VAR NAME=ERRMSG></p>
<p>Additional: <TMPL_VAR NAME=ADDINFO></p>
<p>Diagnostic: <TMPL_VAR NAME=DIAGSET></p>
<p><TMPL_VAR NAME=ERRMSG></p>
<form METHOD=POST ACTION="">
  Search again:
  <input TYPE="text" NAME="title" SIZE="40" MAXLENGTH="40">
  <input TYPE="hidden" NAME="rm" VALUE="results">
  <input type="submit" name="submit" value="Submit" />
</form>
</body>
</html>
