<!-- Submenu: rotations -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_rotations_receiving">
      <a href=/cgi-bin/rotations.cgi?rm=receive_form>
      Receive titles
      </a>
    </li>

    <li id="menu_rotations_circstats">
      <a href=/cgi-bin/rotations.cgi?rm=circstats_form>
      Enter circ stats
      </a>
    </li>

    <li id="menu_rotations_current">
      <a href=/cgi-bin/rotations.cgi?rm=current_form>
      At my library
      </a>
    </li>

    <li id="menu_rotations_holdins_setup">
      <a href=/cgi-bin/rotations.cgi?rm=holdings_setup_form>
      Holdings setup
      </a>
    </li>

    <li id="menu_rotations_report_received_counts" style="display:none;">
      <a href="/cgi-bin/rotations.cgi?rm=report_received_cnt">
      Report - lib rec'd cnts
      </a>
    </li>

    <li id="menu_rotations_report_item_circ_counts" style="display:none;">
      <a href="/cgi-bin/rotations.cgi?rm=report_item_circs">
      Report - item circs
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_rotations");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

