<!-- Submenu: lend -->

<!--div id="submenu" -->
<div id="csssubmenu">
  <ul>
    <li id="menu_lend_pull">
      <a href=/cgi-bin/lightning.cgi?rm=pull_list>
      Pull list
      </a>
    </li>

    <li id="menu_lend_respond">
      <a href=/cgi-bin/lightning.cgi?rm=respond>
      Respond
      </a>
    </li>

    <li id="menu_lend_checkins">
      <a href=/cgi-bin/lightning.cgi?rm=checkins>
      Check-ins
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_lend");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

