<!-- Submenu: myaccount -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_myaccount_settings">
      <a href=/cgi-bin/myaccount.cgi?rm=myaccount_settings_form>
      Settings
      </a>
    </li>

    <li id="menu_myaccount_zserver">
      <a href=/cgi-bin/myaccount.cgi?rm=myaccount_zserver_form>
      zServer
      </a>
    </li>

    <li id="menu_myaccount_locations">
      <a href=/cgi-bin/myaccount.cgi?rm=myaccount_locations_form>
      Locations / Branches
      </a>
    </li>

    <li id="menu_myaccount_localuse">
      <a href=/cgi-bin/myaccount.cgi?rm=myaccount_LocalUse_form>
      Local Use
      </a>
    </li>

    <li id="menu_myaccount_ebsco">
      <a href=/cgi-bin/myaccount.cgi?rm=myaccount_ebsco_form>
      Ebsco
      </a>
    </li>

    <li id="menu_myaccount_reports">
      <a href=/cgi-bin/myaccount.cgi?rm=myaccount_reports_form>
      Reports
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_myaccount");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

