<!-- Submenu: admin -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_admin_reports">
      <a href=/cgi-bin/admin.cgi?rm=admin_reports_form>
      Reports
      </a>
    </li>

    <li id="menu_admin_logs">
      <a href=/cgi-bin/admin.cgi?rm=admin_logs_form>
      Logs
      </a>
    </li>

    <li id="menu_admin_config">
      <a href=/cgi-bin/admin.cgi?rm=admin_config_form>
      Config
      </a>
    </li>

    <li id="menu_admin_users">
      <a href=/cgi-bin/admin.cgi?rm=admin_users_form>
      Users
      </a>
    </li>

    <li id="menu_admin_actions">
      <a href=/cgi-bin/admin.cgi?rm=admin_actions_form>
      Actions
      </a>
    </li>

    <li id="menu_admin_test_zserver">
      <a href=/cgi-bin/admin.cgi?rm=admin_test_zserver_form>
      Test zServer
      </a>
    </li>

    <li id="menu_admin_status">
      <a href=/cgi-bin/admin.cgi?rm=admin_status_form>
      Status
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_admin");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

