<!-- Submenu: supplemental -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_supplemental_audiovisual">
      <a href=/cgi-bin/supplemental.cgi?rm=audiovisual_form>
      Audio/Visual
      </a>
    </li>

    <li id="menu_supplemental_worldlanguages">
      <a href=/cgi-bin/supplemental.cgi?rm=worldlanguages_form>
      World Languages
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_supplemental");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

