<!-- Submenu: borrow -->

<!--div id="submenu" -->
<div id="csssubmenu">
  <ul>
    <li id="menu_borrow_lightning">
      <a href=/cgi-bin/lightning.cgi?rm=lightning_search_form>
      Search
      </a>
    </li>

    <li id="menu_borrow_unfilled">
      <a href=/cgi-bin/lightning.cgi?rm=unfilled>
      Unfilled
      </a>
    </li>

    <li id="menu_borrow_receive">
      <a href=/cgi-bin/lightning.cgi?rm=receive>
      Receiving
      </a>
    </li>

    <li id="menu_borrow_renewals">
      <a href=/cgi-bin/lightning.cgi?rm=renewals>
      Renewals
      </a>
    </li>

    <li id="menu_borrow_returns">
      <a href=/cgi-bin/lightning.cgi?rm=returns>
      Returns
      </a>
    </li>

    <li id="menu_borrow_overdue">
      <a href=/cgi-bin/lightning.cgi?rm=overdue>
      Overdue
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_borrow");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

