<!-- Submenu: search -->

<!--div id="submenu" -->
<div id="csssubmenu">
  <ul>
    <li id="menu_search_lightning">
      <a href=/cgi-bin/lightning.cgi?rm=lightning_search_form>
      Search
      </a>
    </li>

    <li id="menu_search_pull">
      <a href=/cgi-bin/lightning.cgi?rm=pull_list>
      Pull list
      </a>
    </li>

    <li id="menu_search_respond">
      <a href=/cgi-bin/lightning.cgi?rm=respond>
      Respond
      </a>
    </li>

    <li id="menu_search_receive">
      <a href=/cgi-bin/lightning.cgi?rm=receive>
      Receiving
      </a>
    </li>

    <li id="menu_search_returns">
      <a href=/cgi-bin/lightning.cgi?rm=returns>
      Returns
      </a>
    </li>

    <li id="menu_search_checkins">
      <a href=/cgi-bin/lightning.cgi?rm=checkins>
      Check-ins
      </a>
    </li>

    <li id="menu_search_history">
      <a href=/cgi-bin/lightning.cgi?rm=history>
      History
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_search");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

