<!-- Submenu: zerocirc -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_zerocirc_browse">
      <a href=/cgi-bin/zerocirc.cgi?rm=browse_form>
      Browse list
      </a>
    </li>

    <li id="menu_zerocirc_find">
      <a href=/cgi-bin/zerocirc.cgi?rm=find_form>
      Find/Claim
      </a>
    </li>

    <li id="menu_zerocirc_report">
      <a href=/cgi-bin/zerocirc.cgi?rm=report_form>
      My Report...
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_zerocirc");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

