<!-- Submenu: search -->

<!--div id="submenu" -->
<div id="csssubmenu">
  <ul>
    <li id="menu_search_simple_ajax">
      <a href=/cgi-bin/maplin3.cgi?rm=search_simple_ajax_form>
      Simple
      </a>
    </li>

    <li id="menu_search_common">
      <a href=/cgi-bin/maplin3.cgi?rm=search_common_form>
      Common
      </a>
    </li>

    <li id="menu_search_lightning">
      <a href=/cgi-bin/lightning.cgi?rm=lightning_search_form>
      Lightning
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_search");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

