<!-- Submenu: training -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_training_training">
      <a href="/cgi-bin/training.cgi?rm=training_form">
      Training
      </a>
    </li>

    <li id="menu_training_documents">
      <a href="/cgi-bin/training.cgi?rm=training_docs_form">
      Documents
      </a>
    </li>

    <li id="menu_training_videos">
      <a href="/cgi-bin/training.cgi?rm=training_vids_form">
      Videos
      </a>
    </li>
    
  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_training");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

