<!-- Submenu: myaccount -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_info_contacts">
      <a href=/cgi-bin/info.cgi?rm=info_contacts_form>
      Contacts
      </a>
    </li>

    <li id="menu_info_documents">
      <a href=/cgi-bin/info.cgi?rm=info_documents_form>
      Documents
      </a>
    </li>

    <li id="menu_info_reports">
      <a href=/cgi-bin/info.cgi?rm=info_reports_form>
      Run reports
      </a>
    </li>

    <li id="menu_info_report-folder">
      <a href=/cgi-bin/info.cgi?rm=info_report-folder_form>
      Report folder
      </a>
    </li>

    <li id="menu_info_feeds">
      <a href=/cgi-bin/info.cgi?rm=info_feeds_form>
      Feeds
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_info");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

