<!-- Submenu: rotations_admin -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_rotations_admin_upload">
      <a href="/cgi-bin/rotations_admin.cgi?rm=upload">
      upload records
      </a>
    </li>

    <li id="menu_rotations_report_received_counts">
      <a href="/cgi-bin/rotations_admin.cgi?rm=report_received_cnt">
      library received accounts
      </a>
    </li>

    <li id="menu_rotations_report_item_circ_counts">
      <a href="/cgi-bin/rotations_admin.cgi?rm=report_item_circs">
      item circulations
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_rotations_admin");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

