<!-- Submenu: patrons -->

<!--div id="submenu"-->
<div id="csssubmenu">
  <ul>
    <li id="menu_patrons_chat">
      <a href="/cgi-bin/patrons.cgi?rm=chat_form" target="_blank">
      Chat
      </a>
    </li>

    <li id="menu_patrons_info">
      <a href="/cgi-bin/patrons.cgi?rm=patrons_form">
      Patron list
      </a>
    </li>

  </ul>
</div>

<script type="text/javascript">
  <!--
  set_primary_tab("menu_patrons");
  // -->
</script>

<!-- We can do the same thing for each *page*,
     add a set_secondary_tab() call in the
     page template (eg: in search_advanced.tmpl
-->

<!-- Content -->

