<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <link rel=stylesheet href="maplin3.css" type="text/css">
<head>
<title><TMPL_VAR NAME=THAT_FAMOUS_STRING></title>
</head>
<body>
<b><TMPL_VAR NAME=THAT_FAMOUS_STRING></b>
<p>
<form METHOD=POST ACTION="">
     <input TYPE="text" NAME="title" SIZE="40" MAXLENGTH="40">
     <input TYPE="hidden" NAME="rm" VALUE="results">
     <input type="submit" name="submit" value="Submit" />
</form>

<form METHOD=POST ACTION="">
  <input type="hidden" NAME="rm" VALUE="dbtest">
  <input type="submit" name="submit" value="dbtest" />
</form>

</body>
</html>
