<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <link rel=stylesheet href="maplin3.css" type="text/css">
<head>
</head>
<body>
  <TMPL_VAR NAME=FROM><br>
  <TMPL_VAR NAME=TO><br>
  <TMPL_VAR NAME=CC><br>
  <TMPL_VAR NAME=REPLY_TO><br>
  <TMPL_VAR NAME=SUBJECT><br>
  <hr><br>
  <TMPL_VAR NAME=CONTENT><br>
</body>
</html>
