<TMPL_INCLUDE NAME="header.tmpl">
<script type="text/javascript" src="/js/welcome-1.1.js"></script>
<script type="text/javascript" src="/js/library-status-1.2.js"></script>

<div id="center" role="main">

  <div id="main-left" class="tone-box" >

    <div class="alert-box" >
      <p>Library status</p>
      <p>An easy way to share a quick status message with everyone.
      <br/>(e.g. "Closed for renovations until Nov.15")
      <br/>Set your status message in Account > Settings > Status</p>
      <hr>
      <p>Restarting ILL</p>
      <p>When your library is ready to restart ILL, contact David Christensen at PLSB.</p>
    </div>
    <hr>

    <div id="lib-status">
      <p>My library's current status message:</p>
      <TMPL_IF NAME="lib_status">
	<div id="lib_status" class="lighter-box">
	  <TMPL_VAR NAME="lib_status">
	</div>
	<TMPL_ELSE>
	  <div id="lib_nostatus">
	    <br />
	  </div>
      </TMPL_IF>
      <p>To set a status message for your library, go into Account > Settings > Status.</p>
    </div>
    <hr>
    
    <div id="zserver">
      <p id="libsym" style="display:none"><TMPL_VAR NAME="libsym"></p>
      <a href="/cgi-bin/myaccount.cgi?rm=myaccount_test_zserver_form"><h3>Z Server Status Check</h3></a>
      <div id="waitDiv">Checking...<img src="/img/wait.gif" alt="loading indicator"></div>
      <div class="zstatus">Z Server Present <span id="zPresent" class="zno">...</span></div>
      <div class="zstatus">Able to Connect <span id="zConnect" class="zno">...</span></div>
      <div class="zstatus">Able to Search <span id="zSearch" class="zno">...</span></div>
      <div class="zstatus">Able to Retrieve Record <span id="zRecord" class="zno">...</span></div>
    </div>
    <p>If any Z Server check indicates 'No &#x2717;' please notify your ILS admistrator and email <a href="mailto:pls@gov.mb.ca">pls@gov.mb.ca</a>
      <hr>
      
      <h2>Quick Links</h2>
      <!--
	  <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
          <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
	  -->
      
    <p><strong>Public fILL</strong></p>
    <ul>
      <li>Public fILL access: <a href="https://fill.mb.libraries.coop/"><span style="text-decoration: underline;">https://fill.mb.libraries.coop/</span></a></li>
      <li><a href="/fILL-Patron_Guide-v3.pdf">Patron brochure</a></li>
      <li><a href="/patrons-searching-tutorial.pdf">Patron tutorial on Searching and Requesting</a></li>
    </ul>
    
    <p><strong>Library fILL</strong></p>
    <p>These documents are now under the <a href="/cgi-bin/training.cgi?rm=training_docs_form"><span style="text-decoration: underline;">Training</span></a> tab.</p>
    
    <p><strong>Leave fILL and go to Counting Opinions</strong></p> 	
    <ul> 	
      <li><a href="http://mb.countingopinions.com/index.php?page_id=4">Statistics/Ready Reports</a></li> 	
      <li><a href="http://mb.countingopinions.com/memberlist_details.php?l=14702">Addresses, phone numbers, and links to library web sites</a></li> 	
      <li><a href="http://mb.countingopinions.com/locations.php?l=14702">Map of Manitoba Public Libraries</a></li> 	
      <li><a href="http://mb.countingopinions.com/index.php?page_id=4">eLibraries Manitoba monthly statistics</a></li> 	
    </ul>
    
  </div>
  
  <div id="main-right" class="tone-box" role="complementary">
    <div id="opt-in-returns-only-div">
        <input type="checkbox" id="opt-in-returns-only" name="horns">
	<label for="opt-in-returns-only"><mark>Check this box if your library <strong>willing to accept returns</strong>, even if you are not yet ready to restart ILL.</mark></label>
    </div>
    
    <div id="at-a-glance">
      <h2>At a glance</h2>
      <table class="at-a-glance-table">
	<thead>
	  <tr>
	    <th>Borrowing</th><th>Lending</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td><a id="glance-new-patron-requests" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=new_patron_requests">New patron requests: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	    <td><a id="glance-waiting-for-response" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=respond">Waiting for response: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	  </tr>
	  <tr>
	    <td><a id="glance-pending" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=pending">Pending: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	    <td><a id="glance-on-hold" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=on_hold">On hold: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	  </tr>
	  <tr>
	    <td><a id="glance-unfilled" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=unfilled">Unfilled: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	    <td><a id="glance-on-hold-cancelled" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=on_hold">On hold, but request cancelled by borrower: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	  </tr>
	  <tr>
	    <td><a id="glance-holds" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=holds">Holds placed by lender: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	    <td><a id="glance-shipping" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=shipping">Ready to ship: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	  </tr>
	  <tr>
	    <td><a id="glance-cannot-renew" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=renewals">Could not be renewed: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	    <td><a id="glance-renewalRequests" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=renew_answer">Renewal requests: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	  </tr>
	  <tr>
	    <td><a id="glance-overdue" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=overdue">Overdue: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	    <td><a id="glance-lost" class="at-a-glance-link" href="/cgi-bin/lightning.cgi?rm=lost">Lost: <img src="/img/wait.gif" alt="loading indicator"></a></td>
	  </tr>
	</tbody>
      </table>
    </div>

    <div id="library-statuses">
      <h2>Library status messages</h2>
      <div id="waitDiv-libstatuses">
	Loading... <img src="/img/wait.gif" alt="loading indicator">
      </div>
      
      <div id="myDiv">
	<div id="mylistDiv">
	  <table id="library-status-list" class="row-border" style="width:100%">
	    <thead>
	      <tr>
		<th>oid</th>
		<th>symbol</th>
		<th>library</th>
		<th>status</th>
	      </tr>
	    </thead>
	    <tbody></tbody>
	    <tfoot>
	      <tr><td colspan="4">Only libraries with status messages are shown.</td></tr>
	    </tfoot>
	  </table>
	</div>
      </div>
      
    </div>
    
    <div id="updates">
      <h2>Updates</h2>
      <hr>
      <div id="accordion">
	<h3>September 18, 2020 Release notes</h3>
	<div>
	  <p>New features:
	    <ul>
	      <li>Library status messages: Add a note about your status that you would like every library to see (e.g. "Closed for renovations until Nov.15th")</li>
	    </ul>
	  </p>
	</div>
	
	<h3>When your library is ready to restart interlibrary loan...</h3>
	<div>
	  <p>Restarting ILL is voluntary.  No library is required to restart ILL until they are ready, and it will take time before ILL is operational for every library.</p>
	  <p>When your library is ready to restart ILL, you can opt-in by contacting David Christensen at David.Christensen@gov.mb.ca </p>
	  <p>Libraries that have opted in to restarting their ILL will be able to search for and request items from other opted-in libraries.  The holdings of libraries which are not yet participating in ILL will not show up in your search results.</p>
	  <p>Libraries which have not yet opted in can still search, but will not be able to make requests.</p>
	</div>
	<h3>Restarting ILL: Things you'll notice...</h3>
	<div>
	  <p>When ILL was suspended there were a number of active, in-process ILL requests.  All of the Borrowing and Lending lists in fILL (e.g. Borrowing > Unfilled or Lending > Respond) will indicate if the library involved is not yet open for ILL by highlighting the library's symbol with a light orange background.</p>
	  <p>Some actions that you might ordinarily take (e.g. returning a book to a lender) will not be available to you for libraries that are not yet open for ILL.  When the library in question opts in, those actions will be unlocked.  Other actions (e.g. responding “unfilled” to one of these older requests) will be available regardless of the other library's status.</p>
	  <p>The contact list (Reports > Contacts) will also show each library's status in the same way – highlighting the library's symbol – as well as adding “Unavailable for ILL” under the library's name.</p>
	</div>
	<h3>Restarting ILL: Notes</h3>
	<div>
	  <p>Remember that searching only looks at the catalogues of libraries that are available for ILL.  You may want to let your patrons know that a particular item that isn't found right now might become available at a later date, as more libraries restart their ILL services.</p>
	  <p>Differing loan periods:  Libraries may have made different decisions/policies regarding quarantining incoming material coming from either other libraries or from their own patrons.  Libraries may have reduced ILL staff or reduced hours, but still be willing to process ILLs.</p>
	  <p>
	    <ul>
	      <li>When requesting an interlibrary loan, indicate in the “Additional Notes” field if you would like extra time added to the loan period for your quarantine policy.</li>
	      <li>When lending, try to be flexible in adjusting your loan periods to accomodate any extra time requested.  Your Respond tab (and pull list) will show any borrower notes to help you make lending decisions.</li>
	    </ul>
	  </p>

	</div>

      </div><!-- div id accordion -->
    </div><!-- updates -->
    
  </div><!-- div id main-right -->
</div><!--div id center-->
<TMPL_INCLUDE NAME="footer.tmpl">
