<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
    set_primary_tab("menu_contact");
</script>

<div id="content">
	<div id="main-info-left" class="tone-box" role="main">
	<h1>Contact</h1>
	    <p>If you require additional help requesting an item through fILL please visit or contact your local public library.</p>
			<h2><TMPL_VAR name="library"></h2>
			<p>Phone: <TMPL_VAR name="phone"></p>
			<p>Email: <a href='mailto:<TMPL_VAR name="email_address">'><TMPL_VAR name="email_address"></a></p>
			<p>Address:<br/>
			<TMPL_VAR name="mailing_address_line1"><br/>
			<TMPL_VAR name="mailing_address_line2"><br/>
<!--			<TMPL_VAR name="mailing_address_line3"><br/> -->
			<TMPL_VAR name="city">, <TMPL_VAR name="province"> <TMPL_VAR name="post_code">
		</p>
	</div>

	<div id="aside-img-right" role="complimentary">
	  <img src="<TMPL_VAR name='logo_path'>" alt="<TMPL_VAR name='logo_alt_text'>" />
	  <p class="note">Image care of <TMPL_VAR name="logo_credit"></p>
	</div>

</div><!--div id content-->

<TMPL_INCLUDE NAME="footer.tmpl">
