<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
    set_primary_tab("menu_contact");
</script>
<div id="container">

	<div id="main-info-left" class="tone-box">
	    <p>If you require additional help requesting an item using fILL please visit or contact your local public library.</p>
			<h3><TMPL_VAR name="library"></h3>
			<p>Phone: <TMPL_VAR name="phone"></p>
			<p>Email: <a href='mailto:<TMPL_VAR name="email_address">'><TMPL_VAR name="email_address"></a></p>
			<p>Address:<br/>
			<TMPL_VAR name="mailing_address_line1"><br/>
			<TMPL_VAR name="mailing_address_line2"><br/>
			<TMPL_VAR name="mailing_address_line3"><br/>
			<TMPL_VAR name="city">, <TMPL_VAR name="province"> <TMPL_VAR name="post_code">
		</p>
	</div>

	<div id="aside-img-right">
		<img src="/img/fill-contact.jpg" alt="Child sitting on a the floor of a book store, engrossed in reading">
		      <p class="note">Image care of <a href="https://www.flickr.com/photos/48439369@N00/2100913578">Tim Pierce</a></p>

	</div>

</div>
<TMPL_INCLUDE NAME="footer.tmpl">
