<TMPL_INCLUDE NAME="header.tmpl">
<script type="text/javascript" src="/js/public-requests-1.1.js"></script>

<script type="text/javascript">

set_primary_tab("menu_current");

$.ajaxSetup ({  
  cache: false  
});  

</script>

<div id="content">  
  <h1>Current Borrowing</h1>
  <div id="waitDiv">
    Loading... <img src="/wait.gif" alt="loading indicator">
  </div>
  
  <div id="myDiv">
    <div id="mylistDiv"></div>
  </div>
</div><!--div id content-->

<!-- passed in on template load, used in .js -->
<div id="pid" style="display:none"><TMPL_VAR name="pid"></div>

<!-- just to test i18n, temporarily... corresponding entry in PostgreSQL -->
<div id="DC-testing" style="display:none"></div>

<TMPL_INCLUDE NAME="footer.tmpl">
