<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
  $('document').ready(function(){
    $("#search-container").hide();
  });
</script>
  
<!--dev test-->
<div id="content">

  <table id="fill-table">
    <tr>
      <td>Your web browser</td>
      <td><TMPL_VAR NAME="http_user_agent"></td>
    </tr>
      
    <tr>
      <td>ENV variable</td>
      <td>Value</td>
    </tr>

    <TMPL_LOOP NAME="env_variable_loop">
      <tr>
        <td><TMPL_VAR NAME="name"></td>
        <td><TMPL_VAR NAME="value"></td>
      </tr>
    </TMPL_LOOP>

  </table>
</content>

<TMPL_INCLUDE NAME="footer.tmpl">
