<!-- End content -->



<footer role="contentinfo">
<div id="nav2">
  
    <a href=/cgi-bin/lightning.cgi?rm=environment_form>ENV display</a><span style="color:#aabdba;"> | </span><a href="?authen_logout=1">Log out</a>

  <p>
    <!-- The id="username" div is necessary: the username gets extracted (in 
	 fILL_client-public-x.y.js), and passed to the code that allows the patron 
	 to make an ILL request (we need to know who is making the request :-)
	 It doesn't have to be *here*, but it has to be somewhere....
      -->
<!--    <div id="username"><TMPL_VAR name="username"></div>
    <TMPL_VAR name="lid">
    <TMPL_VAR name="library">
-->
  </p>

</footer>

<div id="bison-container">
  <!--<a href="http://www.gov.mb.ca/chc/"><img class="bison" alt="Manitoba Bison Logo" title="Coordinated by the Public Library Service Branch of the Government of Manitoba Tourism, Culture, Heritage and Consumer Protection" src="/img/manitoba.gif"></a>-->
</div>

</div>

</body>
</html>
