<!DOCTYPE html>
<html lang="en">
<head><title><TMPL_VAR name="pagetitle"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--[if lt IE 9]>
  <script>
    var e = ("abbr,article,aside,audio,canvas,datalist,details," +
      "figure,footer,header,main,mark,menu,meter,nav,output," +
      "progress,section,time,video").split(',');
    for (var i = 0; i < e.length; i++) {
      document.createElement(e[i]);
    }
  </script>
<![endif]-->

<link type="text/css" rel="stylesheet" href="/css/fILL-public-accessible.1.1.css">
<link type="text/css" rel="stylesheet" href="/css/fILL-public-datatables.1.0.css">
<link type="text/css" rel="stylesheet" href="/css/feedstyles.1.1.css">

<link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.11.1/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="/plugins/DataTables-1.10.2/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/plugins/DataTables-1.10.2/extensions/TableTools/css/dataTables.tableTools.css">


<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>  <!-- change to jquer-1.11.1.min.js before going to production -->
 <script type="text/javascript" src="/plugins/jquery-ui-1.11.1/jquery-ui.js"></script>

<script type="text/javascript" src="/js/menu-counters-1.0.js"></script>

<!--  <script type="text/javascript" charset="utf8" src="/plugins/DataTables-1.10.2/media/js/jquery.js"></script> -->  <!-- THIS WILL CONFLICT WITH jquery-1.11.1.js INCLUDED ABOVE -->
 <script type="text/javascript" charset="utf8" src="/plugins/DataTables-1.10.2/media/js/jquery.dataTables.js"></script>
 <script type="text/javascript" language="javascript" src="/plugins/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.js"></script>


<script type="text/javascript">

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

</script>

<!-- Google analytics -->
<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21021258-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
</head>
<body class="example_alt_pagination">

<div id="container">
<!--header template from public folder-->

<!--***************ARIA MARKER 'BANNER'***************-->
<header role="banner">

  <div id="header-left">
    <div id="fill-logo"><a href="/"><img src="/img/fill-logo.png" alt="fill"></a></div>
    <div id="fill-tagline"><p id="fill-tagline">connecting libraries, serving patrons.</p></div>
  </div>

  <div id="header-right">
    <div id="logout-button"><a href="?authen_logout=1" type="button" role="button" id="fill-button" class="public-style">log out</a></div>
    <div id="patron-info">
  <!-- The id="username" div is necessary: the username gets extracted (in 
       fILL_client-public-x.y.js), and passed to the code that allows the patron 
       to make an ILL request (we need to know who is making the request :-)
       It doesn't have to be *here*, but it has to be somewhere....
    -->
        <div id="username"><TMPL_VAR name="username"></div>
        <p><TMPL_VAR name="library"></p>
        <p style="display:none"><TMPL_VAR name="lid"></p>
    </div>
  </div>

</header>
    
<!--***************ARIA MARKER 'NAVIGATION'***************-->
<nav role="navigation" id="pub-nav-primary">
  <ul class="inline-items">
    <li><a id="menu_search" href="/cgi-bin/public.cgi?rm=search_form">Home</a></li>
    <li><a id="menu_myaccount" href="/cgi-bin/public.cgi?rm=myaccount_form">My Account</a></li>
    <li><a id="menu_current" href="/cgi-bin/public.cgi?rm=current_form">Current Borrowing</a></li>
    <li><a id="menu_about" href="/cgi-bin/public.cgi?rm=about_form">About</a></li>
    <li><a id="menu_help" href="/cgi-bin/public.cgi?rm=help_form">Help</a></li>
    <li><a id="menu_faq" href="/cgi-bin/public.cgi?rm=faq_form">FAQ</a></li>
    <li><a id="menu_contact" href="/cgi-bin/public.cgi?rm=contact_form">Contact</a></li>
  </ul>
</nav>

<!--***************ARIA MARKER 'SEARCH'***************-->
<div id="search-container">
  <div id="search" role="search">
    <form id="searchForm" action="/cgi-bin/public.cgi" method="post" name="search">
      <!-- The <input id="query"...> also needs name="query"; it is used by public.pm's 
	search_process to feed the *real* search page -->
      <input id="query" type="text" name="query" size="50px" placeholder="Search" value="<TMPL_VAR name='query'>">
      <input id="rm" type="hidden" name="rm" value="search_form">
      <input type="submit" value="Go" class="public-style">
    </form>
  </div>
</div> <!-- search-container -->

</div><!--container div-->
<!-- Begin content -->
