<!DOCTYPE html>
<html lang="en">
<head><title><TMPL_VAR name="pagetitle"></title>
<!-- <link type="text/css" rel="stylesheet" href="/fILL-public.1.0.css"> -->
<link type="text/css" rel="stylesheet" href="/feedstyles.1.1.css">
<link type="text/css" rel="stylesheet" href="/fILL-public-accessible.1.1.css">
<link type="text/css" rel="stylesheet" href="/fILL-public-datatables.1.0.css">

<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/media/css/demo_page.css">
<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/media/css/demo_table.css">
<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/media/css/demo_table_jui.css">
<link type="text/css" rel="stylesheet" href="/css/fILL-chill/jquery-ui-1.8.16.custom.css"/>
<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/extras/TableTools/media/css/TableTools_JUI.css">

<script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/menu-counters-1.0.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugins/DataTables-1.8.2/media/js/jquery.dataTables.js"></script>

<script src="/plugins/DataTables-1.8.2/extras/TableTools/media/js/ZeroClipboard.js" charset="utf-8" type="text/javascript"></script>
<script src="/plugins/DataTables-1.8.2/extras/TableTools/media/js/TableTools.js" charset="utf-8" type="text/javascript"></script>

<script type="text/javascript" src="/plugins/dataTables.fnReloadAjax.js"></script>

<script type="text/javascript">

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

</script>

<!-- Google analytics -->
<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21021258-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
</head>
<body class="example_alt_pagination">

<div id="container">
  <!--ARIA MARKER 'BANNER'-->
  <header role="banner">
    <img src="/img/fill-logo.png" class="fill-logo" alt="fill"> <p class="fill-tagline">connecting libraries. serving patrons.</p>
    <a href="?authen_logout=1"><button class="button-right">log out</button></a>
  </header>
  
  <!--***************ARIA MARKER 'NAVIGATION'***************-->
  <nav role="navigation">
    <ul class="nav inline-items">
      <li><a href="/cgi-bin/public.cgi?rm=search_form">home</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=myaccount_form">my account</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=current_form">current borrowing</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=about_form">help</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=contact_form">contact</a></li>
    </ul>
  </nav>

  <div id="search-container">
    <!--***************ARIA MARKER 'SEARCH'***************-->
    <div id="search" role="search">
      <form action="/cgi-bin/public.cgi" method="post" name="search">
	<h2>search manitoba libraries:</h2>
	<input id="query" type="text" name="query" size="50px">
	<input id="rm" type="hidden" name="rm" value="search_form">
	<input id="button" type="submit" value="search" class="butlink">
      </form>
    </div>
  </div> <!-- search-container -->

  <!--***************ARIA MARKER 'COMPLIMENTARY'***************-->
  <div id="aside" class="aside" role="complimentary">
    <div id="stat"></div>
    <div id="leftcontent"></div>
    <div id="termlist"></div>
  </div>


    <main class="main" id="main" role="main">

<!-- Begin content -->
