<!DOCTYPE html>
<html lang="en">
<head><title><TMPL_VAR name="pagetitle"></title>
<!-- <link type="text/css" rel="stylesheet" href="/fILL-public.1.0.css"> -->
<link type="text/css" rel="stylesheet" href="/css/feedstyles.1.1.css">
<link type="text/css" rel="stylesheet" href="/css/fILL-public-accessible.1.1.css">
<link type="text/css" rel="stylesheet" href="/css/fILL-public-datatables.1.0.css">

<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/media/css/demo_page.css">
<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/media/css/demo_table.css">
<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/media/css/demo_table_jui.css">
<link type="text/css" rel="stylesheet" href="/css/fILL-chill/jquery-ui-1.8.16.custom.css"/>
<link type="text/css" rel="stylesheet" href="/plugins/DataTables-1.8.2/extras/TableTools/media/css/TableTools_JUI.css">

<script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/menu-counters-1.0.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugins/DataTables-1.8.2/media/js/jquery.dataTables.js"></script>

<script src="/plugins/DataTables-1.8.2/extras/TableTools/media/js/ZeroClipboard.js" charset="utf-8" type="text/javascript"></script>
<script src="/plugins/DataTables-1.8.2/extras/TableTools/media/js/TableTools.js" charset="utf-8" type="text/javascript"></script>

<script type="text/javascript" src="/plugins/dataTables.fnReloadAjax.js"></script>

<script type="text/javascript">

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

  function set_secondary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

</script>

<!-- Google analytics -->
<!--
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21021258-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
-->
</head>
<body class="example_alt_pagination">

<div id="container">
<!--header template from public folder-->

<!--***************ARIA MARKER 'BANNER'***************-->
<header role="banner">
  <div id="header_logo_div">
    <a href="/"><img src="/img/fill-logo.png" class="fill-logo" alt="fill"></a><p class="fill-tagline">connecting libraries, serving patrons.</p>
  </div>

  <div id="logout_button_div">
    <a href="?authen_logout=1" type="button" role="button" id="fill-button">log out</a>
  </div>

  <div id="patron_header_info">
    <!-- The id="username" div is necessary: the username gets extracted (in 
	 fILL_client-public-x.y.js), and passed to the code that allows the patron 
	 to make an ILL request (we need to know who is making the request :-)
	 It doesn't have to be *here*, but it has to be somewhere....
      -->
    <div id="username"><TMPL_VAR name="username"></div>
    <p><TMPL_VAR name="library"></p>
    <p style="display:none"><TMPL_VAR name="lid"></p>
  </div>

</header>
  
<!--***************ARIA MARKER 'NAVIGATION'***************-->
<nav role="navigation">
  <ul class="nav inline-items">
    <li><a id="menu_search" href="/cgi-bin/public.cgi?rm=search_form">Home</a></li>
    <li><a id="menu_myaccount" href="/cgi-bin/public.cgi?rm=myaccount_form">My Account</a></li>
    <li><a id="menu_current" href="/cgi-bin/public.cgi?rm=current_form">Current Borrowing</a></li>
    <li><a id="menu_about" href="/cgi-bin/public.cgi?rm=about_form">About</a></li>
    <li><a id="menu_about" href="/cgi-bin/public.cgi?rm=help_form">Help</a></li>
    <li><a id="menu_faq" href="/cgi-bin/public.cgi?rm=faq_form">FAQ</a></li>
    <li><a id="menu_contact" href="/cgi-bin/public.cgi?rm=contact_form">Contact</a></li>
  </ul>
</nav>

<!--***************ARIA MARKER 'SEARCH'***************-->
<div id="search-container">
  <div id="search" role="search">
    <form id="searchForm" action="/cgi-bin/public.cgi" method="post" name="search">
      <!-- The <input id="query"...> also needs name="query"; it is used by public.pm's 
	search_process to feed the *real* search page -->
      <input id="query" type="text" name="query" size="50px" placeholder="Search" value="<TMPL_VAR name='query'>">
      <input id="rm" type="hidden" name="rm" value="search_form">
      <input type="submit" value="Go">
    </form>
  </div>
</div> <!-- search-container -->

</div><!--container div-->
<!-- Begin content -->
