<TMPL_INCLUDE NAME="header.tmpl">
<!--<link type="text/css" rel="stylesheet" href="/css/fILL-public-accessible.1.1.css">-->
<script type="text/javascript">
    set_primary_tab("menu_help");
</script>

<div id="clear"></div>

<div id="content">
  <!--
      <div id="aside-img-left">
	<img src='/img/fill-help.jpg' alt="Three children sitting on a couch in the library reading books"/>
	<p class="note">Image care of <a href="https://www.flickr.com/photos/sanjoselibrary/2839834669/">the San Jose Library</a></p>
      </div>
      -->
  <div role="main">
    <h1 id="help-header">Search Tutorial</h1>
    
    <h2 id="how-to-search">How to search for and request interlibrary loan items</h2>
    
    <h3 id="step-1">Step 1 – Where to complete a search</h3>
    <p id="step-1a">Complete a search from any one of the tabs in the fILL website.</p>
    <img class="help-img" alt="screenshot of search area" src="/img/<TMPL_VAR name='lang'>/help01.png"/>
    
    <h3 id="step-2">Step 2 – How to complete a search</h3>
    <p id="step-2a">Enter your search terms in to the search bar at the top of the screen, and click “Go”.</p>
    <img class="help-img" alt="Screenshot typing into search area" src="/img/<TMPL_VAR name='lang'>/help02.png"/>
    
    <h3 id="step-3">Step 3 – When is my search complete</h3>
    <img class="help-img-float" alt="Screenshot of progress bar" src="/img/<TMPL_VAR name='lang'>/help03.png" />
    <p id="step-3a">The search will begin, and your page will start updating.  Wait for the search timer to finish.</p>
    <p id="step-3b">Your search results will look like this:</p>
    <img class="help-img" alt="Screenshot  of a list of 8 search results" src="/img/<TMPL_VAR name='lang'>/help04.png" />
    
    <h3 id="step-4">Step 4 – Click on the title you are interested in.</h3>
    <img class="help-img" alt="Screenshot of a search result expanded" src="/img/<TMPL_VAR name='lang'>/help05.png" />
    <p id="step-4a">If this is the book you'd like to request, click on the “Request” button.</p>
    <img class="help-img" alt="Screenshot of the request button being clicked" src="/img/<TMPL_VAR name='lang'>/help06.png" />
    <p id="step-4b">If this isn't the right book, click on the title again to hide the details, and try another title.</p>
    <p id="step-4c">You're done!</p>
    <p id="step-4d">If you decide you don’t want this item after all, you can cancel your request right away.</p>
    <img class="help-img" alt="Screenshot of the cancel request button is now shown" src="/img/<TMPL_VAR name='lang'>/help07.png"/>
    
    
    <h2 id="power-user">Becoming a Power-user!</h2>
    
    <h3 id="refining">Refining your search</h3>
    <img class="help-img" alt="Screenshot of search refinement options that appear in the aside section after a search" src="/img/<TMPL_VAR name='lang'>/help08.png" />
    <p id="refining-1">In your search results page, along the left-hand side, there is a list of all of the subjects and authors that were found in all of the records your search returned.</p>
    <p id="refining-2">The number in parenthesis counts how many of your results have that particular subject or author.</p>
    <p id="refining-3">Clicking on a subject or author will refine your search terms by adding that specific information. The system will re-do the search with your new terms.</p>
    <p id="refining-4">You can continue to refine your results as often as you need.</p>
    <p id="refining-5">Or you can enter a completely new search into the search bar at the top of the screen.</p>
    
    <h3 id="sorting-results">Sorting the results, and moving from page to page</h3>
    <img class="help-img-float" alt="Screenshot of dropdown list, choose from 4 options, relevance, title, newest, oldest" src="/img/<TMPL_VAR name='lang'>/help09.png"/>
    <p id="sorting-results-1">Search results are sorted by <strong>relevance</strong> by default. This will place the books that most closely match your search terms at the top of the list.</p>
    <p id="sorting-results-2">You can choose to sort by title or by publication date, by clicking the “Sort by” button at the top of the results list.</p>
    <p id="sorting-results-3">You can page through your results by clicking on the “<strong>&lt;&lt; Prev</strong>” and “<strong>Next &gt;&gt;</strong>” links, or by choosing a page number to jump to.</p>
    <p><a href="/patrons-searching-tutorial.pdf"><span id="sorting-results-4">Click here to download a PDF of this tutorial.</span></a></p>
    
  </div><!-- role=main -->
</div><!--content div-->
  
<!-- just to test i18n, temporarily... corresponding entry in PostgreSQL -->
<div id="DC-testing" style="display:none"></div>

<TMPL_INCLUDE NAME="footer.tmpl">
