<TMPL_INCLUDE NAME="header.tmpl">
<link type="text/css" rel="stylesheet" href="/css/fILL-public-accessible.1.1.css">
<script type="text/javascript">
    set_primary_tab("menu_help");
</script>

<div id="clear"></div>

<div id="content">
<!--
  <div id="aside-img-left">
      <img src='/img/fill-help.jpg' alt="Three children sitting on a couch in the library reading books"/>
      <p class="note">Image care of <a href="https://www.flickr.com/photos/sanjoselibrary/2839834669/">the San Jose Library</a></p>
  </div>
-->
<div role="main">
<h2>Help</h2>

	<p>Here is a tutorial on using fILL to find and request titles from any Manitoba public library:</p>

	<object class="fill-help" data="/patrons-searching-tutorial.pdf" type="application/pdf" height="900">
	  alt : <a href="/patrons-searching-tutorial.pdf">Patrons - Searching tutorial.pdf</a>
	</object>
  <p>Or click here to <a href="/patrons-searching-tutorial.pdf">download PDF</a>[285 KB]</p>

</div><!--content div-->

<!--
      <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
      <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
-->


<TMPL_INCLUDE NAME="footer.tmpl">
