<TMPL_INCLUDE NAME="header_public.tmpl">
    <p>sessionid=<TMPL_VAR NAME="sessionid"></p>
    <p><a href="public.cgi?rm=results_form">Go see the results....</a>
<TMPL_INCLUDE NAME="footer_public.tmpl">
