<TMPL_INCLUDE NAME="header.tmpl">

<div id="content">

  <h1>Language unavailable</h1>
  <p>That language is not available.</p>
  <p>Please select a language from the list of available languages in the
    upper right corner of the page.</p>
  <p>If you would like to get involved in the fILL translation project,
    please contact Public Library Services at
    <a href="mailto:pls@gov.mb.ca">pls@gov.mb.ca</a> - we'd love to hear
    from you!
  </p>

</div><!--div id content-->

<!--
      <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
      <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>
-->


<TMPL_INCLUDE NAME="footer.tmpl">
