<TMPL_INCLUDE NAME="header.tmpl">

<div class="clear">

	<div id="container">
		<h1>Logged out</h1>
	<p style="display:none">Logged in as [<TMPL_VAR NAME="username">]</p>
	<p style="display:none">Session id [<TMPL_VAR NAME="sessionid">]</p>
	<p>Thanks for using fILL!</p>
		<form METHOD=POST ACTION="">
		     <input TYPE="hidden" NAME="rm" VALUE="search_form">
		     <input type="submit" name="submit" value="Log in" />
		</form>
	</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
