<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
$('document').ready(function(){

    $("#search").hide();
    $(".inline-items").children().hide();
    $("#fill-button").hide();  // hide the logout button, as it makes no sense here
    $("#theme1").hide();
    $("#theme2").hide();
    $("#theme3").hide();
    $("#incrFont").hide();
    $("#decrFont").hide();
    $("#resetFont").hide();

});
</script>

<div class="clear">

  <div id="content">
    <h1 id="logged-out-header"><TMPL_VAR name="logged_out_header"></h1>
    <p style="display:none">Logged in as [<TMPL_VAR NAME="username">]</p>
    <p style="display:none">Session id [<TMPL_VAR NAME="sessionid">]</p>
    <p id="thanks"><TMPL_VAR name="thanks"></p>
    <form METHOD=POST ACTION="">
      <input TYPE="hidden" NAME="rm" VALUE="search_form">
      <input type="submit" name="submit" value="<TMPL_VAR NAME='login_button_text'>" class="public-style" />
    </form>
  </div>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
