<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">

//set_primary_tab("menu_myaccount");

$.ajaxSetup ({  
  cache: false  
});  

function toggleChangePassDiv() {
  $("#divChangePass").toggle();
  $("#showChangePassButton").toggle();
  return false;
}

function change_password() {
  var $myForm=$("#changePassword_form");
  $.getJSON('/cgi-bin/change-patron-password.cgi', $myForm.serialize(),
            function(data){
//                alert('...');
            })
      .success(function( data ) {
          if (data.success) {
              alert('Your password has been changed.');
          } else {
              alert('Your password could not be changed.\nPlease contact your library.');
          }
          $("#pass").val("");
          $("#newpass").val("");
          $("#newpass2").val("");
          toggleChangePassDiv();
      })
      .error(function( data ) {
          alert('Error changing password.');
      })
      .complete(function() {
      });
}

$('document').ready(function(){

    $("#changePassword_form").submit(function( event ) {
      if ( $("#newpass").val() === $("#newpass2").val() ) {
          change_password();
      } else {
          alert("Retyped password doesn't match original new password.");
          $("#newpass").val("");
          $("#newpass2").val("");
          $("#newpass").focus();
      }
      event.preventDefault();
    });

    $("#cancel").click(function( event ) {
      $("#divChangePass").toggle();
      $("#showChangePassButton").toggle();
      event.preventDefault();
    });  

});

</script>


<div id="main">
  <div id="myDiv">
    <h3>My Account</h3>
    <table id="myaccount" width="100%">
      <tr><td>Name</td><td><TMPL_VAR name="name"></td></tr>
      <tr><td>fILL username</td><td><TMPL_VAR name="username"></td></tr>
      <tr><td>Home library</td><td><TMPL_VAR name="library"></td></tr>
      <tr><td>Account status</td><td><TMPL_VAR name="is_enabled"></td></tr>
      <tr><td>fILL Patron ID#</td><td id="pid"><TMPL_VAR name="pid"></td></tr>
    </table>
  </div>
  
  <a id="showChangePassButton" class="butlink" href="javascript:void(0)" onclick="toggleChangePassDiv()">Change password</a>

  <div id="divChangePass" style="display:none; border:1px solid #000000;">
    <form id="changePassword_form" name="changePassword" action="" method="post">
      <table>
	<tr>
	  <td>Current password:</td>
	  <td><input type="password" name="pass" id="pass"></td>
	</tr>
	<tr>
	  <td>New password:</td>
	  <td><input type="password" name="newpass" id="newpass"></td>
	</tr>
	<tr>
	  <td>Re-type new password:</td>
	  <td><input type="password" name="newpass2" id="newpass2"></td>
	</tr>
      </table>
      <input type="hidden" name="pid" value=<TMPL_VAR name="pid">>
      <input id="changePassword" type="submit" value="Change" class="butlink">
      <input id="cancel" type="button" value="Cancel" class="butlink">
    </form>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
