<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript" src="/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="/js/public-myaccount-1.0.js"></script>


<script type="text/javascript">

//set_primary_tab("menu_myaccount");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $('#leftcontent').html( "<h2>Instructions</h2><br/><p>Click on an underlined value to edit it.</p><br/><p>If 'is_enabled' is 0, your librarian has disabled your account.</p><br/><p>If 'is_verified' is 0, your librarian has not yet verified your account.</p>" );

    oTable = $('#datatable_myaccount').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bInfo": true,
      	"bSort": true,
	"sDom": '<"H"Tfr>t<"F"ip>',
        "iDisplayLength": 10,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	"oTableTools": {
                "sSwfPath": "/plugins/DataTables-1.8.2/extras/TableTools/media/swf/copy_cvs_xls_pdf.swf",
		"aButtons": [
			"copy", "csv", "xls", "pdf", "print",
			{
				"sExtends":    "collection",
				"sButtonText": "Save",
				"aButtons":    [ "csv", "xls", "pdf" ]
			}
		]
	},
        "aoColumns": [
            { "mDataProp": "setting", "sWidth": "20%" },
            { "mDataProp": "value", "sWidth": "80%" }
        ],
        "bAutoWidth": false
    });

    $.getJSON('/cgi-bin/get-patron-account.cgi', {lid: <TMPL_VAR name="lid">, pid: <TMPL_VAR name="pid"> },
            function(data){
                build_table(data);
           })
	.success(function() {
	    //alert('success');
	    /* Apply the jEditable handlers to the table */

	    //$('td:eq(2)', oTable.fnGetNodes()).editable( '/cgi-bin/update-patron-myaccount.cgi', {
	    $('.user-editable', oTable.fnGetNodes()).editable( '/cgi-bin/update-patron-myaccount.cgi', {
         	"submitdata": function ( value, settings ) {
	            //alert('1. value: '+value+'\nsettings: '+settings+'\nusersetting: '+this.parentNode.getAttribute('id')+'\n');
	            return {
		        "pid": <TMPL_VAR name="pid">,
		        "lid": <TMPL_VAR name="lid">,
	                "usersetting": this.parentNode.getAttribute('id')
		    };
        	},
	        "callback": function( sValue, y ) {
	            //alert('2. sValue: '+sValue);
	            var obj = jQuery.parseJSON( sValue );
	            //alert('3. data: '+obj.data);
		    var aPos = oTable.fnGetPosition( this );
		    oTable.fnUpdate( obj.data, aPos[0], aPos[1] );
	        },
	        "indicator": 'Saving...',
	        "tooltip": 'Click to edit...',
	        "select": true,
	        "height": "14px",
	        "width": "100%"
            } );

	})
	.error(function() {
	    //alert('error');
	})
	.complete(function() {
            //alert('ajax complete');
	});


    $('#datatable_myaccount tbody tr').live('mouseover mouseout', function (event) {
        if (event.type == 'mouseover') {
            $(this).addClass("ui-state-hover");
        } else {
            $(this).removeClass("ui-state-hover");
        }
    });

});

</script>


<div id="main">
<!--
  <div id="leftcontent">
    <h2>Instructions</h2>
    <br/>
    <p>Click on an underlined value to edit it.</p>
    <br/>
    <p>If 'is_enabled' is 0, your librarian has disabled your account.</p>
    <br/>
    <p>If 'is_verified' is 0, your librarian has not yet verified your account.</p>
  </div>
-->
  <div id="middlecontent">

    <div id="waitDiv">
      Loading... <img src="/wait.gif">
    </div>

    <div id="myDiv">
      <h3>My Account</h3>
      <div id="mylistDiv">
	<div class="dataTable_wrapper">
	  <table id="datatable_myaccount" width="100%">
	    <thead>
	      <tr>
		<th>Setting</th><th>Value</th>
	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>

  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
