<TMPL_INCLUDE NAME="header.tmpl">
<script type="text/javascript" src="/js/patron-registration-1.1.js"></script>

<!-- A bit of custom css for this page only -->
<style type="text/css">
  div + div { margin-bottom: 10px; }
</style>

<script type="text/javascript">

//set_primary_tab("menu_current");

$.ajaxSetup ({  
  cache: false  
});  

</script>

<div id="clear"></div>
<div id="content">
  <div id="aside-img-left">
    <img src="/img/regional_map.png" alt="map of Manitoba with all the regions listed">
  </div>

  <div id="main-info-right" class="tone-box">

      <div id="waitDiv">
        Loading... <img src="/wait.gif" alt="loading indicator">
      </div>

      <div id="region">
      </div>
    <p> </p>

      <div id="libraries" style="display:none; clear:both;">
      </div>
    <p> </p>
</div>
 <div id="main-info-right">
    <div id="registration" style="display:none; clear:both;">
      <br/>
      <h2>Registration form</h2>
      <form id="registration_form" action="/cgi-bin/register-patron.cgi" method="POST">

	<!-- NOTE: the input field ids are used in the register_patron function
	     in patron-registration-1.0.js to pull the data from the fields and
	     create the paramters to the ajaxy cgi-bin/register-patron.cgi

	     This form's submit is captured (above, in the document.ready() function)
	     to do some minimal validation before actually submitting.
	  -->

        <table id="fill-table">
	  <tr>
	    <th>Home library</th>
	    <td><p id="home_library_name"></p></td>
	  </tr>
          <tr>
            <th>Home library location</th>
            <td><p id="home_library"></p></td>
          </tr>
          <tr>
            <th>Your name</th>
            <td><input type="text" id="patron_name"></td>
          </tr>
          <tr>
            <th>Library card number</th>
            <td><input type="text" size="13" maxlength="14" id="barcode"></td>
          </tr>
          <tr>
            <th>Email address</th>
            <td><input type="text" id="email_address"></td>
          </tr>
          <tr>
            <td colspan="2"><strong>You also need to choose a username and password for this system:</strong></td>
          </tr>
          <tr>
            <th>Username</th>
	    <!-- this id="username" was conflicting with the username in the header,
		 so I've renamed this one to "reg_username". -->
            <td><input type="text" id="reg_username" size=30 maxlength=50><br><p id="username_message"></p></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><input type="password" id="password" size=30 maxlength=50></td>
          </tr>
          <tr>
            <th>Re-type Password</th>
            <td><input type="password" id="password2" size=30 maxlength=50><br><p id="password_message"></p></td>
          </tr>
        </table>

        <input id="home_library_town" type="hidden">
	<!-- id "submitRegistration" is used in patron-registration-1.0.js to identify the button -->
        <input id="submitRegistration" class="button-left" type="submit" value="Submit">
      </form>
    </div>
    <br/>

    <div id="complete" style="display:none; clear:both;">
    </div>
    <p> </p>

  </div><!-- div id main-info-right -->
</div><!-- div id content -->
<TMPL_INCLUDE NAME="footer.tmpl">
