<TMPL_INCLUDE NAME="header.tmpl">
<script type="text/javascript" src="/js/patron-registration-1.0.js"></script>

<!-- A bit of custom css for this page only -->
<style type="text/css">
  div + div { margin-bottom: 10px; }
</style>

<script type="text/javascript">

//set_primary_tab("menu_current");

$.ajaxSetup ({  
  cache: false  
});  

$('document').ready(function(){

    $("#search").hide();
    $(".inline-items").children().hide();
    $(".inline-items").children(":contains('home')").show();

    $.getJSON('/cgi-bin/get-map-regions.cgi', 
            function(data){
                build_region_div(data);
           })
        .success(function() {
            //alert('success');
        })
        .error(function(data) {
            alert('error');
        })
        .complete(function() {
            //alert('ajax complete');
        });

    $("#registration_form").submit(function( event ) {
        if (ValidateForm()) {
            register_patron();
        }
        event.preventDefault();
    });

    $( "#username" ).blur(function() {

        if ($("#username").val() === undefined || $("#username").val().length == 0) {
            // nothing to check yet
        } else {
            $.getJSON('/cgi-bin/check-username.cgi', { username: $("#username").val() },
                function(data){
                    if (data.exists == 1) {
                        $("#username_message").text("Sorry, that username is taken.  Please try a different username.");
                        $("#username_message").stop(true,true).effect("highlight", {}, 2000);
                        $("#username").focus();
                    } else {
                        $("#username_message").text("Username is unique, good!");
                    }
                })
            .success(function() {
                //alert('success');
            })
            .error(function(data) {
                alert('error');
            })
            .complete(function() {
                //alert('ajax complete');
            });
        }
    });

});

</script>


<div id="main">

  <div id="waitDiv">
    Loading... <img src="/wait.gif">
  </div>

  <div id="region">
  </div>
  <p> </p>

  <div id="libraries" style="display:none; clear:both;">
  </div>
  <p> </p>

  <div id="registration" style="display:none; clear:both; border: 1px solid #000">
    <br/>
    <h2>Registration form</h2>
    <form id="registration_form" action="/cgi-bin/register-patron.cgi" method="POST">
      <table>
	<tr>
	  <td>Home library</td>
	  <td><p id="home_library"></p></td>
	</tr><tr>
	  <td>Your name</td>
	  <td><input type="text" id="patron_name" name="patron_name"></td>
	</tr><tr>
	  <td>Library card number</td>
	  <td><input type="text" id="barcode" name="patron_card"></td>
	</tr><tr>
	  <td>Email address</td>
	  <td><input type="text" id="email_address" name="patron_email"></td>
	</tr><tr>
	  <td colspan="2">You also need to choose a username and password for this system:</td>
	</tr><tr>
	  <td>Username</td>
	  <td><input type="text" id="username" name="patron_username" size=30 maxlength=50></td>
	  <td><p id="username_message"></p></td>
	</tr><tr>
	  <td>Password</td>
	  <td><input type="text" id="password" name="patron_password" size=30 maxlength=50></td>
	</tr>
      </table>
      <input id="home_library_town" type="hidden">
      <input id="submitRegistration" type="submit" value="Submit" class="butlink">
    </form>
  </div>
  <br/>

  <div id="complete" style="display:none; clear:both;">
  </div>
  <p> </p>

</div>

<TMPL_INCLUDE NAME="footer_public.tmpl">
