<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
  function toggleLayer( whichLayer )
  {
    var elem, vis;
    if( document.getElementById ) // this is the way the standards work
      elem = document.getElementById( whichLayer );
    else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
    else if( document.layers ) // this is the way nn4 works
      elem = document.layers[whichLayer];

    vis = elem.style;
    // if the style.display value is blank we try to figure it out here
    if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
      vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
    vis.display = (vis.display==''||vis.display=='block')?'none':'block';
  }
</script>

<div id="main">

  <div id="leftcontent">
  </div>

  <div id="middlecontent">
    <h2>Your request has been placed</h2>
    <table>
      <tr><td>Requesting user</td><td>: <TMPL_VAR NAME="username"></td></tr>
      <tr><td>Title</td><td>: <TMPL_VAR NAME="title"></td></tr>
      <tr><td>Author</td><td>: <TMPL_VAR NAME="author"></td></tr>
      <tr><td>Medium</td><td>: <font style="background-color: yellow;"><TMPL_VAR name="medium"></font></td></tr>
    </table>
    <p>Your librarian will see if another Manitoba public library is able to lend this title to
      <TMPL_VAR NAME="library"> at this time.</p>
  </div>

  <div id="rightcontent">
    <h2>Information</h2>
    <p> </p>
  </div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
