<TMPL_INCLUDE NAME="header_public.tmpl">

<!-- 
     Currently, we'll never get here because the patron account must be enabled
     in order for the patron to log in.
-->

<div id="main">

  <div id="leftcontent">
  </div>

  <div id="middlecontent">

    <h1>Requesting not enabled</h1>
    <p>I'm sorry, the requesting function of your account has been disabled.</p>
    <p>Please contact your library to enable requesting.</p>
    <br />
    <p><a href="?rm=results_form">Return to search results</a>

  </div>

  <div id="rightcontent">
  </div>

</div>

<TMPL_INCLUDE NAME="footer_public.tmpl">
