<TMPL_INCLUDE NAME="header_public.tmpl">

<div id="main">

  <div id="middlecontent">

    <form METHOD=POST ACTION="">
      <TMPL_IF NAME=error_sendmail>
	<br />
	<h2>We've had a problem sending the email automatically</h2>
	<p>Maplin has encountered a problem sending this request.</p>
	<p>You can send this request to your library manually by using your
	  own email program (eg: GMail, Outlook, Hotmail, etc).</p><br />
	<ol>
	  <li>Create a new email to your library (you can copy the email address from the "To:" field, below)</li>
	  <li>Copy the information in the "Subject:" line, below, into the subject of your new email.</li>
	  <li>Copy everything between the "--- copy from here ---" and "--- copy to here ---" lines, and paste that into the body of your new email.</li>
	</ol><br />
	<p>When you send that email, your library will have everything they need to process your request.</p><br />
	<hr>
      </TMPL_IF>

<!--
      <TMPL_UNLESS NAME=error_sendmail>
	<p><TMPL_VAR NAME="from"></p>
      </TMPL_UNLESS>
-->

      <p><TMPL_VAR NAME="to"></p>

      <TMPL_UNLESS NAME=error_sendmail>
	<p><TMPL_VAR NAME="cc"></p>
	<p><TMPL_VAR NAME="reply_to"></p>
      </TMPL_UNLESS>

      <p><TMPL_VAR NAME="subject"></p>
      <hr>
      <p><pre><TMPL_VAR NAME="content"></pre></p>
      <p />
      <input type="hidden" name="rm" value="send_email_form">
      <TMPL_IF NAME=sent>
	<TMPL_IF NAME=error_sendmail>
	  <!-- anything else we want to say here? -->
	<TMPL_ELSE>
	  <div id="email_sent">
	    <h2>Email has been sent.</h2>
	  </div>
	</TMPL_IF>

      <TMPL_ELSE>
	<p><br /><p>
	  <input type="submit" name="submit" value="Send this request to your library!">
      </TMPL_IF>
    </form>
    <p><br /></p>
    <p><a href="?rm=results_form">Return to search results.</a></p>

  </div>

</div>

<TMPL_INCLUDE NAME="footer_public.tmpl">
