<TMPL_INCLUDE NAME="header_public.tmpl">

<div id="main">

  <div id="leftcontent">
  </div>

  <div id="middlecontent">

    <h1>Request limit exceeded</h1>
    <p>I'm sorry, you are already at your limit for requests.</p>
    <p>When your library verifies your account, this limitation will be removed.</p>
    <br />
    <p><a href="?rm=results_form">Return to search results</a>

  </div>

  <div id="rightcontent">
  </div>

</div>

<TMPL_INCLUDE NAME="footer_public.tmpl">
