<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><TMPL_VAR name="pagetitle"></title>
<!--  <link rel="stylesheet" href="/fILL-public.1.0.css"></link> -->
  <link rel="stylesheet" href="/fILL-public-accessible.1.1.css"></link>
  <link rel="stylesheet" href="/fILL-public-datatables.1.0.css"></link>
  <script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="/js/pz2.js"></script>
  <script type="text/javascript" src="/js/fILL_client-public-1.8.js"></script>

<script type="text/javascript">

  function set_primary_tab(tab_id) {
    document.getElementById(tab_id).className='current_tab';
  }

</script>

<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21021258-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
  function searchHelp(e) {
    alert("Search help\n\nfILL does a general keyword search by default.\n\nAdvanced searching\n\nSpecific title:  \tti=\"The case for mars\"\nSpecific author:\tau=\"Zubrin, Robert\"\nSpecific subject:\tsu=\"mars planet\"\nSeries:\tseries=\"fear street\"\n\nYou can combine these using the connectors AND, OR, NOT:\n\n\tau=\"david drake\" and au=\"eric flint\"\n\n\tti=\"cooking\" and su=\"solar\"\n\n\tti=\"cooking\" not su=\"microwave\"");
  }
</script>

<script type="text/javascript">
  $('document').ready(function(){
    $("#image").append("<img src=/img/holmesprofile2.png>");

    $("#query").focus();
  });
</script>

 </head>
 
 <body onload="domReady();">

  <div id="noscript">
    <noscript>
	<p>Your browser does not support or allow execution of scripts required by this site to work properly.</p>
	<p>If you run Internet Explorer 6+ or FireFox 2.0+ and see this message ensure the JavaScript is enabled in your browser.</p>
	<p>If you run Internet Explorer 7 add the site to the Trusted Sites group.</p>
	<p>Finally, check your personal firewall settings.</p>
    </noscript>
  </div>

<!-- from header.tmpl -->

<div id="container">
  <!--ARIA MARKER 'BANNER'-->
  <header role="banner">
    <img src="/img/fill-logo.png" class="fill-logo" alt="fill"> <p class="fill-tagline">connecting libraries. serving patrons.</p>
    <a href="?authen_logout=1"><button class="butlink">log out</button></a>
  </header>
  
  <!--***************ARIA MARKER 'NAVIGATION'***************-->
  <nav role="navigation">
    <ul class="nav inline-items">
      <li><a href="/cgi-bin/public.cgi?rm=search_form">home</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=myaccount_form">my account</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=current_form">current borrowing</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=about_form">help</a></li>
      <li><a href="/cgi-bin/public.cgi?rm=contact_form">contact</a></li>
    </ul>
  </nav>

  <div id="search-container">
    <!--***************ARIA MARKER 'SEARCH'***************-->
    <div id="search" role="search">
      <form id="searchForm" name="search">
	<h2>search manitoba libraries:</h2>
	<input id="query" type="text" size="50px" value="<TMPL_VAR name='query'>">
	<input id="button" type="submit" value="search" class="butlink">
      </form>
    </div>
  </div> <!-- search-container -->

  <!--***************ARIA MARKER 'COMPLIMENTARY'***************-->
  <div id="aside" class="aside" role="complimentary">
    <div id="image"></div>
    <div id="stat"></div>
    <div id="leftcontent"></div>
    <div id="termlist"></div>
  </div>

    <main class="main" id="main" role="main">

<!-- Begin content -->


<!-- end header.tmpl -->
<!--
<script type="text/javascript">
  set_primary_tab("menu_search");
</script>
-->

  <div id="switchmenu" style="display: none">
   <a href="#" onclick="switchView('recordview')">Record Browser</a>
   <span> | </span>
   <a href="#" onclick="switchView('targetview')">Target Info</a>
  </div>
 
  <div id="recordview">
   <table width="100%" border="0" cellpadding="6" cellspacing="0">
    <tr>
     <td valign="top">

      <div id="AVnotice">
	<table>
	  <tr>
	    <td>
	      <img src="/img/Blue exclamation mark.png" alt="exclamation icon" style="float:left; vertical-align:middle"/>
	    </td><td>
	      <p>Note that, while items of all types (DVD, CD, etc) may be listed, individual libraries may not allow interlibrary loan of audiovisual matierial at this time.</p>
	    </td>
	  </tr>
	</table>
      </div>

      <div id="ranking" style="clear:left; display:none">
       <form name="select">
        <label for="sort">Sort by</label>
        <select name="sort" id="sort">
         <option value="relevance" selected="selected">relevance</option>
         <option value="title:1">title</option>
         <option value="date:0">newest</option>
         <option value="date:1">oldest</option>
        </select>
        and 
	<label for="perpage">show</label>
        <select name="perpage" id="perpage">
         <option value="10">10</option>
         <option value="20" selected="selected">20</option>
         <option value="30">30</option>
         <option value="50">50</option>
        </select>
        per page.
       </form>
      </div>

      <div id="pager"></div>
      <div id="navi"></div>
      <div id="results"></div>
     </td>
    </tr>
   </table>
  </div>
  
  <div id="targetview" style="display: none">
   <div id="bytarget">
       No information available yet.
   </div>
  </div>
  

<!-- End content -->
    </main>
</div> <!-- container -->
<footer role="contentinfo">
	Copyright © Site name, 20XX
	<div id="username"><TMPL_VAR name="username"></div>
	<TMPL_VAR name="lid">
	<TMPL_VAR name="library">
</footer>

</body>
</html>
