<TMPL_INCLUDE NAME="header.tmpl">

    <div id="content">

      <div>
	<p>Username: <TMPL_VAR name="username"></p>
	<p>Barcode: <TMPL_VAR name="barcode"></p>
	<p>OID: <TMPL_VAR name="oid"></p>
	<p>Library: <TMPL_VAR name="library"></p>
	<TMPL_VAR name="lang_data">
      </div>

      <div id="content">
	<div id="main-info-left" class="tone-box" role="main">
	  <h2 id="main-info-left-h2">TESTING</h2>
	  <p id="id-of-para"></p>
	  <p id="id-of-second-para"></p>
	</div><!--main-info-left-->
      </div><!--div id content-->
      
    </div><!-- div id content-->

<TMPL_INCLUDE NAME="footer.tmpl">

