<TMPL_INCLUDE NAME="header.tmpl">

<table cellpadding=20>
  <tr>
    <td style="width:385px"> <!-- image is 375px wide -->
      <img src='/img/card_catalogue.jpg' />
      <br/>
      <p class="short_instruction">
	Photo by Flickr user haaaley.  http://flickr.com/photos/misshaley/515045131/
      </p>
      <p class="short_instruction">
	Used under a Creative Commons Attribution-Noncommercial-Sharalike license.
      </p>
    </td>
    <td>
      <h1>Welcome!</h1>
      <br />
      <p>Welcome to the Manitoba public libraries interlibrary-loan requesting system.</p>
      <br />
      <p>This updated system, called 'fILL', gives you a new look and enhanced functionality over the old Maplin system.</p>
      <br/>
      <p>
	fILL enables you to quickly search the catalogues of many Manitoba public libraries at once.  When you find an item
	that you'd like to request, it allows you to ask your home library to try to get it for you.
      </p>
      <br/>
      <p>
	fILL does not keep any record of your searches or requests after your books are returned.  
	Logging in is necessary for your library to know who is making 	the request, but no information 
	linking your account to any searches or requests is kept after the ILL transaction is completed.
	Some non-identifying data may be retained for statistical purposes.
      </p>
      <br/>
      <br />
      <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
      <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>

    </td>
  </tr>
</table>

<TMPL_INCLUDE NAME="footer.tmpl">
