<TMPL_INCLUDE NAME="header_public.tmpl">

<script type="text/javascript">
  <!--
  set_primary_tab("menu_public_welcome");
  // -->
</script>

<!-- <table cellpadding="10"> -->
<table cellspacing="10">
  <tr>
    <td>
      <img src='/img/card_catalogue.jpg' />
      <br />
      <p class="short_instruction">
	Photo by Flickr user haaaley. http://flickr.com/photos/misshaley/515045131/
      </p><br />
      <p class="short_instruction">
	Used under a Creative Commons Attribution-Noncommercial-Sharalike license.
      </p>
    </td>

    <td>

      <h1>Welcome!</h1>
      <br />
      <p>Welcome to the beta test version of the Manitoba Public Libraries Network (Maplin) interlibrary-loan requesting system.</p>
      <br />
      <p>Maplin enables you to search the catalogues of many Manitoba public libraries at once.  When you find an item that you'd like to request, it allows you to send that information to your home library.<p>
	<br />
      <p>Maplin searches many different library catalogues simultaneously over the internet.  This is usually quite fast, but there may be delays depending on internet connections, whether a given library's server is accessible, or how broad your search terms are.</p>
      <br />
      <p>Maplin does not keep any record of your searches or requests.  Logging in is necessary for your library to know who is making the request, but no information linking your account to any searches or requests is kept after that transaction.</p>
      
    </td>
  </tr>
</table>

<TMPL_INCLUDE NAME="footer_public.tmpl">

