<TMPL_INCLUDE NAME="header.tmpl">

<div id="aside-img-left">
      <img src='/img/library-dude.png' alt="picture of a man next to library shelves"/>
</div>

<div id="main-info-right" class="tone-box">

      <h1>Welcome!</h1>
      <br />
      <p>Welcome to the Manitoba public libraries interlibrary loan requesting system.</p>
      <br />
      <p>
	fILL enables you to quickly search the catalogues of many Manitoba public libraries at once.  When you find an item
	that you'd like to request, it allows you to ask your home library to try to get it for you.
      </p>
      <br/>
      <strong>See the status of your interlibrary loan requests!</strong>
      <p>Click on the new menu item, <strong>Current borrowing</strong>, to see the status of all interlibrary loan requests
	that you currently have active.
      </p>
      <p>From this screen, you will be able to tell whether another library has been able to fill your request, when they
	shipped it, and when your library received it.
      </p>
      <p>The list shows only currently active requests - once you've returned an item to your library, and they've returned it
	to the lending library, the information is removed from the list.
      </p>
      <br/>
      <p style="text-decoration:underline;"><strong><a href="/Patrons%20-%20Searching%20tutorial.pdf">Download a quick tutorial about using fILL.</a></strong></p>
      <br/>
      <p>
	fILL does not keep any record of your searches or requests after your books are returned.  
	Logging in is necessary for your library to know who is making 	the request, but no information 
	linking your account to any searches or requests is kept after the ILL transaction is completed.
	Some non-identifying data may be retained for statistical purposes.
      </p>
      <br/>
      <br />

</div><!--main-info-right-->

      <p class="debuginfo">Logged in as [<TMPL_VAR NAME="username">]</p>
      <p class="debuginfo">Session id [<TMPL_VAR NAME="sessionid">]</p>



<TMPL_INCLUDE NAME="footer.tmpl">
